/*------------------------------------*\
    #PROJECT METADATA
\*------------------------------------*/

.c-project-metadata {
  &__title {
    font-size: $inuit-base-font-size * 1.5;
    line-height: 1.25;
    margin-bottom: calc($inuit-base-spacing-unit / 8);
  }
}
