/*------------------------------------*\
    #SITE TITLE
\*------------------------------------*/

/**
 * Site title styling
 */

.c-site-title {
  // font-weight: bold; // looks awful on iOS
  font-size: $inuit-base-font-size * 1.25;
  line-height: 1.25;
  margin-bottom: $inuit-base-spacing-unit / 4;
  @include mq($from: sm) {
    font-size: $inuit-base-font-size * 1.5;
  }
  @include mq($from: lg) {
    font-size: $inuit-base-font-size * 2;
  }
}

.c-site-title__link {
  color: $base-text-color-light;
  text-decoration: none;
  &:hover {
  	color: $base-text-color-light;
    text-decoration: underline;
  }
}
