/*------------------------------------*\
    #PORTFOLIO
\*------------------------------------*/

/**
 * Portfolio list styles. On the home page. For now.
 */

$image-base-padding: ($inuit-base-spacing-unit / 6) !default; // likely 24px

.c-portfolio__title {
  font-size: $inuit-base-font-size * 1.5;
  line-height: 1.25;
  margin-bottom: $inuit-base-spacing-unit / 4;
  @include mq($from: md) {
    font-size: $inuit-base-font-size * 1;
  }
  @include mq($from: lg) {
    font-size: $inuit-base-font-size * 1.25;
  }
}

.c-portfolio__title--home {
  font-size: $inuit-base-font-size * 1;
  margin-top: $inuit-base-spacing-unit / 4;
  margin-bottom: 0;
  @include mq($from: lg) {
    font-size: $inuit-base-font-size * 1.25;
  }
}

.c-portfolio__item {
  margin-bottom: $inuit-base-spacing-unit * 1.5;
  &:last-child {
    margin-bottom: 0;
  }
}

.c-portfolio__description {
  margin-top: $inuit-base-spacing-unit / 3;
  @include mq($from: md) {
    margin-top: $inuit-base-spacing-unit * 1;
  }
  @include mq($from: lg) {
    margin-top: $inuit-base-spacing-unit * 1.25;
  }
}

.c-portfolio__img {
  border-radius: $image-base-padding;
}
