/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

/**
 * Image styling
 */

$image-base-padding: calc($inuit-base-spacing-unit / 6) !default; // likely 24px / 6 = 4px

.c-img {
  margin-bottom: $inuit-base-spacing-unit;
}

.c-img--bordered {
  border: 1px solid $base-border-color;
}

.c-img--rounded {
  border-radius: $image-base-padding;
}

.c-img--padded {
  padding: $image-base-padding;
}

.c-img__caption {
  margin-top: (-$inuit-base-spacing-unit) + calc($inuit-base-spacing-unit / 4);
  margin-bottom: $inuit-base-spacing-unit;
  font-size: 13px;
  color: $base-text-color-medium;
}
