/*------------------------------------*\
    #COPYRIGHT
\*------------------------------------*/

.c-copyright {
  font-size: 14px;
  padding-top: calc($inuit-base-spacing-unit / 2);
  @include mq($from: md) {
    text-align: right;
  }
}
