/*------------------------------------*\
    #RESPONSIVE
\*------------------------------------*/

/**
 * Utilities for doing responsive things
 */
@mixin hidden {
  display: none;
}

@mixin visibleblock {
  display: block;
}

@mixin visibleinline {
  display: inline;
}

.u-is-hidden {
  @include hidden;
}
.u-is-visibleblock {
  @include visibleblock;
}
.u-is-visibleinline {
  @include visibleinline;
}

@include mq($from: xs) {
  .u-is-hidden\@xs {
    @include hidden;
  }
  .u-is-visibleblock\@xs {
    @include visibleblock;
  }
  .u-is-visibleinline\@xs {
    @include visibleinline;
  }
}

@include mq($from: sm) {
  .u-is-hidden\@sm {
    @include hidden;
  }
  .u-is-visibleblock\@sm {
    @include visibleblock;
  }
  .u-is-visibleinline\@sm {
    @include visibleinline;
  }
}

@include mq($from: md) {
  .u-is-hidden\@md {
    @include hidden;
  }
  .u-is-visibleblock\@md {
    @include visibleblock;
  }
  .u-is-visibleinline\@md {
    @include visibleinline;
  }
}

@include mq($from: lg) {
  .u-is-hidden\@lg {
    @include hidden;
  }
  .u-is-visibleblock\@lg {
    @include visibleblock;
  }
  .u-is-visibleinline\@lg {
    @include visibleinline;
  }
}
@include mq($from: xl) {
  .u-is-hidden\@xl {
    @include hidden;
  }
  .u-is-visibleblock\@xl {
    @include visibleblock;
  }
  .u-is-visibleinline\@xl {
    @include visibleinline;
  }
}
