/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

/**
 * Navigation styling
 */

$inuit-base-spacing-unit: 24px !default;

.c-nav__list {
  list-style: none;
  margin: 0;
  @include clearfix;
}

.c-nav__item {
  font-weight: bold;
  float: left;
  margin-bottom: $inuit-base-spacing-unit / 4;
  margin-right: $inuit-base-spacing-unit / 2;
  @include mq($from: md) {
    margin-right: $inuit-base-spacing-unit * 2;
  }
}

.c-nav__link {
  display: inline-block;
  padding: $inuit-base-spacing-unit ($inuit-base-spacing-unit / 2) $inuit-base-spacing-unit ($inuit-base-spacing-unit / 2);
  color: $base-accent-color;
  text-decoration: none;
  &.u-is-active {
    color: $base-text-color-light;
  }
  &:hover {
    color: $base-text-color-light;
    text-decoration: underline;
  }
}
