/*------------------------------------*\
    #HEADLINE
\*------------------------------------*/

/**
 * Site headline styling
 */

$inuit-base-spacing-unit: 24px !default;

.c-headline {
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
}

.c-headline__link {
  color: $base-text-color-light;
  text-decoration: none;
  &:hover {
  	color: $base-text-color-light;
    text-decoration: underline;
  }
}
