/*------------------------------------*\
    #PORTFOLIO
\*------------------------------------*/

/**
 * Portfolio list styles. On the home page. For now.
 */

$inuit-base-spacing-unit: 24px !default;

.c-portfolio__title {
  margin-bottom: 0;
}

.c-portfolio__item {
  margin-bottom: $inuit-base-spacing-unit;
}

.c-portfolio__description {

}

@include mq($from: md) {
  .c-portfolio__description {
    margin-top: $inuit-base-spacing-unit;
  }
}
