/*------------------------------------*\
    #PROJECT METADATA
\*------------------------------------*/

.c-project-metadata {

}

.c-project-metadata__title {
  font-size: $inuit-base-font-size * 1.5;
  line-height: 1.25;
  margin-bottom: $inuit-base-spacing-unit / 8;
}
