/*------------------------------------*\
    #RESUME
\*------------------------------------*/

.c-resume__headline {
  line-height: 1.25;
  margin-bottom: $inuit-base-spacing-unit / 8;
}

.c-resume__metadata {
  color: $base-text-color-medium;
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: $inuit-base-spacing-unit / 2;
}
