/*------------------------------------*\
    #PAGE HEADLINES
\*------------------------------------*/

/**
 * Page headline styling
 */

$inuit-base-spacing-unit: 24px !default;

.c-page-headline--small {
  font-size: $inuit-base-font-size;
  line-height: $inuit-base-line-height;
}

.c-page-headline {
  font-size: $inuit-base-font-size * 1.5;
  line-height: $inuit-base-line-height * 1.5;
}

.c-page-headline--large {
  font-size: $inuit-base-font-size * 2;
  line-height: $inuit-base-line-height * 2;
}

.c-page-headline--huge {
  font-size: $inuit-base-font-size * 3;
  line-height: $inuit-base-line-height * 3;
}

@include mq($from: md) {
  .c-page-headline--huge\@md {
    font-size: $inuit-base-font-size * 3;
    line-height: $inuit-base-line-height * 3;
  }
}
