/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

$inuit-base-line-height: 16px !default;

.c-footer {
  background: #333;
  color: #fff;
  padding: $inuit-base-line-height 0 $inuit-base-line-height 0;
}
