/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

$inuit-base-spacing-unit: 24px !default;
$footer-height: ($inuit-base-spacing-unit * 6) !default;

.c-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  background: $base-background-color-dark;
  color: $base-text-color-light;
  padding: $inuit-base-spacing-unit 0 $inuit-base-spacing-unit 0;
}
