/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
  text-decoration: none;
  color: $base-accent-color;
  &:hover {
    color: $base-accent-color;
    text-decoration: underline;
  }
}
