/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
  text-decoration: none;
  color: saturate(darken($base-accent-color, 30%), 50%);
  transition: all .1s ease-in;
  &:hover {
    color: saturate(darken($base-accent-color, 15%), 100%);
    text-decoration: none;
  }
}
