/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * The thegreatsunra layout system uses floats and stuff.
 * Combine the layout items with the widths found in `trumps.widths`.
 */

// Predefine the variables below in order to alter and enable specific features.

$inuit-object-namespace:        null !default;

$inuit-utility-namespace:        null !default;

$inuit-layout-namespace:        $inuit-namespace !default;

$inuit-layout-gutter:           $inuit-base-spacing-unit !default;

$inuit-layout-column-count:     12 !default;

$inuit-layout-width-multiplier: 100% / $inuit-layout-column-count !default;




// Here we set a variable assuming that `box-sizing: border-box;` is not set
// globally. If it has been previously been defined, the following variable will
// be overriden and will be set to `true`.
$inuit-global-border-box: false !default;




/**
 * Begin a layout group.
 */
// scope all layout styles above mobile (for now)
@media (min-width: 34em) { // 544px
    .#{$inuit-object-namespace}#{$inuit-layout-namespace}layout,
    %.#{$inuit-object-namespace}#{$inuit-layout-namespace}layout {
        list-style: none;
        margin:  0;
        padding: 0;
        margin-left: -$inuit-layout-gutter; // need to divide by 2?
        margin-right:  -$inuit-layout-gutter; // need to divide by 2?
        @extend %clearfix;
    }

    .#{$inuit-object-namespace}#{$inuit-layout-namespace}layout__item,
    %.#{$inuit-object-namespace}#{$inuit-layout-namespace}layout__item {
        vertical-align: top;
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: $inuit-layout-gutter; // need to divide by 2?
        padding-right:  $inuit-layout-gutter; // need to divide by 2?
        @extend %clearfix;
    }
}




/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/

/**
 * Responsive width classes.
 */
@media (min-width: 34em) { // 544px
    @for $i from 0 through $inuit-layout-column-count {
        .#{$inuit-utility-namespace}sm-offset-#{$i}\/#{$inuit-layout-column-count} { 
            margin-left: $i * $inuit-layout-width-multiplier;
        }
        @if $i == 0 {
            .#{$inuit-utility-namespace}sm-pull-#{$i}\/#{$inuit-layout-column-count} { 
                right: auto;
            }
            .#{$inuit-utility-namespace}sm-push-#{$i}\/#{$inuit-layout-column-count} { 
                left: auto;
            }
        }
        @else {
            .#{$inuit-utility-namespace}sm-#{$i}\/#{$inuit-layout-column-count} { 
                width: $i * $inuit-layout-width-multiplier;
            }
            .#{$inuit-utility-namespace}sm-pull-#{$i}\/#{$inuit-layout-column-count} { 
                right: $i * $inuit-layout-width-multiplier;
            }
            .#{$inuit-utility-namespace}sm-push-#{$i}\/#{$inuit-layout-column-count} { 
                left: $i * $inuit-layout-width-multiplier;
            }
        }
    }
}

@media (min-width: 48em) { // 768px
    @for $i from 0 through $inuit-layout-column-count {
        .#{$inuit-utility-namespace}md-offset-#{$i}\/#{$inuit-layout-column-count} { 
            margin-left: $i * $inuit-layout-width-multiplier;
        }
        @if $i == 0 {
            .#{$inuit-utility-namespace}md-pull-#{$i}\/#{$inuit-layout-column-count} { 
                right: auto;
            }
            .#{$inuit-utility-namespace}md-push-#{$i}\/#{$inuit-layout-column-count} { 
                left: auto;
            }
        }
        @else {
            .#{$inuit-utility-namespace}md-#{$i}\/#{$inuit-layout-column-count} { 
                width: $i * $inuit-layout-width-multiplier;
            }
            .#{$inuit-utility-namespace}md-pull-#{$i}\/#{$inuit-layout-column-count} { 
                right: $i * $inuit-layout-width-multiplier;
            }
            .#{$inuit-utility-namespace}md-push-#{$i}\/#{$inuit-layout-column-count} { 
                left: $i * $inuit-layout-width-multiplier;
            }
        }
    }
}

@media (min-width: 62em) { // 992px
    @for $i from 0 through $inuit-layout-column-count {
        .#{$inuit-utility-namespace}lg-offset-#{$i}\/#{$inuit-layout-column-count} { 
            margin-left: $i * $inuit-layout-width-multiplier;
        }
        @if $i == 0 {
            .#{$inuit-utility-namespace}lg-pull-#{$i}\/#{$inuit-layout-column-count} { 
                right: auto;
            }
            .#{$inuit-utility-namespace}lg-push-#{$i}\/#{$inuit-layout-column-count} { 
                left: auto;
            }
        }
        @else {
            .#{$inuit-utility-namespace}lg-#{$i}\/#{$inuit-layout-column-count} { 
                width: $i * $inuit-layout-width-multiplier;
            }
            .#{$inuit-utility-namespace}lg-pull-#{$i}\/#{$inuit-layout-column-count} { 
                right: $i * $inuit-layout-width-multiplier;
            }
            .#{$inuit-utility-namespace}lg-push-#{$i}\/#{$inuit-layout-column-count} { 
                left: $i * $inuit-layout-width-multiplier;
            }
        }
    }
}

@media (min-width: 75em) { // 1200px
    @for $i from 0 through $inuit-layout-column-count {
        .#{$inuit-utility-namespace}xl-offset-#{$i}\/#{$inuit-layout-column-count} { 
            margin-left: $i * $inuit-layout-width-multiplier;
        }
        @if $i == 0 {
            .#{$inuit-utility-namespace}xl-pull-#{$i}\/#{$inuit-layout-column-count} { 
                right: auto;
            }
            .#{$inuit-utility-namespace}xl-push-#{$i}\/#{$inuit-layout-column-count} { 
                left: auto;
            }
        }
        @else {
            .#{$inuit-utility-namespace}xl-#{$i}\/#{$inuit-layout-column-count} { 
                width: $i * $inuit-layout-width-multiplier;
            }
            .#{$inuit-utility-namespace}xl-pull-#{$i}\/#{$inuit-layout-column-count} { 
                right: $i * $inuit-layout-width-multiplier;
            }
            .#{$inuit-utility-namespace}xl-push-#{$i}\/#{$inuit-layout-column-count} { 
                left: $i * $inuit-layout-width-multiplier;
            }
        }
    }
}
