/*------------------------------------*\
    #GRID
\*------------------------------------*/

    $gridColumnCount: 12;
    $gridColumnMultiplier: 100% / $gridColumnCount;

@media (min-width: 34em) { // 544px
    .u-layout {
        &:after {
            content: "";
            display: table;
            clear: both;
        }    
    }
    .u-layout__row {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    .u-layout__item {
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    @for $i from 1 through $gridColumnCount {
        .u-col-sm-#{$i} {
            width: $i * $gridColumnMultiplier;
        }
    }
    @for $i from 0 through $gridColumnCount {
        @if $i == 0 {
            .u-col-sm-pull-#{$i} {
                right: auto;
            }
        }
        @else {
            .u-col-sm-pull-#{$i} {
                right: $i * $gridColumnMultiplier;
            }
        }
    }
    @for $i from 0 through $gridColumnCount {
        @if $i == 0 {
            .u-col-sm-push-#{$i} {
                left: auto;
            }
        }
        @else {
            .u-col-sm-push-#{$i} {
                left: $i * $gridColumnMultiplier;
            }
        }
    }
}

@media (min-width: 48em) { // 768px
    @for $i from 1 through $gridColumnCount {
        .u-col-md-#{$i} {
            width: $i * $gridColumnMultiplier;
        }
    }
    @for $i from 0 through $gridColumnCount {
        @if $i == 0 {
            .u-col-md-pull-#{$i} {
                right: auto;
            }
        }
        @else {
            .u-col-md-pull-#{$i} {
                right: $i * $gridColumnMultiplier;
            }
        }
    }
    @for $i from 0 through $gridColumnCount {
        @if $i == 0 {
            .u-col-md-push-#{$i} {
                left: auto;
            }
        }
        @else {
            .u-col-md-push-#{$i} {
                left: $i * $gridColumnMultiplier;
            }
        }
    }
}

@media (min-width: 62em) { // 992px
    @for $i from 1 through $gridColumnCount {
        .u-col-lg-#{$i} {
            width: $i * $gridColumnMultiplier;
        }
    }
    @for $i from 0 through $gridColumnCount {
        @if $i == 0 {
            .u-col-lg-pull-#{$i} {
                right: auto;
            }
        }
        @else {
            .u-col-lg-pull-#{$i} {
                right: $i * $gridColumnMultiplier;
            }
        }
    }
    @for $i from 0 through $gridColumnCount {
        @if $i == 0 {
            .u-col-lg-push-#{$i} {
                left: auto;
            }
        }
        @else {
            .u-col-lg-push-#{$i} {
                left: $i * $gridColumnMultiplier;
            }
        }
    }
}

@media (min-width: 75em) { // 1200px
    @for $i from 1 through $gridColumnCount {
        .u-col-xl-#{$i} {
            width: $i * $gridColumnMultiplier;
        }
    }
    @for $i from 0 through $gridColumnCount {
        @if $i == 0 {
            .u-col-xl-pull-#{$i} {
                right: auto;
            }
        }
        @else {
            .u-col-xl-pull-#{$i} {
                right: $i * $gridColumnMultiplier;
            }
        }
    }
    @for $i from 0 through $gridColumnCount {
        @if $i == 0 {
            .u-col-xl-push-#{$i} {
                left: auto;
            }
        }
        @else {
            .u-col-xl-push-#{$i} {
                left: $i * $gridColumnMultiplier;
            }
        }
    }
}
