/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$base-accent-color: #4292e5;
$base-text-color-dark: #222222;
$base-text-color-medium: #666666;
$base-text-color-light: #ffffff;
$base-background-color-dark: #493c28;
$base-background-color-light: #ffffff;

$white: #ffffff;

$base-border-color: #cccccc;

$base-dark-link-color: $base-accent-color;
$base-light-link-color: $base-accent-color;
