/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/

@media (min-width: 34em) { // 544px
    @for $i from 0 through $gridColumnCount {
        .u-sm-offset-#{$i}\/#{$gridColumnCount} { 
            margin-left: $i * $gridColumnMultiplier;
        }
        @if $i == 0 {
            .u-sm-pull-#{$i}\/#{$gridColumnCount} { 
                right: auto;
            }
            .u-sm-push-#{$i}\/#{$gridColumnCount} { 
                left: auto;
            }
        }
        @else {
            .u-sm-#{$i}\/#{$gridColumnCount} { 
                width: $i * $gridColumnMultiplier;
            }
            .u-sm-pull-#{$i}\/#{$gridColumnCount} { 
                right: $i * $gridColumnMultiplier;
            }
            .u-sm-push-#{$i}\/#{$gridColumnCount} { 
                left: $i * $gridColumnMultiplier;
            }
        }
    }
}

@media (min-width: 48em) { // 768px
    @for $i from 0 through $gridColumnCount {
        .u-md-offset-#{$i}\/#{$gridColumnCount} { 
            margin-left: $i * $gridColumnMultiplier;
        }
        @if $i == 0 {
            .u-md-pull-#{$i}\/#{$gridColumnCount} { 
                right: auto;
            }
            .u-md-push-#{$i}\/#{$gridColumnCount} { 
                left: auto;
            }
        }
        @else {
            .u-md-#{$i}\/#{$gridColumnCount} { 
                width: $i * $gridColumnMultiplier;
            }
            .u-md-pull-#{$i}\/#{$gridColumnCount} { 
                right: $i * $gridColumnMultiplier;
            }
            .u-md-push-#{$i}\/#{$gridColumnCount} { 
                left: $i * $gridColumnMultiplier;
            }
        }
    }
}

@media (min-width: 62em) { // 992px
    @for $i from 0 through $gridColumnCount {
        .u-lg-offset-#{$i}\/#{$gridColumnCount} { 
            margin-left: $i * $gridColumnMultiplier;
        }
        @if $i == 0 {
            .u-lg-pull-#{$i}\/#{$gridColumnCount} { 
                right: auto;
            }
            .u-lg-push-#{$i}\/#{$gridColumnCount} { 
                left: auto;
            }
        }
        @else {
            .u-lg-#{$i}\/#{$gridColumnCount} { 
                width: $i * $gridColumnMultiplier;
            }
            .u-lg-pull-#{$i}\/#{$gridColumnCount} { 
                right: $i * $gridColumnMultiplier;
            }
            .u-lg-push-#{$i}\/#{$gridColumnCount} { 
                left: $i * $gridColumnMultiplier;
            }
        }
    }
}

@media (min-width: 75em) { // 1200px
    @for $i from 0 through $gridColumnCount {
        .u-xl-offset-#{$i}\/#{$gridColumnCount} { 
            margin-left: $i * $gridColumnMultiplier;
        }
        @if $i == 0 {
            .u-xl-pull-#{$i}\/#{$gridColumnCount} { 
                right: auto;
            }
            .u-xl-push-#{$i}\/#{$gridColumnCount} { 
                left: auto;
            }
        }
        @else {
            .u-xl-#{$i}\/#{$gridColumnCount} { 
                width: $i * $gridColumnMultiplier;
            }
            .u-xl-pull-#{$i}\/#{$gridColumnCount} { 
                right: $i * $gridColumnMultiplier;
            }
            .u-xl-push-#{$i}\/#{$gridColumnCount} { 
                left: $i * $gridColumnMultiplier;
            }
        }
    }
}
