/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

.u-amp,
.u-of {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-weight: normal;
}
