
/*------------------------------------*\
  #WIDTHS
\*------------------------------------*/

/**
 * Responsive width classes.
 */
@include mq($from: xs) {
  @for $i from 0 through $layout-column-count {
    .u-offset-#{$i}\/#{$layout-column-count}\@xs { 
      margin-left: $i * $layout-width-multiplier !important;
    }
    @if $i == 0 {
      .u-pull-#{$i}\/#{$layout-column-count}\@xs { 
        right: auto !important;
      }
      .u-push-#{$i}\/#{$layout-column-count}\@xs { 
        left: auto !important;
      }
    }
    @else {
      .u-#{$i}\/#{$layout-column-count}\@xs { 
        width: $i * $layout-width-multiplier !important;
      }
      .u-pull-#{$i}\/#{$layout-column-count}\@xs { 
        right: $i * $layout-width-multiplier !important;
      }
      .u-push-#{$i}\/#{$layout-column-count}\@xs { 
        left: $i * $layout-width-multiplier !important;
      }
    }
  }
}

@include mq($from: sm) {
  @for $i from 0 through $layout-column-count {
    .u-offset-#{$i}\/#{$layout-column-count}\@sm { 
      margin-left: $i * $layout-width-multiplier !important;
    }
    @if $i == 0 {
      .u-pull-#{$i}\/#{$layout-column-count}\@sm { 
        right: auto !important;
      }
      .u-push-#{$i}\/#{$layout-column-count}\@sm { 
        left: auto !important;
      }
    }
    @else {
      .u-#{$i}\/#{$layout-column-count}\@sm { 
        width: $i * $layout-width-multiplier !important;
      }
      .u-pull-#{$i}\/#{$layout-column-count}\@sm { 
        right: $i * $layout-width-multiplier !important;
      }
      .u-push-#{$i}\/#{$layout-column-count}\@sm { 
        left: $i * $layout-width-multiplier !important;
      }
    }
  }
}

@include mq($from: md) {
  @for $i from 0 through $layout-column-count {
    .u-offset-#{$i}\/#{$layout-column-count}\@md { 
      margin-left: $i * $layout-width-multiplier !important;
    }
    @if $i == 0 {
      .u-pull-#{$i}\/#{$layout-column-count}\@md { 
        right: auto !important;
      }
      .u-push-#{$i}\/#{$layout-column-count}\@md { 
        left: auto !important;
      }
    }
    @else {
      .u-#{$i}\/#{$layout-column-count}\@md {
        width: $i * $layout-width-multiplier !important;
      }
      .u-pull-#{$i}\/#{$layout-column-count}\@md { 
        right: $i * $layout-width-multiplier !important;
      }
      .u-push-#{$i}\/#{$layout-column-count}\@md { 
        left: $i * $layout-width-multiplier !important;
      }
    }
  }
}

@include mq($from: lg) {
  @for $i from 0 through $layout-column-count {
    .u-offset-#{$i}\/#{$layout-column-count}\@lg { 
      margin-left: $i * $layout-width-multiplier !important;
    }
    @if $i == 0 {
      .u-pull-#{$i}\/#{$layout-column-count}\@lg { 
        right: auto !important;
      }
      .u-push-#{$i}\/#{$layout-column-count}\@lg { 
        left: auto !important;
      }
    }
    @else {
      .u-#{$i}\/#{$layout-column-count}\@lg{ 
        width: $i * $layout-width-multiplier !important;
      }
      .u-pull-#{$i}\/#{$layout-column-count}\@lg { 
        right: $i * $layout-width-multiplier !important;
      }
      .u-push-#{$i}\/#{$layout-column-count}\@lg { 
        left: $i * $layout-width-multiplier !important;
      }
    }
  }
}

@include mq($from: xl) {
  @for $i from 0 through $layout-column-count {
    .u-offset-#{$i}\/#{$layout-column-count}\@xl { 
      margin-left: $i * $layout-width-multiplier !important;
    }
    @if $i == 0 {
      .u-pull-#{$i}\/#{$layout-column-count}\@xl { 
        right: auto !important;
      }
      .u-push-#{$i}\/#{$layout-column-count}\@xl { 
        left: auto !important;
      }
    }
    @else {
      .u-#{$i}\/#{$layout-column-count}\@xl{ 
        width: $i * $layout-width-multiplier !important;
      }
      .u-pull-#{$i}\/#{$layout-column-count}\@xl { 
        right: $i * $layout-width-multiplier !important;
      }
      .u-push-#{$i}\/#{$layout-column-count}\@xl { 
        left: $i * $layout-width-multiplier !important;
      }
    }
  }
}
