/*------------------------------------*\
    #THEGREATSUNRA
\*------------------------------------*/

/**
 * #SETTINGS
 */
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
// 20em = 320px
// 40em = 640px
// 45em = 720px
// 60em = 960px
// 75em = 1200px
$mq-breakpoints: (
    xs:  20em,
    sm:  40em,
    md:  45em,
    lg:  60em,
    xl:  75em,
);
@import "bower_components/sass-mq/mq";

/**
 * #GENERIC
 */
@import "bower_components/inuit-normalize.css/generic.normalize";
@import "bower_components/inuit-reset/generic.reset";
@import "bower_components/inuit-box-sizing/generic.box-sizing";
@import "bower_components/inuit-shared/generic.shared";

/**
 * #ELEMENTS
 */
@import "elements.page";
@import "bower_components/inuit-headings/base.headings";
@import "bower_components/inuit-lists/base.lists";
@import "bower_components/inuit-images/base.images";

/**
 * #OBJECTS
 */
$layout-base-spacing-unit: $inuit-base-spacing-unit;
$layout-max-width: 60em;
$enable-layout-max-width--md: true;
$layout-max-width--md: 29em;
$enable-layout--center: true;
@import "objects.layout";
.o-layout__test {
	text-align: center;
	background-color: #fee;
	font-size: 9px;
	min-height: 40px;
	padding: 10px;
	margin-bottom: 20px;
}

 /**
 * #COMPONENTS
 */
@import "components.headline";
@import "components.nav";
@import "components.portfolio";

 /**
 * #TRUMPS
 */
@import "bower_components/inuit-clearfix/trumps.clearfix";
$inuit-enable-paddings: true;
$inuit-enable-paddings--small: true;
$inuit-enable-paddings--large: true;
@import "bower_components/inuit-spacing/trumps.spacing";
@import "trumps.responsive";
@import "trumps.helpers";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
