/*------------------------------------*\
    #THEGREATSUNRA
\*------------------------------------*/

/**
 * #SETTINGS
 */
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";

/**
 * #GENERIC
 */
@import "bower_components/inuit-normalize.css/generic.normalize";
@import "bower_components/inuit-reset/generic.reset";
@import "bower_components/inuit-box-sizing/generic.box-sizing";
@import "bower_components/inuit-shared/generic.shared";

/**
 * #ELEMENTS
 */
@import "elements.page";
@import "bower_components/inuit-headings/base.headings";
@import "bower_components/inuit-lists/base.lists";
@import "bower_components/inuit-images/base.images";
$mq-breakpoints: (
    xs:  20em,
    sm:  35em,
    md:  50em,
    lg:  65em,
    xl:  80em,
);
@import "bower_components/sass-mq/mq";

/**
 * #OBJECTS
 */
$layout-base-spacing-unit: $inuit-base-spacing-unit;
$layout-max-width: 80em;

$enable-layout--center: true;
$enable-layout--tiny: true;
$enable-layout--small: true;
@import "objects.layout";
.o-layout__test {
	text-align: center;
	background-color: #fee;
	font-size: 9px;
	min-height: 40px;
	padding: 10px;
	margin-bottom: 20px;
}

 /**
 * #COMPONENTS
 */

 /**
 * #TRUMPS
 */
@import "bower_components/inuit-clearfix/trumps.clearfix";
@import "bower_components/inuit-spacing/trumps.spacing";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
