/*------------------------------------*\
    #THEGREATSUNRA
\*------------------------------------*/

/**
 * #SETTINGS
 */
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "tools.mixins";
// 18em = 288px
// 40em = 640px
// 45em = 720px
// 60em = 960px
// 75em = 1200px
$mq-breakpoints: (
    xs:  18em,
    sm:  40em,
    md:  45em,
    lg:  60em,
    xl:  75em,
);
@import "bower_components/sass-mq/mq";

/**
 * #GENERIC
 */
@import "bower_components/inuit-normalize.css/generic.normalize";
@import "bower_components/inuit-reset/generic.reset";
@import "bower_components/inuit-box-sizing/generic.box-sizing";
@import "bower_components/inuit-shared/generic.shared";

/**
 * #ELEMENTS
 */
@import "elements.page";
@import "elements.headings";
@import "elements.links";
@import "bower_components/inuit-lists/base.lists";
@import "bower_components/inuit-images/base.images";

/**
 * #OBJECTS
 */
$inuit-list-bare-namespace: "o-";
@import "bower_components/inuit-list-bare/objects.list-bare";
$layout-base-spacing-unit: $inuit-base-spacing-unit;
$layout-max-width: 58em;
$enable-layout-max-width--sm: true;
$layout-max-width--sm: 40em;
$enable-layout--center: true;
@import "objects.layout";
.o-layout__test {
	text-align: center;
	background-color: #fee;
	font-size: 9px;
	min-height: 40px;
	padding: 10px;
	margin-bottom: 20px;
}

 /**
 * #COMPONENTS
 */
@import "components.header";
@import "components.headline";
@import "components.nav";
@import "components.portfolio";
@import "components.images";
@import "components.footer";

.c-vimeo-player {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
    iframe, object, embed {
       position: absolute; 
       top: 0; 
       left: 0; 
       width: 100%; 
       height: 100%; 
    }
}

 /**
 * #TRUMPS
 */
@import "bower_components/inuit-clearfix/trumps.clearfix";
$inuit-enable-paddings: true;
$inuit-enable-paddings--small: true;
$inuit-enable-paddings--large: true;
$inuit-enable-margins: true;
@import "bower_components/inuit-spacing/trumps.spacing";
@import "utilities.responsive";
@import "utilities.helpers";
@import "utilities.widths";
