---
title: "Adaptive Path Events Development"
slug: "adaptiveevents"
portfolioIsActive: true
---

<div class="header">
  <h1>Adaptive Path Events Development</h1>
  <h3>Adaptive Path&rsquo;s Events team was in a pinch. Each and every year they put on some truly kick-ass events, including UX Week and MX Conference, where brilliant speakers take the stage and melt our brains with their inspiring tales of hardship and success. Sadly, their website content management system demanded that every year they grind up all the great works of the previous event and feed it to the new one. I fixed that.</h3>
</div>
<div class="content o-layout">
  <div class="o-layout__item u-6/12@md u-4/12@lg">
    <p>Before writing a single line of code, I conducted interviews with the entire Events team to learn more about their unique challenges, needs and capabilities. I learned about the different stages an event goes through in its lifecycle, from its announcement, to its roster of kick-ass speakers filling in, to the opening of registration, to the schedule getting finalized, to the unique functions the website should perform <em>during</em> the event, to post-event activities.</p>
  </div>
  <div class="o-layout__item u-6/12@md u-8/12@lg">
    <img src="/images/adaptiveevents/event-lifecycle-01-610.jpg" class="img--rounded" alt="">
    <div class="img__caption">Working with the Events team we mapped out the lifecycle of a typical event, identifying the different roles the website needs to play over time.</div>
  </div>
  <h3 class="u-clear-both">MX Conference, and designing a better solution.</h3>
  <div class="o-layout__item u-6/12@md u-4/12@lg">
    <p>The UX Week and MX Conference websites were both built in WordPress, and given the Events team&rsquo;s familiarity with this tool we decided we would continue using it going forward. I dug deeply into WordPress&rsquo; Multisite Network functionality, which allows us to segment each year in its own self-contained site, while only requiring one WordPress installation, one database, one login account.</p>
    <p>By extensive use of MySQL dumps and regular expressions, I pried MX Conference 2010 off its existing WordPress installation and onto a fresh site under a Multisite Network. Working with Amber Reed, the talented visual designer who produced the complete aesthetic for MX 2011, I built a custom WordPress theme on the Thematic framework that would house the 2011 site.</p>
    <p>Since all the 2010 content still existed at its new site, complete with .htaccess redirects, we were free to take some design liberties with the 2011 site that would have been impossible if it had needed to still function as an archive for previous years. After conducting some lightweight training to get the Events team oriented in their new home, we imported all the site content, finalized the design, and launched it.</p>
  </div>
  <div class="o-layout__item u-6/12@md u-8/12@lg">
    <img src="/images/adaptiveevents/wordpress-whiteboarding-01-610.jpg" class="img--rounded" alt="">
    <div class="img__caption">Together with the Events team, P.J. Onori and I conducted a series of whiteboarding sessions exploring how the different pieces of an updated WordPress template would map to the sections of the Events websites.</div>
    <div class="o-layout">
      <div class="o-layout__item u-6/12@md">
        <img src="/images/adaptiveevents/wordpress-whiteboarding-02-610.jpg" class="img--rounded" alt="">
        </div>
      <div class="o-layout__item u-6/12@md">
        <img src="/images/adaptiveevents/wordpress-whiteboarding-03-610.jpg" class="img--rounded" alt="">
        </div>
      <div class="o-layout__item u-6/12@md">
        <img src="/images/adaptiveevents/mx-2011-annotated-01-610.jpg" class="img--rounded" alt="">
      </div>
      <div class="o-layout__item u-6/12@md">
        <img src="/images/adaptiveevents/mx-2011-annotated-03-610.jpg" class="img--rounded" alt="">
      </div>
    </div>
    <div class="img__caption">Using the Thematic theming engine as a starting point, I worked with Amber Reed as I coded her design in a modular WordPress template.</div>
  </div>
  <div class="o-layout__item u-6/12@md u-4/12@lg u-clear-both">
    <img src="/images/adaptiveevents/mx-2010-610.jpg" class="img--padded img--bordered" alt="">
  </div>
  <div class="o-layout__item u-6/12@md u-8/12@lg">
    <img src="/images/adaptiveevents/mx-2011-610.jpg" class="img--padded img--bordered" alt="">
    <div class="img__caption">The 2010 MX Conference website (left) and the fresh 2011 MX Conference site (right), two separate sites running from the same WordPress installation. Looking forward, not back.</div>
  </div>
  <h3 class="u-clear-both">UX Week, and raising the bar.</h3>
  <div class="o-layout__item u-6/12@md u-4/12@lg">
    <p>Based on everything we learned in building and launching the new MX Conference website, we did it all again for UX Week. In this case the database translations and redirects were a bit more hairy, as UX Week was being hosted on a Crowdvine server, not on WordPress. I resurrected a WordPress theme for 2010, imported all the existing content (including videos) from Crowdvine, created a small splash page announcing 2011, repointed the DNS, and whammo. Not much had changed from the user&rsquo;s perspective, but going forward the new Multisite Network would mean a world of difference for us!</p>
  </div>
  <div class="o-layout__item u-6/12@md u-8/12@lg">
    <img src="/images/adaptiveevents/uxweek-2010-610.jpg" class="img--padded img--bordered" alt="">
    <div class="img__caption">The UX Week 2010 site, which took a fair amount of elbow grease, and a metric ton of regular expressions, to migrate and resurrect on WordPress.</div>
  </div>
  <div class="o-layout__item">
    <p>As 2011 progressed and the program for UX Week became more fleshed out, the talented Jake Ingman worked to implement a truly beautiful design for the full UX Week 2011 website. Designed by Amber and developed by Jake, the site is the most beautiful that Adaptive Path has ever allowed itself, thanks in large part to our hard work crafting a more intelligent lifecycle for our events websites. In fact, we improved our end-of-life care to such a degree that these websites will continue to purr forever!</p>
  </div>
  <div class="o-layout__item">
    <img src="/images/adaptiveevents/uxweek-2011-930.jpg" class="img--rounded" alt="">
    <div class="img__caption">Designed by Amber Reed and developed by Jake Ingman, the gorgeous UX Week 2011 website was made possible in part by the WordPress platform I put into place for the Events team. Of course, it helps to work with a bunch of insanely smart, talented people!</div>
  </div>
  <div class="project-meta">

    <div class="o-layout__item u-8/12@md u-4/12@lg u-push-4/12@lg">
      <h2>Project Responsibilities</h2>
      <p>Stakeholder Interviews, System Design, Web Development</p>
      <h2>Project Technologies</h2>
      <p>WordPress, Thematic, PHP, HTML/CSS, MySQL, RegEx, Linux</p>
      <h2>Project Timeline</h2>
      <p>January &mdash; February 2011</p>
    </div>

    <div class="o-layout__item u-4/12@md u-4/12@lg u-pull-4/12@lg">
      <h2>Project Team</h2>
      <p>
        Amber Reed<br>
        Analisa Lono<br>
        Chelsa Robinson<br>
        Dane Petersen<br>
        <a href="http://bigreddesk.com/">Jake Ingman</a><br>
        Jamieson Chandler<br>
        <a href="http://somerandomdude.com/">P.J. Onori</a>
      </p>
    </div>

    <div class="o-layout__item u-4/12@lg">
      <h2>And Furthermore&hellip;</h2>
      <p>
      <a href="http://uxweek.com/2010/">UX Week 2010</a><br>
      <a href="http://uxweek.com/2011/">UX Week 2011</a><br>
      <a href="http://mxconference.com/2010/">MX Conference 2010</a><br>
      <a href="http://mxconference.com/2011/">MX Conference 2011</a>
      </p>
    </div>
  </div>
</div>
