---
title: "&#8220;See Akzidenz First!&#8221; Type Specimen Book"
slug: "akzidenzbook" 
---

<div class="o-layout header clearfix">
  <h1>&#8220;See Akzidenz First!&#8221; Type Specimen Book</h1>
  <div class="o-layout__item u-4/12@md">
    <img src="/images/akzidenzbook/akzidenz-book-01-290.jpg" class="img-padding img-border" alt="Specimen Book 01" />
  </div>
  <div class="o-layout__item u-8/12@md">
    <h3>Inspired by the turn-of-the-century American railway lodges of the Glacier National Park region, I designed, printed and bound a type specimen book for the Akzidenz-Grotesk type family. The design of this book explores the confluence of traditional European luxury, and the rugged natural beauty of the western United States.</h3>
  </div>
</div>
<div class="content">
  <div class="o-layout__item u-8/12@md">
    <img src="/images/akzidenzbook/akzidenz-book-02-610.jpg" alt="Specimen Book 02" class="img-padding img-border" /><br>
    <img src="/images/akzidenzbook/akzidenz-book-03-610.jpg" alt="Specimen Book 03" class="img-padding img-border" /><br>
    <img src="/images/akzidenzbook/akzidenz-book-04-610.jpg" alt="Specimen Book 04" class="img-padding img-border" /><br>
    <img src="/images/akzidenzbook/akzidenz-book-05-610.jpg" alt="Specimen Book 05" class="img-padding img-border" /><br>
    <img src="/images/akzidenzbook/akzidenz-book-06-610.jpg" alt="Specimen Book 06" class="img-padding img-border" /><br>
    <img src="/images/akzidenzbook/akzidenz-book-07-610.jpg" alt="Specimen Book 07" class="img-padding img-border" />
  </div>
  <div class="o-layout__item u-4/12@md">
    <p>Akzidenz-Grotesk is an early sans-serif typeface released in 1896 by the H. Berthold AG type foundry in Berlin. It pre-dates Adrian Frutiger&#8217;s Univers and Max Meidinger&#8217;s Neue Haas Grotesk, released under the familiar name Helvetica, by more than 60 years.</p>
    <p>For the design of this specimen book, I focused on the railway hotels of the Glacier National Park area, which were built by the Great Northern Railway company in the early 20th century to compete with rival railways for tourism. Louis Hill, the son of railway baron James J. Hill, went through extraordinary lengths to promote Glacier as &#8220;America's Switzerland&#8221; and &#8220;The Alps of America.&#8221; Obsessive and controlling, Hill demanded that the hotels and lodges of the area be built in a Swiss chalet style.</p>
    <p>&#8220;See America First!&#8221; was a slogan of the Great Northern Railway, suggested by the railway&#8217;s official photographer Fred Kiser and adopted by the company in 1906. The mountain goat is the official symbol of Glacier National Park, and is featured on the Great Northern logo.</p>
    <p>Designing this specimen book blossomed into a significant research project, to establish an accurate and believable visual language. I mined the Library of Congress for historic photos of the Glacier region, turn-of-the-century railway advertisements, and WPA posters created during the Great Depression to encourage American tourism.</p>
    <a href="/images/akzidenzbook/sketches-01.jpg"><img src="/images/akzidenzbook/sketches-01-290.jpg" alt="Sketches 01" class="img-padding img-border" /></a>
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@xs"><a href="/images/akzidenzbook/sketches-02.jpg"><img src="/images/akzidenzbook/sketches-02-130.jpg" alt="Sketches 02" class="img-padding img-border" /></a></li>
      <li class="o-layout__item u-6/12@xs"><a href="/images/akzidenzbook/sketches-03.jpg"><img src="/images/akzidenzbook/sketches-03-130.jpg" alt="Sketches 03" class="img-padding img-border" /></a></li>
    </ul>
    <p class="caption">In brainstorming design directions I generated free-associative lists on such terms as &#8220;travel&#8221;, &#8220;elegance&#8221; and &#8220;the outdoors&#8221;, and sketched out potential concepts that would fuse these ideas.</p>
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@xs"><a href="/images/akzidenzbook/binding-01.jpg"><img src="/images/akzidenzbook/binding-01-130.jpg" alt="Binding 01" class="img-padding img-border" /></a></li>
      <li class="o-layout__item u-6/12@xs"><a href="/images/akzidenzbook/binding-02.jpg"><img src="/images/akzidenzbook/binding-02-130.jpg" alt="Binding 02" class="img-padding img-border" /></a></li>
      <li class="o-layout__item u-6/12@xs"><a href="/images/akzidenzbook/binding-03.jpg"><img src="/images/akzidenzbook/binding-03-130.jpg" alt="Binding 03" class="img-padding img-border" /></a></li>
      <li class="o-layout__item u-6/12@xs"><a href="/images/akzidenzbook/binding-04.jpg"><img src="/images/akzidenzbook/binding-04-130.jpg" alt="Binding 04" class="img-padding img-border" /></a></li>
    </ul>
    <p class="caption">I bound the printed specimen book by hand, a task that requires precision and patience, and a tasty local microbrew to help steady the nerves.</p>
    <div class="project-meta">
      <h2>Project Responsibilities</h2>
      <p>Concept Generation, Historical Research, Sketching, Copywriting, Design <span class="amp">&amp;</span> Layout, Typesetting, Prepress Production, Bookbinding</p>
      <h2>Technology Used</h2>
      <p>Illustrator, Photoshop, InDesign, Upland Wheat Ale</p>
      <h2>Project Team</h2>
      <p>Dane Petersen</p>
      <h2>Project Timeline</h2>
      <p>March &#8211; May 2009</p>
    </div>
  </div>
</div>
