---
title: "Alpine Copywriting Campaign"
slug: "alpine" 
---

<div class="header">
  <h1>Alpine Copywriting Campaign</h1>
  <h3>A small web development company located in Bend, Oregon, Alpine Internet Solutions offers content management and web marketing services to regional and national clients.</h3>
</div>
<div class="o-layout content">
  <div class="o-layout__item u-8/12@md">
    <h2>Writing is designing.</h2>
    <p>While running Brainside Out I took over Alpine&rsquo;s marketing efforts, working directly with the CEO of the company. Over the course of a year I wrote numerous case studies and email newsletters, spreading the good word about how Alpine has helped clients successfully engage their customers on the web.</p>
  </div>
  <div class="o-layout__item u-4/12@md project-meta">
    <h2>Project Responsibilities</h2>
    <p>Interviewing, Copywriting, Design, Layout, Front-End Development</p>
    <h2>Project Team</h2>
    <p>Dane Petersen<br>
      Drew Child, Alpine CEO</p>
    <h2>Project Timeline</h2>
    <p>February 2006 &ndash; January 2007</p>
    <h2>Project Website</h2>
    <p><a href="http://www.alpineinternet.com/software/case_studies/" rel="external">www.alpineinternet.com</a></p>
  </div>
  <div class="o-layout__item">
    <h3>Mountain Link Case Study, Splash Page and Newsletter</h3>
  </div>
  <div class="o-layout__item u-8/12@md">
    <img src="/images/alpine/screenshot-03-610.jpg" alt="Screenshot of the Mountain Link case study" class="img-padding img-border">
  </div>
  <div class="o-layout__item u-4/12@md">
    <img src="/images/alpine/screenshot-01-290.jpg" alt="Screenshot of the Alpine Case Studies landing page" class="img-padding img-border"> <img src="/images/alpine/newsletter-01-290.jpg" alt="Email newsletter screenshot" class="img-padding img-border">
  </div>
  <div class="o-layout__item">
    <h3>Mill Quarter Case Study, Splash Page and Newsletter</h3>
  </div>
  <div class="o-layout__item u-8/12@md">
    <img src="/images/alpine/screenshot-05-610.jpg" alt="Screenshot of the Mill Quarter case study" class="img-padding img-border">
  </div>
  <div class="o-layout__item u-4/12@md">
    <img src="/images/alpine/screenshot-06-290.jpg" alt="Screenshot of the Alpine Solutions landing page" class="img-padding img-border"> <img src="/images/alpine/newsletter-02-290.jpg" alt="Email newsletter screenshot" class="img-padding img-border">
  </div>
</div>
