---
title: "Big Winds Action Photography"
slug: "bigwindsphoto" 
---

<div class="header">
  <h1>Big Winds Action Photography</h1>
  <h3>I spent two summers working as the resident photographer for Big Winds, a windsurfing and kiteboarding shop located in the windsports mecca of Hood River, Oregon. As a result of my efforts, Big Winds now has a library stocked with more than 3,500 unique local photos, allowing their marketing efforts to reflect their unique Columbia Gorge lifestyle.</h3>
</div>
<div class="content">
  <p><img src="/images/bigwindsphoto/kite-01-940.jpg" alt="Mack kiteboarding toeside." /><br>
  Mack, shredding it toeside.</p>
  <p><img src="/images/bigwindsphoto/kite-02-940.jpg" alt="Jason kiteboarding, and getting some huge air." /><br>
  Jason on dawn patrol, grabbing some huge air.</p>
  <p><img src="/images/bigwindsphoto/kite-03-940.jpg" alt="Mike kiteboarding in the kiddie pool." /><br>
  Mike, shredding some butter in the Kiddie Pool.</p>
  <!-- <p><img src="/images/bigwindsphoto/kite-04-940.jpg" alt="kite-04" /></p> -->
  <p><img src="/images/bigwindsphoto/gear-03-940.jpg" alt="Karin windsurfing." /><br>
  Karin nailing a jibe in the Eastern Gorge.</p>
  <p><img src="/images/bigwindsphoto/gear-02-940.jpg" alt="Joe windsurfing, giving us the shakka." /><br>
  Joe gives us the shakka.</p>
  <p><img src="/images/bigwindsphoto/gear-01-940.jpg" alt="Steve, Big Winds owner, nails another jibe." /><br>
  Steve, the owner of Big Winds, nails another jibe.</p>
  <p><img src="/images/bigwindsphoto/hatch-01-940.jpg" alt="Daryl windsurfing at the Hatchery." /><br>
  Daryl in her element at the Hatchery.</p>
  <p><img src="/images/bigwindsphoto/hatch-02-940.jpg" alt="Kevin windsurfing." /><br>
  Kevin practicing for the Freestyle Frenzy.</p>
  <p><img src="/images/bigwindsphoto/hatch-03-940.jpg" alt="Rob Warwick windsurfing." /><br>
  Rob Warwick takes off.</p>
  <p><img src="/images/bigwindsphoto/hatch-04-940.jpg" alt="Rob Warwick windsurfing." /><br>
  Rob plants it.</p>
  <p><img src="/images/bigwindsphoto/hook-01-940.jpg" alt="Andy windsurfing." /><br>
  Andy gives us the shakka.</p>
</div>
<div class="project-meta">
  <h2>Project Responsibilities</h2>
  <p>Photography, Field Work, Post-Processing, Graphic Design, Banner Ad Creation</p>
  <h2>Project Team</h2>
  <p>Dane Petersen</p>
  <h2>Project Timeline</h2>
  <p>June 2007 &ndash; July 2008</p>
</div>