---
title: "Bixby Heart Dot Com"
slug: "bixbyheart"
portfolioIsActive: true
---

<div class="header">
  <h1>Bixby Heart Dot Com</h1>
  <h3>Together with Jake Ingman, we built a web-based iPhone application to help our dear friend Mark Bixby keep an eye on his ticker during SXSW 2008. By choosing to feed him bacon or juice, the crowd had control over Mark&#8217;s delicious fate.</h3>
</div>
<div class="o-layout content">
  <div class="o-layout__item u-6/12@md"><img src="/images/bixbyheart/screen-01.jpg" alt="The bixbyheart.com web application for the iPhone" class="img--rounded" /></div>
  <div class="o-layout__item u-6/12@md"><img src="/images/bixbyheart/screen-02.jpg" alt="The bixbyheart.com web application for the iPhone" class="img--rounded" /></div>
  <p>Jake Ingman and I brainstormed furiously during the creation of Bixby Heart, jamming on each others' ideas while coming up with our final design direction. Jake Ingman did the graphic design, and I wired up the entire application in PHP and MySQL. After accidentally destroying all the code I had written over the previous three months, I rebuilt the entire application in CodeIgniter the evening before leaving for SXSW. We experimented with using the Flickr API, Twitter API and Google Charts API, and while everything didn't make it into the final launch, it was a wild ride and a smash hit at SXSW 2008!</p>
  <div class="o-layout__item u-6/12@md">
    <div class="c-vimeo-player">
      <iframe src="http://player.vimeo.com/video/236216" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <p class="caption">The late-night IHOP episode that started it all.</p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <div class="project-meta">
      <h2>Project Responsibilities</h2>
      <p>Brainstorming, Idea Generation, Sketching, Design Implementation, Front-End Development, Back-End Development</p>
      <h2>Project Team</h2>
      <p>Dane Petersen<br>
        <a href="http://thebestsiteontheplanet.com/" rel="external">Jake Ingman</a><br>
        <a href="http://markbixby.com/" rel="external">Mark Bixby</a> (but only his heart)</p>
      <h2>Project Technologies</h2>
      <p>XHTML/CSS, JavaScript, PHP, MySQL, CodeIgniter, Google Charts API, Twitter API, Flickr API</p>
      <h2>Project Timeline</h2>
      <p>January &ndash; March 2008<br>
        Launched March 2008</p>
      <h2>Project Website</h2>
      <p><a href="http://bixbyheart.com/" rel="external">bixbyheart.com</a></p>
    </div>
  </div>
</div>
