---
title: "Brainside Out"
slug: "brainsideout"
portfolioIsActive: true
---

<div class="header">
  <h1>Brainside Out</h1>
  <h3>Brainside Out was my freelance web design and development shop, which I ran full-time for 1 &frac12; years. Before that it was my personal weblog and haven for experimentation, with memoirs and ramblings dating back to 2001.</h3>
</div>
<div class="o-layout content">
  <div class="o-layout__item u-8/12@md">
    <p><img src="/images/brainsideout/09-portfolio-late-2010.png" alt="Screenshot of Brainside Out in Late 2010"  class="img--bordered img--rounded" /></p>
    <div class="img__caption">Brainside Out, Late 2010 Edition<br>
      Late 2010</div>
    <p><img src="/images/brainsideout/07-portfolio-blue-02.png" alt="Screenshot of Brainside Out, Blue Edition, in Late 2009" class="img--rounded" /></p>
    <div class="img__caption">Brainside Out, Blue 2.0 Edition<br>
      Early 2010</div>
    <p><img src="/images/brainsideout/06-portfolio-blue-01.png" alt="Screenshot of Brainside Out, Blue Edition, in Late 2009" class="img--rounded" /></p>
    <div class="img__caption">Brainside Out, Blue Edition<br>
      Late 2009</div>
    <p><img src="/images/brainsideout/05-portfolio-pink.png" alt="Screenshot of Brainside Out, Pink Edition, in Early 2009" class="img--bordered img--rounded" /></p>
    <div class="img__caption">Brainside Out, Pink Edition<br>
      Early 2009</div>
    <p><a href="http://terra.brainsideout.com/" rel="external"><img src="/images/brainsideout/04-terra.png" alt="Screenshot of Brainside Out, Terra Edition" class="img--rounded" /></a></p>
    <div class="img__caption">Brainside Out, Terra Edition<br>
      Circa 2008</div>
    <p><a href="http://rosco.brainsideout.com" rel="external"><img src="/images/brainsideout/03-rosco.png" alt="Screenshot of Brainside Out, Rosco D. Disco Edition" class="img--rounded" /></a></p>
    <div class="img__caption">Brainside Out, Rosco Edition<br>
      Circa 2007</div>
    <p><a href="http://siskiwit.brainsideout.com" rel="external"><img src="/images/brainsideout/02-siskiwit.png" alt="Screenshot of Brainside Out, Siskiwit Edition" class="img--rounded" /></a></p>
    <div class="img__caption">Brainside Out, Siskiwit Edition<br>
      Circa 2006</div>
    <p><img src="/images/brainsideout/01-wounded-knee.png" alt="Screenshot of Brainside Out, Wounded Knee Edition" class="img--rounded" /></p>
    <div class="img__caption">Brainside Out, Wounded Knee Edition<br>
      Circa 2005</div>
  </div>
  <div class="o-layout__item u-4/12@md">
    <p>Brainside Out has undergone innumerable redesigns, revisions, realignments and reconceptualizations. Themes have included everything from disco to 8-bit, mountains to maps, grunge to country western to everything else in between.</p>
    <div class="project-meta">
      <h2>Project Responsibilities</h2>
      <p>Writing a weblog, designing websites, running a business. In that order.</p>
      <h2>Project Technologies</h2>
      <p>XHTML/CSS, JavaScript, Movable Type, PHP, MySQL, CodeIgniter, Blueprint CSS</p>
      <h2>Project Timeline</h2>
      <p>February 2001 &ndash; Present</p>
      <h2>Project Websites</h2>
      <p>brainsideout.com<br>
        <a href="http://terra.brainsideout.com/" rel="external">terra.brainsideout.com</a><br>
        <a href="http://rosco.brainsideout.com/" rel="external">rosco.brainsideout.com</a><br>
        <a href="http://siskiwit.brainsideout.com/" rel="external">siskiwit.brainsideout.com</a></p>
    </div>
  </div>
</div>
