---
title: "Daneomatic"
slug: "daneomatic"
portfolioIsActive: true
---

<div class="header">
  <h1>Daneomatic</h1>
  <h3>This site has been my personal weblog since 2006, where I rant and rave and speak in strong terms. Sometimes it&#8217;s reflective, sometimes it&#8217;s technical, while other times I simply discuss the latest in cultural bric-a-brac. <a href="http://daneomatic.com/" rel="external">Visit the site &raquo;</a></h3>
</div>
<div class="o-layout">
  <div class="o-layout__item u-8/12@md content">
    <p><a href="http://daneomatic.com/" rel="external"><img src="/images/daneomatic/screenshot-01-610.jpg" alt="A screenshot of Daneomatic" class="img-border img-padding" /></a></p>
  </div>
  <div class="o-layout__item u-4/12@md project-meta">
    <h2>Project Responsibilities</h2>
    <p>Writing, Design and Layout, Design Implementation, Front-End Development, WordPress Customization</p>
    <h2>Project Technologies</h2>
    <p>XHTML/CSS, WordPress, Sandbox, Blueprint CSS, PHP, MySQL, Subversion</p>
    <h2>Project Timeline</h2>
    <p>September 2006 &ndash; Present</p>
    <h2>Project Website</h2>
    <p><a href="http://daneomatic.com/" rel="external">daneomatic.com</a></p>
  </div>
</div>
