---
title: "CHI 2009 Student Design Competition Poster"
slug: "energymonitorposter"
portfolioIsActive: true
---

<h1>2009 CHI Competition Poster</h1>
<h3>In advancing to the second round of the 2009 CHI Student Design Competition, we designed and printed a poster describing our concept for a home electricity monitoring system. After traveling to Boston for the conference and sharing our poster, our team was selected to move onto the final round, where we presented our design and placed fourth overall in the competition.</h3>
<div class="o-layout">
  <div class="o-layout__item u-7/12@md">
    <p><img src="/images/energymonitorposter/energymonitorposter-01-530.jpg" class="c-img--rounded" alt="CHI Competition Poster"></p>
  </div>
  <div class="o-layout__item u-5/12@md c-project-metadata">
    <h2>Project Responsibilities</h2>
    <p>Design, Layout, Typography, Copywriting, Photoshop-wrangling, Illustrator-taming, Paul Renner-swooning</p>
    <h2>Project Team</h2>
    <p>Dane Petersen<br>
      <a href="http://www.linkedin.com/in/jaysteele" title="Jay Steele's profile at LinkedIn" rel="external">Jay Steele</a><br>
      <a href="http://www.linkedin.com/in/joewilkerson" title="Joe Wilkerson's profile at LinkedIn" rel="external">Joe Wilkerson</a></p>
    <h2>Project Timeline</h2>
    <p>January &ndash; March 2009</p>
  </div>
</div>
