---
title: "&ldquo;The Fastest Pivot You&rsquo;ll Ever Make&rdquo;"
slug: "fastestpivot"
portfolioIsActive: true
---

<div class="header">
  <h1>&ldquo;The Fastest Pivot You&rsquo;ll Ever Make&rdquo; Talk</h1>
  <h3>I delivered a 30-minute talk at RocketSpace in San Francisco, speaking to a packed house of startups about how they can use UX principles and tools to craft more desirable products more quickly.</h3>
</div>
<div class="content o-layout">
  <div class="o-layout__item u-8/12@md">
    <script async class="speakerdeck-embed" data-id="dcd2da90e39201300cea3afe56f987b4" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
    <p>You can <a href="/images/fastestpivot/fastest-pivot-slides-2012.pdf">download the slides</a> from my talk, or <a href="https://speakerdeck.com/thegreatsunra/the-fastest-pivot-youll-ever-make">browse the slides</a> at Speaker Deck.</p>
  </div>
  <div class="o-layout__item u-4/12@md project-meta">
    <h2>Project Responsibilities</h2>
    <p>Sketching <span class="amp">&amp;</span> Speaking</p>
    <h2>Project Team</h2>
    <p>
      Dane Petersen<br>
      <a href="http://www.kicklabs.com/">KickLabs</a><br>
      <a href="http://rocket-space.com/">RocketSpace</a>
    </p>
    <h2>Project Timeline</h2>
    <p>October 2012</p>
    <h2>And Furthermore&hellip;</h2>
    <p>
      <a href="/images/fastestpivot/fastest-pivot-slides-2012.pdf">Presentation Slides</a> (27MB PDF)<br>
      <a href="https://speakerdeck.com/thegreatsunra/the-fastest-pivot-youll-ever-make">Slides at Speaker Deck</a><br>
    </p>
  </div>
</div>
