---
title: "Adaptive Path Fridge Alarm"
slug: "fridgealarm"
portfolioIsActive: true
---

<h1 class="c-page-title c-page-title--large@md c-page-title--huge@lg">Adaptive Path Fridge Alarm</h1>
<h3 class="c-page-title--small c-page-title@lg">Adaptive Path&rsquo;s San Francisco studio had a meddlesome fridge that wouldn&rsquo;t always latch when it was closed. Sometimes it would sit open for hours, spoiling our lunches, using up all the unicorn tears, burning all the panda fur oil, but worst of all, <em>not</em> rocking out to hit 80s music.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-8/12@md">
    <div class="c-vimeo-player">
      <iframe src="http://player.vimeo.com/video/21169243" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <p>I took it upon myself to remedy this troubling situation, using Arduino to build a fridge alarm that would let us know when the door had been left open too long. The alarm ran flawlessly for six months, reducing the number of spoiled lunches and saving untold gallons of unicorn tears and panda fur oil!</p>
    <a href="/images/fridgealarm/fridge-sensor-magnet-930.jpg"><img src="/images/fridgealarm/fridge-sensor-magnet-610.jpg" class="c-img c-img--rounded" alt="The fridge door, outfitted with the hall effect sensor and the magnet (hidden under the tape)."></a>
    <p>The alarm uses a hall effect sensor and a neodymium magnet to sense when the refrigerator door is opened, at which point the Arduino starts counting down.</p>
    <a href="/images/fridgealarm/fridge-in-situ-930.jpg"><img src="/images/fridgealarm/fridge-in-situ-610.jpg" class="c-img c-img--rounded" alt="The Fridge Alarm In Situ"></a>
    <p>If the door is open for more than a minute the alarm sounds, filling the studio with smash 80s hits until the situation is addressed.</p>
    <a href="/images/fridgealarm/fridge-hall-sensor-930.jpg"><img src="/images/fridgealarm/fridge-hall-sensor-610.jpg" class="c-img c-img--rounded" alt="Sketches for deciphering the pins of the hall effect sensor."></a>
    <a href="/images/fridgealarm/fridge-states-930.jpg"><img src="/images/fridgealarm/fridge-states-610.jpg" class="c-img c-img--rounded" alt="Sketches for figuring out the different door states, and how to move between them."></a>
    <p>The scripts to make it happen certainly didn&rsquo;t spring fully-formed from my head, and I found sketching to be an incredibly useful tool for thinking through all the different programmatic states of the fridge.</p>
    <div class="u-4/12@md u-float-left u-pr"> <!-- do your utilities work nested with responsive grid? -->
      <p><a href="/images/fridgealarm/fridge-schematic.png"><img src="/images/fridgealarm/fridge-schematic.png" alt="The Arduino Fridge Alarm schematic, from Fritzing."></a></p>
    </div>
    <div class="u-8/12@md u-float-left">
      <h3>Interested in building your own?</h3>
      <p><a href="https://github.com/thegreatsunra/Adaptive-Path-Fridge-Alarm">Download all the source files here</a>, complete with scripts, code libraries, schematics and instructions.</p>
      <p>Still aching for more juicy details? Read the full blog post about the fridge alarm <a href="http://adaptivepath.com/ideas/adaptive-path-fridge-alarm">at the Adaptive Path blog.</a></p>
    </div>
  </div>
  <div class="o-layout__item u-4/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Team</h2>
    <p>Dane Petersen<br>
      Refrigerator<br>
      Spoiled Food
    </p>
    <h2 class="c-project-metadata__title">Project Technologies</h2>
    <p>Arduino, buzzer, hall effect sensor</p>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>September 2010</p>
    <h2 class="c-project-metadata__title">Recognition</h2>
    <p>The Adaptive Path fridge alarm was <a href="http://www.adafruit.com/blog/2011/03/20/adaptive-path-fridge-alarm/">picked up by the Adafruit blog</a>, where it won glowing praise. Shucks, thanks y&rsquo;all!</p>
    <h2 class="c-project-metadata__title">And Furthermore&hellip;</h2>
    <p>
      <a href="http://www.flickr.com/photos/thegreatsunra/sets/72157626287937510/">Photo Gallery at Flickr</a><br>
      <a href="http://adaptivepath.com/ideas/adaptive-path-fridge-alarm">Blog Post at Adaptive Path</a><br>
      <a href="http://vimeo.com/21169243">Video at Vimeo</a><br>
      <a href="https://github.com/thegreatsunra/Adaptive-Path-Fridge-Alarm">Scripts and Schematics at GitHub</a><br>
    </p>
  </div>
</div>
