---
title: "U.N. Global Pulse HunchWorks Talk"
slug: "hunchworks" 
---

<div class="header">
  <h1>U.N. Global Pulse HunchWorks Talk</h1>
  <h3>HunchWorks is a system designed to detect and mitigate emerging global crises before they occur. Adaptive Path helped Global Pulse work through the messy human challenges of the HunchWorks experience, including establishing trust with the system and fostering a community of experts with complementary skills.</h3>
</div>
<div class="content o-layout">
  <div class="o-layout__item u-8/12@md">
    <h3>The Talk</h3>
    <div class="c-vimeo-player">
      <iframe src="http://player.vimeo.com/video/31649498" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <p>In September 2011 <a href="http://strataconf.com/stratany2011/public/schedule/detail/21575">I delivered a talk</a> on HunchWorks at the O&rsquo;Reilly Strata Conference in New York City with Chris van der Walt and Sara Farmer of Global Pulse.</p>
    <p>My part starts at the 14:30 mark in the video and goes for about 11 minutes.</p>
  </div>
  <div class="o-layout__item u-4/12@md project-meta">
    <h2>Project Responsibilities</h2>
    <p>Prioritization, Sketching, Concept Generation, Workshop Facilitation, Design Synthesis</p>
    <h2>Project Team</h2>
    <p>Chris Risdon<br>
      Chris van der Walt<br>
      Dane Petersen<br>
      Jeff Wain<br>
      P.J. Onori<br>
      Sara Farmer<br>
      Shad Gross<br>
      Todd Elliot<br>
      Trina Hancock</p>
    <h2>Project Timeline</h2>
    <p>May &ndash; September 2011</p>
    <h2>And Furthermore&hellip;</h2>
    <p>
    <a href="/images/hunchworks/hunchworks-strataconf-2011.pdf">Presentation Slides</a> (18MB PDF)<br>
    <a href="https://speakerdeck.com/thegreatsunra/hunchworks-combining-human-expertise-and-big-data">Slides at Speaker Deck</a><br>
    <a href="http://vimeo.com/31649498">Our Presentation at Vimeo</a><br>
    <a href="http://www.unglobalpulse.org/blog/why-hunchworks">HunchWorks on the Global Pulse Blog</a><br>
    <a href="http://adaptivepath.com/ideas/global-pulse-hunchworks-project-week-0-why-you-should-care">HunchWorks on the Adaptive Path Blog</a>
    </p>
  </div>
</div>
