---
title: portfolio
slug: portfolio
portfolioIsActive: true
---

<ul class="c-portfolio o-layout">
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/codecraft.html">
            <h3 class="c-portfolio__title">
                "Codecraft" Talk
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            I gave a talk at GE’s first-annual Design Conference, discussing the rapid pace of change in development practices over the last ten years and its implications for how we practice design.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/lean-day-west.html">
            <h3 class="c-portfolio__title">
                "Design at Scale" Workshop
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            I gave a talk at GE’s first-annual Design Conference, discussing the rapid pace of change in development practices over the last ten years and its implications for how we practice design.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/industrial-internet.html">
            <h3 class="c-portfolio__title">
                "Designing the Industrial Internet" Talk
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            I gave a talk at GE’s first-annual Design Conference, discussing the rapid pace of change in development practices over the last ten years and its implications for how we practice design.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/on-aircraft.html">
            <h3 class="c-portfolio__title">
                "On Aircraft and Craft" Interaction13 Talk
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            I gave a talk at GE’s first-annual Design Conference, discussing the rapid pace of change in development practices over the last ten years and its implications for how we practice design.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/fastest-pivot.html">
            <h3 class="c-portfolio__title">
                "The Fastest Pivot You'll Ever Make" Talk
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            I gave a talk at RocketSpace in San Francisco to a packed house of startups on how they can use user experience principles to craft more desirable products more quickly.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/hunchworks.html">
            <h3 class="c-portfolio__title">
                U.N. Global Pulse HunchWorks Talk
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            Adaptive Path helped Global Pulse work through the messy human challenges of HunchWorks, a system designed to detect and mitigate emerging global crises before they occur.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/fridge-alarm.html">
            <h3 class="c-portfolio__title">
                Adaptive Path Fridge Alarm
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            Adaptive Path had a meddlesome refrigerator with a door that wouldn’t always shut, spoiling our food and wasting precious resources. I wired it up so it would play hit 80s music if it got left open too long.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/adaptive-events.html">
            <h3 class="c-portfolio__title">
                Adaptive Path Events Development
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        I revamped the technology platform of Adaptive Path&rsquo;s Events websites, preserving their rich history of content while creating a strong foundation for launching new sites year after year.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/mx-recording.html">
            <h3 class="c-portfolio__title">
                MX Conference Graphic Recording
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        At Adaptive Path&rsquo;s 2011 MX Conference I created enormous sketches as our speakers gave their talks, responding to their ideas and recording them in real time.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/smartfm-app.html">
            <h3 class="c-portfolio__title">
                Smart.fm iPhone App Concepts
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        As an experience design intern at Adaptive Path I worked with the Smart.fm team, engaging in extensive concept generation and ideation to inform the design direction of a new iPhone app.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/adaptive-home.html">
            <h3 class="c-portfolio__title">
                Adaptive Path Home Page
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        While working as an experience design intern at Adaptive Path, I dared to rewrite some of Douglas Bowman’s own code and implemented a newly designed home page.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/outside-in.html">
            <h3 class="c-portfolio__title">
                Outside In: Bringing the Outdoors Indoors
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        I propose a series of principles to guide the design of systems that evoke a sense of the outdoors in indoor spaces. This eight-month project was my final capstone project in completing my master&rsquo;s degree in interaction design.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/professor-books.html">
            <h3 class="c-portfolio__title">
                Super Secret Professor Books
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        A small team of design students banded together in secrecy to create a series of personalized hardcover books that share how much our HCI/d cohort appreciates our professors.
        </div>
    </li>
    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/wiichuck-pong.html">
            <h3 class="c-portfolio__title">
                Wiichuck Pong
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        I used an Arduino to connect a Nintendo Wii Nunchuk to my computer, and modified a game of Pong so I could control the paddles using the accelerometers in the controller.
        </div>
    </li>

    <li class="c-portfolio__item u-clear-both clearfix u-pb">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/recipe-prototype.html">
            <h3 class="c-portfolio__title">
                Recipe Application Prototype
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        I took the wireframes and requirements for a proposed web form, and built an interactive high-fidelity XHTML/CSS/Javascript prototype for a fictional recipe application.
        </div>
    </li>  
</ul>
