---
title: portfolio
slug: portfolio
portfolioIsActive: true
---

<ul class="c-portfolio o-list-bare">
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/codecraft.html">
            <h3 class="c-portfolio__title">
                "Codecraft" Talk
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            I gave a talk at GE’s first-annual Design Conference, discussing the rapid pace of change in development practices over the last ten years and its implications for how we practice design.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/lean-day-west.html">
            <h3 class="c-portfolio__title">
                "Design at Scale" Workshop
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            I gave a talk at GE’s first-annual Design Conference, discussing the rapid pace of change in development practices over the last ten years and its implications for how we practice design.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/industrial-internet.html">
            <h3 class="c-portfolio__title">
                "Designing the Industrial Internet" Talk
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            I gave a talk at GE’s first-annual Design Conference, discussing the rapid pace of change in development practices over the last ten years and its implications for how we practice design.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/on-aircraft.html">
            <h3 class="c-portfolio__title">
                "On Aircraft and Craft" Interaction13 Talk
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            I gave a talk at GE’s first-annual Design Conference, discussing the rapid pace of change in development practices over the last ten years and its implications for how we practice design.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/fastest-pivot.html">
            <h3 class="c-portfolio__title">
                "The Fastest Pivot You'll Ever Make" Talk
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            I gave a talk at RocketSpace in San Francisco to a packed house of startups on how they can use user experience principles to craft more desirable products more quickly.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/hunchworks.html">
            <h3 class="c-portfolio__title">
                U.N. Global Pulse HunchWorks Talk
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            Adaptive Path helped Global Pulse work through the messy human challenges of HunchWorks, a system designed to detect and mitigate emerging global crises before they occur.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/fridge-alarm.html">
            <h3 class="c-portfolio__title">
                Adaptive Path Fridge Alarm
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
            Adaptive Path had a meddlesome refrigerator with a door that wouldn’t always shut, spoiling our food and wasting precious resources. I wired it up so it would play hit 80s music if it got left open too long.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/adaptive-events.html">
            <h3 class="c-portfolio__title">
                Adaptive Path Events Development
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        I revamped the technology platform of Adaptive Path&rsquo;s Events websites, preserving their rich history of content while creating a strong foundation for launching new sites year after year.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/mx-recording.html">
            <h3 class="c-portfolio__title">
                MX Conference Graphic Recording
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        At Adaptive Path&rsquo;s 2011 MX Conference I created enormous sketches as our speakers gave their talks, responding to their ideas and recording them in real time.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/smartfm-app.html">
            <h3 class="c-portfolio__title">
                Smart.fm iPhone App Concepts
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        As an experience design intern at Adaptive Path I worked with the Smart.fm team, engaging in extensive concept generation and ideation to inform the design direction of a new iPhone app.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/adaptive-home.html">
            <h3 class="c-portfolio__title">
                Adaptive Path Home Page
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        While working as an experience design intern at Adaptive Path, I dared to rewrite some of Douglas Bowman’s own code and implemented a newly designed home page.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/outside-in.html">
            <h3 class="c-portfolio__title">
                Outside In: Bringing the Outdoors Indoors
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        I propose a series of principles to guide the design of systems that evoke a sense of the outdoors in indoor spaces. This eight-month project was my final capstone project in completing my master&rsquo;s degree in interaction design.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/professor-books.html">
            <h3 class="c-portfolio__title">
                Super Secret Professor Books
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        A small team of design students banded together in secrecy to create a series of personalized hardcover books that share how much our HCI/d cohort appreciates our professors.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/wiichuck-pong.html">
            <h3 class="c-portfolio__title">
                Wiichuck Pong
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        I used an Arduino to connect a Nintendo Wii Nunchuk to my computer, and modified a game of Pong so I could control the paddles using the accelerometers in the controller.
        </div>
    </li>

    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/recipe-prototype.html">
            <h3 class="c-portfolio__title">
                Recipe Application Prototype
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        I took the wireframes and requirements for a proposed web form, and built an interactive high-fidelity XHTML/CSS/Javascript prototype for a fictional recipe application.
        </div>
    </li>

    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/energy-monitor.html">
            <h3 class="c-portfolio__title">
                Home Energy Monitoring System
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        We propose a residential electricity monitoring and feedback system for the iPhone that allows users to track their home energy usage, and encourages them to reduce consumption. We presented this project at CHI 2009 and placed fourth overall in the Student Design Competition.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/energy-monitor-poster.html">
            <h3 class="c-portfolio__title">
                CHI 2009 Competition Poster
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        In advancing to the second round of the 2009 CHI Student Design Competition, we designed and printed a poster describing our concept for a home electricity monitoring system.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/light-sandbox.html">
            <h3 class="c-portfolio__title">
                &ldquo;Light Sandbox&rdquo; Experience Prototype
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        The Light Sandbox allows people to use mirrors and prisms to manipulate light, projecting their creations onto a shared light column. We created experience prototypes to inform our design for this conceptual museum exhibit.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/akzidenz-book.html">
            <h3 class="c-portfolio__title">
                &ldquo;See Akzidenz First!&rdquo; Type Specimen Book
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        Inspired by the turn-of-the-century American railway lodges of the Glacier National Park region, I designed a specimen book for the Akzidenz-Grotesk type family.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/food-advisor.html">
            <h3 class="c-portfolio__title">
                Weight Watchers Fast Food Advisor
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        With this conceptual iPhone application, we aim to help users make good, healthy eating choices when they are at their most vulnerable, and when they are most likely to give into temptation: when they are eating out.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/bigwinds.html">
            <h3 class="c-portfolio__title">
                Big Winds Commerce Rebuild
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        With the help of a local developer we rebuilt the Big Winds commerce engine in Ruby on Rails, to the tune of improved performance, easier maintenance, faster development, smarter product data, and a pixel-perfect grid design.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/type-cliche.html">
            <h3 class="c-portfolio__title">
                Typography Clich&eacute; Letterpress Book
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        As part of a project to familiarize ourselves with traditional letterpress machinery, we printed a book of typography clichés in the type shop at Indiana University.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/letterforms.html">
            <h3 class="c-portfolio__title">
                Letterform Combinations
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        We explored figure/ground relationships by combining two letterforms into a single visual unit. This project helped fine-tune my appreciation for the variety of subtle differences found in typefaces.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/lost-dreams.html">
            <h3 class="c-portfolio__title">
                Dane and James&rsquo; Lost Dreams
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        We propose a cruise ship that uniquely caters to the people who typically go on cruises; namely, those who have faded Harley Davidson t-shirts, wear fanny packs, and have a favorite monster truck driver.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/many-eyes.html">
            <h3 class="c-portfolio__title">
                Many Eyes Usability Study
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        In an effort to uncover potential issues with ease of learning, we conducted a formal usability evaluation of the Many Eyes data visualization website, and compiled our findings in a final report.

        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/lost-mountain.html">
            <h3 class="c-portfolio__title">
                Lost Mountain Website Redesign
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        Lost Mountain Clayworks is the eclectic pottery studio of Mark Heimann. I designed and launched the new Lost Mountain website, creating a rugged look and bringing online shopping to his sturdy line of pirate stoneware.
        </div>
    </li>
    <li class="c-portfolio__item o-layout u-pb+">
        <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/tuesdays-robot.html">
            <h3 class="c-portfolio__title">
                Tuesdays Robot Website Redesign
            </h3>
            <img src="/images/codecraft-banner-450.jpg" class="c-portfolio__img" />
        </a>
        <div class="c-portfolio__description o-layout__item u-pt+ u-6/12@md">
        Heavily influenced by Bob Dylan, Tuesdays Robot is a country rock band hailing from Minneapolis. I designed and launched a new website to correspond with the release of their first official album.
        </div>
    </li>
</ul>


