---
title: "Lean Day West: Design At Scale Workshop"
slug: "leandaywest"
---

<div class="header">
  <h1>Design At Scale Workshop</h1>
  <h3>At Lean Day West in Portland, Karel Barnoski and I conducted a half-day workshop where we taught UX professionals how to achieve better, faster UX in the enterprise by using design systems, sketching, and prototyping techniques.</h3>
</div>
<div class="content o-layout">
  <div class="o-layout__item u-8/12@md">
    <script async class="speakerdeck-embed" data-id="d6b3323002060131ca8f5a375ffdd460" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
    <p>You can <a href="/images/industrialinternet/industrial-internet-slides-2013.pdf">download the slides</a> from our workshop, or <a href="https://speakerdeck.com/thegreatsunra/design-at-scale-workshop">browse the slides</a> at Speaker Deck.</p>
    <h3>About The Workshop</h3>
    <p>Karel Barnoski and I led this workshop with more than 70 participants at Neo&rsquo;s <a href="http://www.leandaywest.com">Lean Day West</a> conference in Portland, Oregon on September 16, 2013.</p>
  </div>
  <div class="o-layout__item u-4/12@md project-meta">
    <h2>Project Responsibilities</h2>
    <p>Speaking<br>
    Facilitating</p>
    <h2>Project Team</h2>
    <p><a href="http://www.linkedin.com/in/karelbarnoski">Karel Barnoski</a><br>
    Dane Petersen<br>
    <h2>Project Timeline</h2>
    <p>September 2013</p>
    <h2>And Furthermore&hellip;</h2>
    <p>
      <a href="/images/leandaywest/design-at-scale-workshop-2013.pdf">Workshop Slides</a> (32.9MB PDF)<br>
      <a href="https://speakerdeck.com/thegreatsunra/design-at-scale-workshop">Slides at Speaker Deck</a>
    </p>
  </div>
</div>
