---
title: "Lost Mountain Website Redesign"
slug: "lostmountain" 
---

<div class="header">
  <h1>Lost Mountain Website Redesign</h1>
  <h3>Lost Mountain Clayworks is the eclectic pottery studio of Mark Heimann, an adventuresome fellow whose resum&eacute; includes riding elephants, starring in Kevin Costner&#8217;s <em>The Postman</em>, and acting under the pirate alias Captain Morrigan Quicksilver.</h3>
  <h3>While running Brainside Out I designed and launched the new Lost Mountain website, creating a rugged look and bringing online shopping to Quicksilver&#8217;s sturdy line of pirate stoneware.</h3>
</div>
<div class="o-layout content">
  <div class="o-layout__item u-8/12@md">
    <p><a href="http://www.lostmtnclay.com/" rel="external"><img src="/images/lostmountain/screenshot-01-610.jpg" alt="Screenshot of the redesigned Lost Mountain Clayworks website" class="img-border img-padding" /></a></p>
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@xs"><img src="/images/lostmountain/multiplicitea-290.jpg" alt="Multiplicitea, a canonical example of Mark Heimann's work" class="img-border img-padding" /></li>
      <li class="o-layout__item u-6/12@xs"><img src="/images/lostmountain/pirate-pots-290.jpg" alt="A fine collection of Captain Morrigan Quicksilver's Pirate Pots" class="img-border img-padding" /></li>
    </ul>
  </div>
  <div class="o-layout__item u-4/12@md">
    <p><img src="/images/lostmountain/quicksilver-mackay-290.jpg" alt="Captain Morrigan Quicksilver, with his good pirate mate The MacKay" class="img-border img-padding" /></p>
    <div class="project-meta">
      <h2>Project Responsibilities</h2>
      <p>Website Architecture, Design and Layout, Project Management, Design Implementation, Front-End Development, WordPress Customization, PayPal Integration, Copywriting, Webhost Migration</p>
      <h2>Project Team</h2>
      <p>Dane Petersen<br>
        Mark Heimann, Lost Mountain</p>
      <h2>Project Technologies</h2>
      <p>XHTML/CSS, JavaScript, PHP, MySQL, WordPress, PayPal</p>
      <h2>Project Timeline</h2>
      <p>January &ndash; May 2006<br>
        Launched May 2006</p>
      <h2>Project Website</h2>
      <p><a href="http://www.lostmtnclay.com/" rel="external">www.lostmtnclay.com</a></p>
    </div>
  </div>
</div>
