---
title: "Dane and James&rsquo; Lost Dreams"
slug: "lostdreams"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@lg">Dane and James&rsquo; Lost Dreams</h1>
<h3 class="c-page-title--small c-page-title@lg">We propose a cruise ship that uniquely caters to the people who typically go on cruises; namely, those who have faded Harley Davidson t-shirts, wear fanny packs, and have a favorite monster truck driver. Christened &ldquo;Dane and James&rsquo; Lost Dreams&rdquo; this queen of the seas would feature a roller coaster, an entire deck of mini-fridges and microwaves, and luxurious double-wide toilet paper.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item">
    <img src="/images/lostdreams/lostdreams-940.jpg" alt="Dane and James&rsquo; Lost Dreams Cruise Ship" class="c-img c-img--rounded">
  </div>
  <div class="o-layout__item u-8/12@md u-push-4/12@md c-project-metadata">
    <h3>Is my handwriting blowing your mind? Allow me to translate:</h3>
    <p>&ldquo;Dane and James&rsquo; Lost Dreams!&rdquo;</p>
    <p>Cruise Ship + Roller Coaster = <em>Awesome.</em></p>
    <p>Smoke (cruise ship also makes <em>dirt bike</em> sounds) BRAAP-BRAAP!</p>
    <p>PROBLEM: No one is signing up for spring break in Cancun for 2010&hellip; some say it&rsquo;s too early, but those people are <em>wrong</em> (and probably stupid, too). We say it&rsquo;s because of SWINE FLU (aka H1N1, for that <em>bitchy</em> pig lobby).</p>
    <p>&hellip;just means more <em>bacon</em> for the rest of us.</p>
    <p>SOLUTION: &ldquo;Dane and James&rsquo; Lost Dreams,&rdquo; a cruise ship that caters to the <em>real</em> target user group of cruise ships!</p>
    <ul>
      <li>
      People who own Harley Davidson t-shirts (but no longer have the <em>sleeves</em> to go along with them) &ndash; used to be black, but went through the wash too many times&hellip;</li>
      <li>People with fanny packs (preferably in bright colors).</li>
      <li>People who have a <em>favorite</em> monster truck driver.</li>
      <li>People with multiple chins.</li>
      <li>People who shouldn&rsquo;t wear swimsuits, nor <em>own</em> them.</li>
      <li>People who live in <em>dorms</em>, or still <em>wish</em> they did.</li>
    </ul>
    <p>FUCK THE CASINO. We&rsquo;re doing an <em>entire deck</em> of mini-fridges and microwaves and TV dinners. (not to mention TV <em>desserts!</em>)</p>
    <p>VODKA + JELLO CAKE = <em>VODELLO CAKE</em></p>
    <p>Luxurious Double-Wide Toilet Paper<br>
    America <em>demands</em> Brawny on its ass.</p>
  </div>
  <div class="o-layout__item u-4/12@md u-pull-8/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Responsibilities</h2>
    <p>&ldquo;Persona&rdquo; Creation, Brainstorming, Ideation, Concept Generation, Sketching</p>
    <h2 class="c-project-metadata__title">Project Team</h2>
    <p>Dane Petersen<br>
      <a href="http://www.jamesschmittler.com/" rel="external">James Schmittler</a></p>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>May 2009</p>
  </div>
</div>
