---
title: "Dane and James&rsquo; Lost Dreams"
slug: "lostdreams"
portfolioIsActive: true
---

<h1>Dane and James&rsquo; Lost Dreams</h1>
<h3>We propose a cruise ship that uniquely caters to the people who typically go on cruises; namely, those who have faded Harley Davidson t-shirts, wear fanny packs, and have a favorite monster truck driver. Christened &ldquo;Dane and James&rsquo; Lost Dreams&rdquo; this queen of the seas would feature a roller coaster, an entire deck of mini-fridges and microwaves, and luxurious double-wide toilet paper.</h3>
<div class="o-layout">
  <div class="o-layout__item u-12/12@xs">
    <img src="/images/lostdreams/lostdreams-940.jpg" alt="Dane and James&rsquo; Lost Dreams Cruise Ship">
  </div>
  <div class="o-layout__item u-9/12@md u-push-3/12@md c-project-metadata">
    <h3>Is my handwriting blowing your mind? Allow me to translate:</h3>
    <p>&#8220;Dane and James&#8217; Lost Dreams!&#8221;</p>
    <p>Cruise Ship + Roller Coaster = <em>Awesome.</em></p>
    <p>Smoke (cruise ship also makes <em>dirt bike</em> sounds) BRAAP-BRAAP!</p>
    <p>PROBLEM: No one is signing up for spring break in Cancun for 2010&#8230; some say it&#8217;s too early, but those people are <em>wrong</em> (and probably stupid, too). We say it&#8217;s because of SWINE FLU (aka H1N1, for that <em>bitchy</em> pig lobby).</p>
    <p>&#8230;just means more <em>bacon</em> for the rest of us.</p>
    <p>SOLUTION: &#8220;Dane and James&#8217; Lost Dreams,&#8221; a cruise ship that caters to the <em>real</em> target user group of cruise ships!</p>
    <ul>
      <li>
      People who own Harley Davidson t-shirts (but no longer have the <em>sleeves</em> to go along with them) &#8211; used to be black, but went through the wash too many times&#8230;</li>
      <li>People with fanny packs (preferably in bright colors).</li>
      <li>People who have a <em>favorite</em> monster truck driver.</li>
      <li>People with multiple chins.</li>
      <li>People who shouldn&#8217;t wear swimsuits, nor <em>own</em> them.</li>
      <li>People who live in <em>dorms</em>, or still <em>wish</em> they did.</li>
    </ul>
    <p>FUCK THE CASINO. We&#8217;re doing an <em>entire deck</em> of mini-fridges and microwaves and TV dinners. (not to mention TV <em>desserts!</em>)</p>
    <p>VODKA + JELLO CAKE = <em>VODELLO CAKE</em></p>
    <p>Luxurious Double-Wide Toilet Paper<br>
    America <em>demands</em> Brawny on its ass.</p>
  </div>
  <div class="o-layout__item u-3/12@md u-pull-9/12@md c-project-metadata">
    <h2>Project Responsibilities</h2>
    <p>&ldquo;Persona&rdquo; Creation, Brainstorming, Ideation, Concept Generation, Sketching</p>
    <h2>Project Team</h2>
    <p>Dane Petersen<br>
      <a href="http://www.jamesschmittler.com/" rel="external">James Schmittler</a></p>
    <h2>Project Timeline</h2>
    <p>May 2009</p>
  </div>
</div>
