---
title: "Many Eyes Usability Study"
slug: "manyeyes" 
---

<div class="header">
  <h1>Many Eyes Usability Study</h1>
  <p><img src="/images/manyeyes/user-study-photo-01-940.jpg" alt="Conducting the usability evaluation of the Many Eyes website with one of our participants."/></p>
</div>
<div class="o-layout content">
  <div class="o-layout__item u-6/12@md u-push-6/12@md">
    <p class="caption">
      <img src="/images/manyeyes/time-per-task-460.jpg" alt="User Time Per Task" /><br>
      <strong>User Time Per Task</strong> - This graph clearly shows the disproportionate amount of time spent on Task 2.1, which involved creating a user account and registering with the Many Eyes website. <a href="/images/manyeyes/many-eyes-usability-docs.zip" title="Download our testing documents, including tasks and scenarios">Download our testing documents</a> for a detailed look at our tasks and scenarios.</p>
    <p class="caption"><img src="/images/manyeyes/cumulative-time-per-user-460.jpg" alt="Cumulative Time Per User" /><br>
    <strong>Cumulative Time Per User</strong> - This graph shows the amount of time it took each user to complete each task, in contrast to the performance of our "experienced" user. Task 2.1 is clearly visible in orange. Also notable is Task 1.2, which involved locating existing data visualizations.</p>
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@xs"><a href="/images/manyeyes/visualizations-current.jpg"><img src="/images/manyeyes/visualizations-current-210.jpg" alt="Current Visualizations" class="img-padding img-border" /></a></li>
      <li class="o-layout__item u-6/12@xs"><a href="/images/manyeyes/visualizations-proposed.jpg"><img src="/images/manyeyes/visualizations-proposed-210.jpg" alt="Proposed Visualizations" class="img-padding img-border" /></a></li>
    </ul>
    <p class="clear caption">Based on our analysis of Task 1.2, we propose moving the existing visualizations from their awkward location next to the comments box, and grouping them alongside similar options. <a href="/images/manyeyes/many-eyes-usability-report.pdf" title="Download our complete usability report in PDF format">Download our usability report</a> for a complete overview of our observations and conclusions.</p>
  </div>
  <div class="o-layout__item u-6/12@md u-pull-6/12@md">
    <p><a href="http://manyeyes.alphaworks.ibm.com/manyeyes/" rel="external" title="IBM's Many Eyes data visualization website">IBM&#8217;s Many Eyes website</a> allows people to upload and visualize data, and facilitates social interaction and analysis by allowing people to openly share these visualizations.</p>
    <p>In order to test the ease of learning of the Many Eyes website, we conducted a series of formal usability evaluations with three graduate students at Indiana University.  Based on our analysis of the usability data, we concluded that the Many Eyes website is somewhat difficult to learn; however, once the users have made it through the registration process and explored the features of the site, they find it fairly easy to use.</p>
    <p>We recommend improving the Many Eyes registration and login process, so that field requirements are clear and error messages are more specific and helpful. We also recommend modifying the layout of some page elements so that relevant options are more logically grouped and visible.</p>
    <p><a href="/images/manyeyes/many-eyes-usability-report.pdf" title="Download our complete usability report in PDF format">Download our Complete Usability Report</a><br>
    (900KB PDF)</p>
    <p><a href="/images/manyeyes/many-eyes-usability-docs.zip" title="Download our testing documents, including tasks and scenarios">Download our Usability Testing Documents</a><br>(400KB ZIP)</p>
    <div class="project-meta">
      <h2>Project Responsibilities</h2>
      <p>Usability Document Creation, Study Facilitator, Data Capture and Analysis</p>
      <h2>Project Team</h2>
      <p>Dane Petersen<br>
        Rod Myers<br>
        <a href="http://www.linkedin.com/in/jaysteele" title="Jay Steele's profile at LinkedIn" rel="external">Jay Steele</a><br>
        <a href="http://www.linkedin.com/in/joewilkerson" title="Joe Wilkerson's profile at LinkedIn" rel="external">Joe Wilkerson</a></p>
      <h2>Project Timeline</h2>
      <p>November 2008</p>
    </div>
  </div>
</div>
