---
title: "On Aircraft and Craft"
slug: "onaircraft" 
---

<div class="header">
	<h1>&ldquo;On Aircraft and Craft&rdquo; Interaction13 Talk</h1>
	<h3>At the Interaction13 Conference in Toronto I gave a talk about Burt Rutan, a prolific aerospace engineer whose self-imposed design principles allowed him to excel at his craft, culminating in his design for the world&rsquo;s first manned commercial spacecraft.</h3>
</div>
<div class="content o-layout">
	<div class="o-layout__item u-8/12@md">
		<div class="c-vimeo-player">
			<iframe src="http://player.vimeo.com/video/63374530" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    	</div>
		<p>You can also <a href="/{{site.imgFolder}}/onaircraft/on-aircraft-slides-2013.pdf">download the slides</a> from my talk, or <a href="https://speakerdeck.com/thegreatsunra/on-aircraft-and-craft">browse the slides</a> at Speaker Deck.</p>
		<h3>About The Talk</h3>
		<p>On December 14, 1986, a bizarre-looking aircraft so laden with fuel that its wingtips dragged on the runway took off from an airport in the Mojave Desert. It landed nine days later, becoming the first plane to circle the globe nonstop without refueling. That plane was designed by Burt Rutan, an aerospace engineer who would go on to design SpaceShipOne, which in 2004 became the world&rsquo;s first manned commercial spacecraft.</p>
		<p>Having designed nearly four hundred unique aircraft, Rutan’s bold configurations stand out in an engineering practice that is necessarily shaped by the unforgiving science of flight. Despite these constraints, it has been Rutan&rsquo;s self-imposed principles that give him the freedom, experience, and courage necessary to excel in his craft.</p>
		<p>Encoded into the shape of Rutan&rsquo;s aircraft are a series of convictions, and a clear point of view emerges when you consider his body of work not as isolated designs, but as a connected ecosystem. This talk discusses these self-referential connections, and how they inform the way we think about our own design experience.</p>
	</div>
	<div class="o-layout__item u-4/12@md project-meta">
		<h2>Project Responsibilities</h2>
		<p>Sketching <span class="amp">&amp;</span> Speaking</p>
		<h2>Project Team</h2>
		<p>Dane Petersen<br>
		<h2>Project Timeline</h2>
		<p>January 2013</p>
		<h2>And Furthermore&hellip;</h2>
		<p>
			<a href="http://vimeo.com/63374530">Talk Video at Vimeo</a><br>
			<a href="/{{site.imgFolder}}/onaircraft/on-aircraft-slides-2013.pdf">Presentation Slides</a> (23MB PDF)<br>
			<a href="https://speakerdeck.com/thegreatsunra/on-aircraft-and-craft">Slides at Speaker Deck</a>
		</p>
	</div>
</div>
