---
title: "Super Secret Professor Books"
slug: "professorbooks"
portfolioIsActive: true
---

<h1 class="c-page-title c-page-title--large@md c-page-title--huge@lg">Super Secret Professor Books</h1>
<h3 class="c-page-title--small c-page-title@lg">Working under the cover of secrecy, a small team of Indiana University HCI/d students banded together to help our cohort create a gift for our professors that demonstrates how much we appreciate their teachings. We surprised each of our five faculty members with a unique hardcover book, filled with pictures, memories and personal notes from our two years together.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item">
    <img src="/images/professorbooks/cover-01.jpg" alt="Super Secret Professor Books, Front Cover" class="c-img c-img--rounded"><br>
    <img src="/images/professorbooks/cover-02.jpg" alt="Super Secret Professor Books, Front Cover" class="c-img c-img--rounded">
  </div>
  <div class="o-layout__item u-6/12@md">
    <img src="/images/professorbooks/inside-02.jpg" alt="Super Secret Professor Books" class="c-img c-img--rounded"><br>
    <img src="/images/professorbooks/inside-03.jpg" alt="Super Secret Professor Books" class="c-img c-img--rounded">
  </div>
  <div class="o-layout__item u-6/12@md">
      <img src="/images/professorbooks/inside-04.jpg" alt="Super Secret Professor Books" class="c-img c-img--rounded"><br>
      <img src="/images/professorbooks/inside-05.jpg" alt="Super Secret Professor Books" class="c-img c-img--rounded">
  </div>
  <div class="o-layout__item">
    <h2>The Delivery</h2>
  </div>
  <div class="o-layout__item u-6/12@md">
      <img src="/images/professorbooks/delivery-01.jpg" alt="Super Secret Professor Books" class="c-img c-img--rounded"><br>
      <img src="/images/professorbooks/delivery-02.jpg" alt="Super Secret Professor Books" class="c-img c-img--rounded"><br>
      <img src="/images/professorbooks/delivery-03.jpg" alt="Super Secret Professor Books" class="c-img c-img--rounded">
  </div>
  <div class="o-layout__item u-6/12@md">
      <img src="/images/professorbooks/delivery-04.jpg" alt="Super Secret Professor Books" class="c-img c-img--rounded"><br>
      <img src="/images/professorbooks/delivery-06.jpg" alt="Super Secret Professor Books" class="c-img c-img--rounded"><br>
      <img src="/images/professorbooks/delivery-05.jpg" alt="Super Secret Professor Books" class="c-img c-img--rounded">
  </div>
  <div class="o-layout__item c-project-metadata">
    <h2 class="c-project-metadata__title">Project Responsibilities</h2>
    <p>Design Direction, Typography, Copy Editing, Page Design, Cover Design, Book Layout</p>
    <h2 class="c-project-metadata__title">Project Technologies</h2>
    <p>Photoshop, InDesign, Blurb, Secrecy</p>
    <h2 class="c-project-metadata__title">Project Team</h2>
    <p><a href="http://siriomi.com/">Binaebi Akah</a><br>
      <a href="http://peoplefirstdesign.com/">Chad Camara</a><br>
      <a href="http://lynndombrowski.com/">Lynn Dombrowski</a><br>
      <a href="http://ielerol.com/">Lorelei Kelly</a><br>
      Dane Petersen<br>
      <a href="http://yujiazhao.com/">Yujia Zhao</a><br>
      The 2010 HCI/d Cohort</p>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>January &ndash; May 2010</p>
  </div>
</div>
