---
title: "Smart.fm iPhone Experience Concepts"
slug: "smartfmapp"
portfolioIsActive: true
---

<div class="header">
	<h1>Smart.fm iPhone Experience Concepts</h1>
  <h3>As an experience design intern at Adaptive Path I worked with the Smart.fm team, helping Tokyo-based Cerego bring their online learning experience to an original app for the iPhone. I engaged in extensive concept generation and ideation, exploring metaphors to inform the design direction of the gaming experience for their new iPhone app.</h3>
</div>
<div class="content o-layout">
  <div class="o-layout__item u-6/12@md">
    <h3>The place you go to learn.</h3>
    <p><a href="http://smart.fm/">Smart.fm</a> is an online learning community dedicated to helping people memorize all sorts of world knowledge, from Japanese words to state capitals to European birds. The bulk of learning currently happens on their website, where visitors can play a series of fast-paced learning games, akin to flash cards on steroids.</p>
    <p>In bringing this experience to the iPhone, we wanted to preserve the fun and playful nature of these games, while adapting them to this unique and mobile platform.</p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <h3>You can take it with you.</h3>
    <p>I generated numerous sketches and concepts for ways we could represent the timed, multiple-choice nature of Smart.fm&rsquo;s mobile learning game in a richly experiential manner.</p>
    <p>From dollar store games to Wooly Willy, from scratch-off lottery tickets to Pogs, nothing was off-limits during this highly generative process. I was deeply interested in exploring the materiality of the game-space, and I imagined ways to introduce tangibility to the game through unique interactions.</p>
  </div>
  <div class="o-layout__item u-6/12@md u-clear-both">
    <a href="/images/smartfmapp/sketches-1.jpg"><img src="/images/smartfmapp/sketches-1-450.jpg" class="img-padding img-border" alt="Sketches" /></a>
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@md"><a href="/images/smartfmapp/sketches-3.jpg"><img src="/images/smartfmapp/sketches-3-210.jpg" class="img-padding img-border" alt="Sketches" /></a></li>
      <li class="o-layout__item u-6/12@md"><a href="/images/smartfmapp/sketches-4.jpg"><img src="/images/smartfmapp/sketches-4-210.jpg" class="img-padding img-border" alt="Sketches" /></a></li>
    </ul>
  </div>
  <div class="o-layout__item u-6/12@md">
    <a href="/images/smartfmapp/sketches-2.jpg"><img src="/images/smartfmapp/sketches-2-450.jpg" class="img-padding img-border" alt="Sketches" /></a>
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@md"><a href="/images/smartfmapp/sketches-5.jpg"><img src="/images/smartfmapp/sketches-5-210.jpg" class="img-padding img-border" alt="Sketches" /></a></li>
      <li class="o-layout__item u-6/12@md"><a href="/images/smartfmapp/sketches-6.jpg"><img src="/images/smartfmapp/sketches-6-210.jpg" class="img-padding img-border" alt="Sketches" /></a></li>
    </ul>
  </div>
  <h3 class="u-clear-both">Explaining myself in five minutes or more.</h3>
  <div class="o-layout__item u-6/12@md">
    <div class="c-vimeo-player">
      <iframe src="http://player.vimeo.com/video/12745057" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <p>In this five-minute video I present a brief walk through my sketchbook, discussing my preliminary explorations in finding a compelling metaphor for the Smart.fm iPhone app.</p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <div class="c-vimeo-player">
      <iframe src="http://player.vimeo.com/video/12745161" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <p>Based on feedback from my initial rounds of sketching, I brought some of my explorations into a bit more detail, depicting potential directions for the learning game. &ldquo;Sore&rdquo; is the Japanese word for &ldquo;that one,&rdquo; and I oriented these sketches around a screen where the user is trying to learn this word, and must select its correct response from a series of choices. I discuss these detailed concept sketches in this video.</p>
  </div>
  <h3 class="u-clear-both">The detailed concept sketches. In, well, detail.</h3>
  <div class="o-layout__item u-6/12@md">
    <a href="/images/smartfmapp/concept-advent.jpg"><img src="/images/smartfmapp/concept-advent-450.jpg" alt="Advent Calendar Concept" class="img-padding img-border" /></a>
    <p>In the Advent Calendar concept, the user would select a response by swiping a &ldquo;cardboard&rdquo; flap, which would flip open to reveal the answer.</p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <a href="/images/smartfmapp/concept-scratch.jpg"><img src="/images/smartfmapp/concept-scratch-450.jpg" alt="Scratch-Off Concept" class="img-padding img-border" /></a>
    <p>In the Scratch-Off concept, the user would &ldquo;scratch&rdquo; off a desired response to see if it is right or wrong. This concept could possibly allow the user to &ldquo;peek&rdquo; at a response before choosing it.</p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <a href="/images/smartfmapp/concept-pogs-stack.jpg"><img src="/images/smartfmapp/concept-pogs-stack-450.jpg" alt="Pogs Stacks Concept" class="img-padding img-border" /></a>
    <p>The Pogs &ldquo;Stacks&rdquo; concept introduces the idea of allowing users to &ldquo;collect&rdquo; correct answers. When the user chooses a correct response, that Pog would be added to the user&rsquo;s collection.</p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <a href="/images/smartfmapp/concept-pogs-collect.jpg"><img src="/images/smartfmapp/concept-pogs-collect-450.jpg" alt="Pogs Collectibles Concept" class="img-padding img-border" /></a>
    <p>The Pogs &ldquo;Collectibles&rdquo; concept presents the user with a tabletop covered in possible &ldquo;Pog&rdquo; responses. The user selects a desired response, and drags it into a drawer where they are collecting correct answers.</p>
  </div>
  <h3 class="u-clear-both">Honing in on a design direction.</h3>
  <div class="o-layout__item u-6/12@md">
    <a href="/images/smartfmapp/concept-world.jpg"><img src="/images/smartfmapp/concept-world-450.jpg" alt="Your World Concept" class="img-padding img-border" /></a>
    <p>In the &ldquo;Your World&rdquo; concept, the game-space is superimposed on a landscape that changes as the user progresses through the game. Correct answers populate the world with leaves, flowers or lightning bugs, time is indicated through a rising and setting sun, and the seasons change at certain milestones in the game.</p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <p class="u-text-center"><img src="/images/smartfmapp/wireframe-mockup.png" alt="Wireframe Mockup" /></p>
    <p>Ultimately, the &ldquo;Your World&rdquo; concept set the stage for the final design direction of the Smart.fm iPhone app. Alexa distilled this idea into a playful landscape, populated by an owl who hops up a vine as the player progress through the game.</p>
  </div>
   <div class="o-layout__item u-6/12@md u-push-6/12@md">
    <a href="http://www.adaptivepath.com/ideas/smart-fm-imagining-possible-worlds"><img src="/images/smartfmapp/owl-iphone-banner-460.jpg" alt="An owl&rsquo;s life." /></a>
    <h3>Aching for more juicy details?</h3>
    <p>The folks at Cerego are super cool, and they gave us permission to freely and openly blog about our work on their Smart.fm iPhone app while we were in the process of crafting it. Check out An Owl&rsquo;s Life on the Adaptive Path weblog for details on our entire design process. <a href="http://www.adaptivepath.com/ideas/smart-fm-imagining-possible-worlds">Imagining Possible Worlds</a> is my contribution to the Smart.fm story, where I go into further detail about my concept generation process.</p>
  </div>
  <div class="o-layout__item u-6/12@md  u-pull-6/12@md project-meta">
  	<h2>Project Responsibilities</h2>
  	<p>Concept Generation, Ideation, Sketching, Wireframe Support, Task Flow Diagramming, iPhone App Debugging</p>
  	<h2>Project Team</h2>
  	<p><a href="http://www.adaptivepath.com/aboutus/alexa.php">Alexa Andrzejewski</a><br>
    <a href="http://smart.fm/about/learning_science">Cerego</a><br>
    <a href="http://www.adaptivepath.com/aboutus/brian.php">Brian Cronin</a><br>
    <a href="http://www.adaptivepath.com/aboutus/danh.php">Dan Harrelson</a><br>
    Dane Petersen</p>
    	<h2>Project Timeline</h2>
    	<p>June &ndash; July 2009</p>
    <h2>Recognition</h2>
    <p>My sketches have been featured in Suzanne Ginsburg's <a href="http://www.amazon.com/Designing-iPhone-User-Experience-User-Centered/dp/0321699432">Designing the iPhone User Experience</a> book and on Onextrapixel as a <a href="http://www.onextrapixel.com/2010/09/29/40-brilliant-examples-of-sketched-ui-wireframes-and-mock-ups/">brilliant example of a sketched UI mockup</a>.
    <h2>And Furthermore&hellip;</h2>
    <p><a href="http://www.flickr.com/photos/thegreatsunra/sets/72157622558512358/">Sketches at Flickr</a><br>
    <a href="http://www.adaptivepath.com/ideas/smart-fm-imagining-possible-worlds">Blog Post at Adaptive Path</a><br>
    <a href="http://vimeo.com/5307702">Video 1</a> and <a href="http://vimeo.com/5307844">Video 2</a> at Vimeo<br>
    </p>
  </div>
</div>
