---
title: "Tuesdays Robot Website Redesign"
slug: "tuesdaysrobot" 
---

<div class="header">
  <h1>Tuesdays Robot Website Redesign</h1>
  <h3>Heavily influenced by Bob Dylan and The Band, Tuesdays Robot is a country rock band hailing from Minneapolis. While running Brainside Out I designed and launched a new website to correspond with the release of their first official album.</h3>
</div>
<div class="o-layout content">
  <div class="o-layout__item u-8/12@md">
    <p><a href="http://www.tuesdaysrobot.com/" rel="external"><img src="/images/tuesdaysrobot/screenshot-01-610.jpg" alt="Screenshot of the redesigned Tuesdays Robot website" class="img-border img-padding" /></a></p>
  </div>
  <div class="o-layout__item u-4/12@md project-meta">
    <h2>Project Responsibilities</h2>
    <p>Website Design, Design Implementation, Front-End Development, Movable Type Customization, Flash Music Player</p>
    <h2>Project Team</h2>
    <p>Dane Petersen<br>
      Rick Widen, Tuesdays Robot</p>
    <h2>Project Technologies</h2>
    <p>XHTML/CSS, JavaScript, PHP, MySQL, Flash, Movable Type</p>
    <h2>Project Timeline</h2>
    <p>February &ndash; April 2006</p>
    <h2>Project Website</h2>
    <p><a href="http://www.tuesdaysrobot.com/" rel="external">www.tuesdaysrobot.com</a></p>
  </div>
</div>
