---
title: "Typography Clich&eacute; Letterpress Book"
slug: "typecliche"
portfolioIsActive: true
---

<h1>Typography Clich&eacute; Letterpress Book</h1>
<h3>As part of a class project to familiarize ourselves with traditional letterpress machinery, we printed a book of typography clich&eacute;s in the type shop at Indiana University.</h3>
<div class="o-layout">
  <div class="o-layout__item u-6/12@md">
    <p><a href="/images/typecliche/cliche-01.jpg"><img src="/images/typecliche/cliche-01-450.jpg" alt="Typography Cliche Letterpress Project" class="c-img--rounded"></a></p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <p><a href="/images/typecliche/cover-01.jpg"><img src="/images/typecliche/cover-01-450.jpg" alt="Typography Cliche Cover" class="c-img--rounded"></a></p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <p><a href="/images/typecliche/cliche-process-01.jpg"><img src="/images/typecliche/cliche-process-01-450.jpg" alt="Cliche Process 01" class="c-img--rounded"></a></p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <p>I set my own clich&eacute;, &#8220;Stuck between a rock and a hard pilcrow,&#8221; in 30-point Univers 55 Roman, a sans-serif typeface designed by Adrian Frutiger in 1954. Handsetting type using these age-old techniques has made me sensitive to the most minute details of typography, and has helped lend a historic grounding to my design perspective.</p> 
  </div>
  <div class="o-layout__item u-6/12@md u-push-6/12@md u-clear-both">
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@xs"><a href="/images/typecliche/cliche-iteration-01.jpg"><img src="/images/typecliche/cliche-iteration-01-450.jpg" alt="Cliche Iteration 01" class="c-img--rounded"></a></li>
      <li class="o-layout__item u-6/12@xs"><a href="/images/typecliche/cliche-iteration-02.jpg"><img src="/images/typecliche/cliche-iteration-02-450.jpg" alt="Cliche Iteration 02" class="c-img--rounded"></a></li>
      <li class="o-layout__item u-6/12@xs"><a href="/images/typecliche/cover-process-01.jpg"><img src="/images/typecliche/cover-process-01-450.jpg" alt="Cover Process 01" class="c-img--rounded"></a></li>
      <li class="o-layout__item u-6/12@xs"><a href="/images/typecliche/cover-process-02.jpg"><img src="/images/typecliche/cover-process-02-450.jpg" alt="Cover Process 02" class="c-img--rounded"></a></li>
    </ul>
  </div>
  <div class="o-layout__item u-6/12@md u-pull-6/12@md">
    <p>Strings of all-capital letters need to be carefully spaced in order to feel properly balanced. The gaping O in PILCROW cuts a perceptual hole the word, presenting a formidable spacing challenge that required at least ten printed revisions before achieving a satisfactorily rhythmic harmony.</p>
    <p>I adjusted the kerning between these letters by hand, using 1-point and &frac12;-point spaces made of brass and copper.</p>
    <p>We created a run of 30 prints, one for each member of the class to bind into their own type book. Our small team also designed and printed our own book cover, a two-color layered design set with wood type.</p>
  </div>
  <div class="o-layout__item u-6/12@md u-clear-both">
    <p><a href="/images/typecliche/cliche-02.jpg"><img src="/images/typecliche/cliche-02-450.jpg" alt="Cliche 02" class="c-img--rounded"></a></p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <p><a href="/images/typecliche/cover-02.jpg"><img src="/images/typecliche/cover-02-450.jpg" alt="Cover 02" class="c-img--rounded"></a></p>
  </div>
  <div class="o-layout__item">
    <div class="c-project-metadata clear">
      <h2>Project Responsibilities</h2>
      <p>Clich&eacute; and Cover Design Generation, Hand Typesetting, Vandercook Press Taming, Ink-on-Paper Printing, Mineral Spirits Inhaling, Ink-on-Hands Cleaning</p>
      <h2>Project Team</h2>
      <p>Dane Petersen, 30 pt Univers 55 Roman, Vandercook SP15 Printing Press</p>
      <h2>Project Timeline</h2>
      <p>February 2009</p>
    </div>
  </div>
</div>
