---
title: "WiiChuck Pong"
slug: "wiichuckpong" 
---

<div class="header">
  <h1>WiiChuck Pong</h1>
  <h3>Connecting a Nintendo Wii Nunchuk to my computer through an Arduino board, I modified the Processing code for a game of Pong so I could control the paddles using the Nunchuk&rsquo;s built-in accelerometers.</h3>
</div>
<div class="o-layout content">
  <div class="o-layout__item u-8/12@md">
    <div class="c-vimeo-player">
      <iframe src="http://player.vimeo.com/video/9786349" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <p>If you&rsquo;re interested in building your own, you can <a href="https://github.com/thegreatsunra/WiiChuck-Pong">download all the Arduino and Processing code</a> at GitHub.</p>
  </div>
  <div class="o-layout__item u-4/12@md project-meta">
    <h2>Project Responsibilities</h2>
    <p>Wii Nunchuk Hacking, Arduino <span class="amp">&amp;</span> Processing Development</p>
    <h2>Project Technologies</h2>
    <p>Arduino, Processing</p>
    <h2>Project Team</h2>
    <p>Dane Petersen</p>
    <h2>Project Timeline</h2>
    <p>February 2010</p>
  </div>
</div>
