---
title: "Colophon"
slug: "colophon"
---

<div class="o-layout">
  <div class="o-layout__item u-8/12@md">
    <h1 class="c-page-title--large c-page-title--huge@md">Colophon</h1>

    <h3 class="c-page-title c-page-title--large@md">I take full responsibility for the design, code, copywriting, and everything else here at thegreatsunra.com.</h3>

    <p>This site has outlived numerous static site generators including <a href="https://metalsmith.io/" rel="external">Metalsmith</a>, <a href="https://wintersmith.io/" rel="external">Wintersmith</a>, <a href="https://assemble.io/" rel="external">Assemble</a>, and the <a href="https://rubygems.org/gems/serve/versions/1.5.2" rel="external">Serve</a> gem. It is now constructed from a generator script I wrote in Node.js, using <a href="https://ejs.co/" rel="external">EJS</a> templates and <a href="https://www.npmjs.com/package/front-matter" rel="external">front matter</a>. The script is not elegant but its dependencies are minimal, so it will likely last longer than I&nbsp;will.</p>

    <p>I author my CSS in <a href="https://sass-lang.com/">Sass</a>. The most recent iteration of this site uses components from <a href="https://csswizardry.com/" rel="external">Harry Roberts’</a> <a href="https://github.com/inuitcss/inuitcss" rel="external">inuitcss</a> framework and is organized around the <a href="https://speakerdeck.com/dafed/managing-css-projects-with-itcss" rel="external">Inverted Triangle CSS</a> structure. I name things using <a href="http://getbem.com/introduction/" rel="external">BEM</a> (“block, element, modifier”) syntax, which feels overly verbose when written, but turns out to be incredibly helpful when revisiting code you haven’t looked at in years. In fact, the definition of a web portfolio is “code you haven’t looked at in years.”</p>
    
    <p>Originally coded as a static-width website in 2009, I added a mobile-first, responsive design to thegreatsunra.com in 2015, using “responsive modifier” BEM classes to apply unique layouts and widths at wider and wider breakpoints.</p>
    
    <p>This site renders down to static HTML, CSS and JavaScript that I host on Amazon S3. I register my domains and host my DNS at <a href="https://cloudflare.com">Cloudflare</a>. When I need a real web server, I spin up an Ubuntu instance on <a href="https://digitalocean.com">Digital Ocean</a>. I wrote <a href="https://github.com/thegreatsunra/lemp-cloud-init">a cloud-init script</a> to help with that.</p>
    
    <p>I do my work on a 2016 13-inch MacBook Pro, the one with the virtual escape key, defective butterfly keyboard, and four loose Thunderbolt ports. I use <a href="https://code.visualstudio.com/" rel="external">Visual Studio Code</a> for writing and coding, <a href="https://hyper.is/" rel="external">Zeit Hyper</a> as my terminal, and <a href="https://ohmyz.sh/" rel="external">Zsh/oh-my-zsh</a> as my shell. I find I use <a href="https://nodejs.org" rel="external">Node.js</a> for just about everything, and I use <a href="https://github.com/nvm-sh/nvm" rel="external">nvm</a> to keep just about everything sane.</p>
    <p><em>— Last updated: November 2019</em>
  </div>
  <div class="o-layout__item u-4/12@md">
  </div>
</div>
