---
title: UX Designer & Web Developer
slug: "home"
homeIsActive: true
---

<div class="o-layout">
  <div class="o-layout__item">
    <h1 class="c-page-title">I am a senior UX designer and web developer based in&nbsp;Minneapolis.</h1>
    <h2 class="c-page-title">At GE I designed diagnostics apps<span class="u-is-hidden u-is-visibleinline@md"> for monitoring jet engines</span>, at Filament I built cross-platform apps<span class="u-is-hidden u-is-visibleinline@md"> for managing industrial IoT sensor networks</span>, and at Adaptive Path I helped companies like Disney and Nike strategize great digital&nbsp;products.</h2>
    <hr class="o-separator">
  </div>
  <div class="o-layout__item u-6/12@md u-push-6/12@md">
    <ul class="c-portfolio o-list-bare">
      <li class="c-portfolio__item">
        <a class="c-portfolio__link" href="/portfolio/filament-infrastructure">
          <img src="/images/filamentinfrastructure/filamentinfrastructure-banner-900.jpg" alt="Filament Cloud Infrastructure" class="c-portfolio__img">
          <h3 class="c-portfolio__title c-portfolio__title--home">
            Filament Cloud&nbsp;Infrastructure
          </h3>
        </a>
      </li>
      <li class="c-portfolio__item">
        <a class="c-portfolio__link" href="/portfolio/predix-app-hub">
          <img src="/images/predixapphub/predixapphub-banner-900.jpg" alt="Responsive UI for Predix App Hub" class="c-portfolio__img">
          <h3 class="c-portfolio__title c-portfolio__title--home">
            Responsive UI for Predix App&nbsp;Hub
          </h3>
        </a>
      </li>
      <li class="c-portfolio__item">
        <a class="c-portfolio__link" href="/portfolio/fleet-monitor">
          <img src="/images/fleetmonitor/fleetmonitor-banner-900.jpg" alt="Fleet Monitor Prototype" class="c-portfolio__img">
          <h3 class="c-portfolio__title c-portfolio__title--home">
            Fleet Monitor Remote Diagnostics Web&nbsp;App
          </h3>
        </a>
      </li>
    </ul>
    <h3 class="u-text-right u-pt-"><a href="/portfolio/" class="u-go">More Portfolio Items</a></h3>
    <hr class="o-separator u-is-hidden@md">
  </div>
  <div class="o-layout__item u-6/12@md u-pull-6/12@md">
    <p>For nineteen years I’ve been planning, designing and building digital products for clients in the technology, energy, financial, retail, entertainment and industrial sectors. My work spans everything from multi-channel service design strategies to production-ready code.</p>

    <p>I am insatiably curious and passionate about music, the outdoors, space travel, and the intersection of design and engineering. Outside of work I enjoy the outdoor pursuits of snowboarding, kitesurfing, hiking and running, and the indoor joys of writing, coding and homebrewing.</p>

    <p>In my journey I’ve worked as a wilderness guide, snowboard instructor, camp counselor, windsurfing director, envelope stuffer, standardized test grader, shipping manager, pizza thrower, humor writer, arts reporter, jazz musician and barista. I kicked off my career with five years as a web developer and for two years I ran Brainside Out, a tiny web design and development shop.</p>
  </div>
</div>
