<footer class="c-footer">
  <div class="o-layout o-layout--center">
    <div class="o-layout__item u-7/12@md">
      <ul class="c-social">
        <li class="c-social__item">
          <a href="https://www.linkedin.com/in/danepetersen" rel="external">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64"><g class="nc-icon-wrapper"><path d="M61.3,0H2.7C1.2,0,0,1.2,0,2.7v58.7C0,62.8,1.2,64,2.7,64h58.7c1.5,0,2.7-1.2,2.7-2.7V2.7 C64,1.2,62.8,0,61.3,0z M19,54.5H9.5V24H19V54.5z M14.2,19.8c-3,0-5.5-2.5-5.5-5.5c0-3,2.5-5.5,5.5-5.5c3,0,5.5,2.5,5.5,5.5 C19.7,17.4,17.3,19.8,14.2,19.8z M54.5,54.5H45V39.7c0-3.5-0.1-8.1-4.9-8.1c-4.9,0-5.7,3.9-5.7,7.8v15.1h-9.5V24H34v4.2h0.1 c1.3-2.4,4.4-4.9,9-4.9c9.6,0,11.4,6.3,11.4,14.5V54.5z"></path></g></svg>
          </a>
        </li>
        <li class="c-social__item">
          <a href="https://github.com/thegreatsunra" rel="external">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64"><g class="nc-icon-wrapper"><path fill-rule="evenodd" clip-rule="evenodd" d="M32,0.8c-17.7,0-32,14.3-32,32c0,14.1,9.2,26.1,21.9,30.4 c1.6,0.3,2.2-0.7,2.2-1.5c0-0.8,0-2.8,0-5.4c-8.9,1.9-10.8-4.3-10.8-4.3c-1.5-3.7-3.6-4.7-3.6-4.7c-2.9-2,0.2-1.9,0.2-1.9 c3.2,0.2,4.9,3.3,4.9,3.3c2.9,4.9,7.5,3.5,9.3,2.7c0.3-2.1,1.1-3.5,2-4.3c-7.1-0.8-14.6-3.6-14.6-15.8c0-3.5,1.2-6.3,3.3-8.6 c-0.3-0.8-1.4-4.1,0.3-8.5c0,0,2.7-0.9,8.8,3.3c2.6-0.7,5.3-1.1,8-1.1c2.7,0,5.5,0.4,8,1.1c6.1-4.1,8.8-3.3,8.8-3.3 c1.7,4.4,0.6,7.7,0.3,8.5c2.1,2.2,3.3,5.1,3.3,8.6c0,12.3-7.5,15-14.6,15.8c1.1,1,2.2,2.9,2.2,5.9c0,4.3,0,7.7,0,8.8 c0,0.9,0.6,1.9,2.2,1.5C54.8,58.9,64,46.9,64,32.8C64,15.1,49.7,0.8,32,0.8z"></path></g></svg>
          </a>
        </li>
        <li class="c-social__item">
          <a href="https://twitter.com/thegreatsunra" rel="external">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64"><g class="nc-icon-wrapper"><path d="M64,12.2c-2.4,1-4.9,1.8-7.5,2.1c2.7-1.6,4.8-4.2,5.8-7.3c-2.5,1.5-5.3,2.6-8.3,3.2C51.5,7.6,48.1,6,44.3,6 c-7.3,0-13.1,5.9-13.1,13.1c0,1,0.1,2,0.3,3C20.6,21.6,10.9,16.3,4.5,8.4c-1.1,1.9-1.8,4.2-1.8,6.6c0,4.6,2.3,8.6,5.8,10.9 c-2.2-0.1-4.2-0.7-5.9-1.6c0,0.1,0,0.1,0,0.2c0,6.4,4.5,11.7,10.5,12.9c-1.1,0.3-2.3,0.5-3.5,0.5c-0.8,0-1.7-0.1-2.5-0.2 c1.7,5.2,6.5,9,12.3,9.1c-4.5,3.5-10.2,5.6-16.3,5.6c-1.1,0-2.1-0.1-3.1-0.2C5.8,55.8,12.7,58,20.1,58c24.2,0,37.4-20,37.4-37.4 c0-0.6,0-1.1,0-1.7C60,17.1,62.2,14.8,64,12.2z"></path></g></svg>
          </a>
        </li>
        <li class="c-social__item">
          <a href="https://instagram.com/thegreatsunra/" rel="external">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64"><g class="nc-icon-wrapper"><path d="M32,5.766c8.544,0,9.556,0.033,12.931,0.187c3.642,0.166,7.021,0.895,9.621,3.496 c2.6,2.6,3.329,5.979,3.496,9.621c0.154,3.374,0.187,4.386,0.187,12.931s-0.033,9.556-0.187,12.931 c-0.166,3.642-0.895,7.021-3.496,9.621c-2.6,2.6-5.98,3.329-9.621,3.496c-3.374,0.154-4.386,0.187-12.931,0.187 s-9.557-0.033-12.931-0.187c-3.642-0.166-7.021-0.895-9.621-3.496c-2.6-2.6-3.329-5.979-3.496-9.621 C5.798,41.556,5.766,40.544,5.766,32s0.033-9.556,0.187-12.931c0.166-3.642,0.895-7.021,3.496-9.621 c2.6-2.6,5.979-3.329,9.621-3.496C22.444,5.798,23.456,5.766,32,5.766 M32,0c-8.691,0-9.78,0.037-13.194,0.193 c-5.2,0.237-9.768,1.511-13.436,5.178C1.705,9.037,0.43,13.604,0.193,18.806C0.037,22.22,0,23.309,0,32 c0,8.691,0.037,9.78,0.193,13.194c0.237,5.2,1.511,9.768,5.178,13.436c3.666,3.666,8.234,4.941,13.436,5.178 C22.22,63.963,23.309,64,32,64s9.78-0.037,13.194-0.193c5.199-0.237,9.768-1.511,13.436-5.178c3.666-3.666,4.941-8.234,5.178-13.436 C63.963,41.78,64,40.691,64,32s-0.037-9.78-0.193-13.194c-0.237-5.2-1.511-9.768-5.178-13.436 c-3.666-3.666-8.234-4.941-13.436-5.178C41.78,0.037,40.691,0,32,0L32,0z"></path> <path data-color="color-2" d="M32,15.568c-9.075,0-16.432,7.357-16.432,16.432c0,9.075,7.357,16.432,16.432,16.432 S48.432,41.075,48.432,32C48.432,22.925,41.075,15.568,32,15.568z M32,42.667c-5.891,0-10.667-4.776-10.667-10.667 c0-5.891,4.776-10.667,10.667-10.667c5.891,0,10.667,4.776,10.667,10.667C42.667,37.891,37.891,42.667,32,42.667z"></path> <circle data-color="color-2" cx="49.082" cy="14.918" r="3.84"></circle></g></svg>
          </a>
        </li>
        <li class="c-social__item">
          <a href="https://vimeo.com/thegreatsunra" rel="external">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64"><g class="nc-icon-wrapper"><path d="M64,17.1c-0.3,6.2-4.6,14.8-13.1,25.6c-8.7,11.3-16.1,17-22.1,17c-3.7,0-6.9-3.4-9.5-10.3 c-1.7-6.3-3.4-12.6-5.2-18.9c-1.9-6.9-4-10.3-6.2-10.3c-0.5,0-2.2,1-5,3l-3-3.9c3.2-2.8,6.3-5.5,9.3-8.3c4.2-3.6,7.4-5.6,9.5-5.7 c5-0.5,8,2.9,9.2,10.2c1.2,7.9,2.1,12.8,2.6,14.7c1.4,6.5,3,9.8,4.7,9.8c1.3,0,3.4-2.1,6-6.3c2.7-4.2,4.1-7.4,4.3-9.7 c0.4-3.7-1.1-5.5-4.3-5.5c-1.5,0-3.1,0.4-4.7,1c3.1-10.3,9.2-15.3,18-15C61.2,4.5,64.3,8.8,64,17.1z"></path></g></svg>
          </a>
        </li>
        <li class="c-social__item">
          <a href="https://www.flickr.com/photos/thegreatsunra" rel="external">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64"><g class="nc-icon-wrapper"><path d="M61.3,0H2.7C1.2,0,0,1.2,0,2.7v58.7C0,62.8,1.2,64,2.7,64h58.7c1.5,0,2.7-1.2,2.7-2.7V2.7 C64,1.2,62.8,0,61.3,0z M18.7,42.7C12.8,42.7,8,37.9,8,32c0-5.9,4.8-10.7,10.7-10.7S29.3,26.1,29.3,32 C29.3,37.9,24.6,42.7,18.7,42.7z M45.3,42.7c-5.9,0-10.7-4.8-10.7-10.7c0-5.9,4.8-10.7,10.7-10.7S56,26.1,56,32 C56,37.9,51.2,42.7,45.3,42.7z"></path></g></svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="o-layout__item u-5/12@md">
      <div class="c-copyright">
        &copy; 2001 &mdash; <%- site.year %> <%- site.author %>. <a href="/colophon">Colophon.</a>
      </div>
    </div>
  </div>
</footer>

<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='https://www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-321702-1');ga('send','pageview');
</script>
