<footer class="c-footer">
  <div class="o-layout o-layout--center">
    <div class="o-layout__item u-8/12@md">
      <ul class="c-social">
        <li class="c-social__item">
          <a href="https://www.linkedin.com/in/danepetersen" rel="external">
            <img data-type="linkedin" data-src="/images/layout/social.svg" class="iconic" alt="social">
          </a>
        </li>
        <li class="c-social__item">
          <a href="https://github.com/thegreatsunra" rel="external">
            <img data-type="github" data-src="/images/layout/social.svg" class="iconic" alt="social">
          </a>
        </li>
        <li class="c-social__item">
          <a href="https://twitter.com/thegreatsunra" rel="external">
            <img data-type="twitter" data-src="/images/layout/social.svg" class="iconic" alt="social">
          </a>
        </li>
        <li class="c-social__item">
          <a href="https://instagram.com/thegreatsunra/" rel="external">
            <img data-type="instagram" data-src="/images/layout/social.svg" class="iconic" alt="social">
          </a>
        </li>
        <li class="c-social__item">
          <a href="https://vimeo.com/thegreatsunra" rel="external">
            <img data-type="vimeo" data-src="/images/layout/social.svg" class="iconic" alt="social">
          </a>
        </li>
        <li class="c-social__item">
          <a href="https://www.flickr.com/photos/thegreatsunra" rel="external">
            <img data-type="flickr" data-src="/images/layout/social.svg" class="iconic" alt="social">
          </a>
        </li>
      </ul>
    </div>
    <div class="o-layout__item u-4/12@md">
      <div class="c-copyright">
        &copy; 2001 &mdash; <%- site.year %> <%- site.author %>. <a href="/colophon">Colophon.</a>
      </div>
    </div>
  </div>
</footer>

<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='https://www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-321702-1');ga('send','pageview');
</script>

<script src="/scripts/iconic.min.js"></script>
