<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- page.title %> - <%- site.title %></title>
  <meta name="copyright" content="Copyright (c) 2001-<%- site.year %> Dane Petersen">
  <meta name="ICBM" content="44.92, -93.29">
  <meta name="description" content="Dane Petersen is a coder, designer and sketcher based in Minneapolis.">
  <meta name="keywords" content="dane petersen, thegreatsunra, brainside out, ux, designer, interaction, portfolio, developer, engineer, technologist, minnesota, oregon, indiana, bay area, san francisco">
  <meta name="author" content="<%- site.author %>">
  <link rel="me" href="https://mstdn.social/@thegreatsunra">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
