<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div class="c-container o-layout o-layout--center">
    <header class="c-header-site">
        Dane Petersen is thegreatsunra, a rock'em sock'em designer/developer.
      <h1 class="c-headline">
      </h1>
      <nav class="c-nav">
        <ul class="c-nav__list">
          <li class="c-nav__item">
            <a class="c-nav__link" href="index.html">Home</a>
          </li>
          <li class="c-nav__item">
            <a class="c-nav__link" href="portfolio.html">Portfolio</a>
          </li>
          <li class="c-nav__item">
            <a class="c-nav__link" href="resume.html">R&eacute;sum&eacute;</a>
          </li>
          <li class="c-nav__item">
            <a class="c-nav__link" href="contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="c-main">

      <header class="c-header-page">
        <h1 class="c-headline-page">Lorem ipsum</h1>
      </header>

      <section class="c-content">
        {{{contents}}}
      </section>

    </section>
    <footer class="c-footer-site">
      <div class="c-copyright">
        Copyright &copy; 2001 - 2015 Dane Petersen. All Rights Reserved. <a href="#">Colophon</a>
      </div>
      <div class="o-nav c-social-icons">
        <ul class="c-social-icons-list">
          <li class="c-social-icons-list__item">
            <a class="c-social-icons-list__link" href="#">Link Item</a>
          </li>
        </ul>
      </div>
    </footer>
  </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
