---
title: "Colophon"
slug: "colophon"
---

<h1>Colophon</h1>
<div class="o-layout">
  <div class="o-layout__item u-8/12@md">
    <p>I take full responsibility for the design and code of this website. It is built using <a href="http://propellerjs.com">Propeller</a>, a static site generator I built using <a href="http://assemble.io">Assemble</a>. Assemble is a robust collection of <a href="http://gruntjs.com">Grunt</a> tasks written in <a href="http://nodejs.org">Node</a>, with support for <a href="http://handlebarsjs.com">Handlebars</a> templates, <a href="http://lesscss.org/">LESS</a> CSS compilation, and many other things. <a href="http://github.com/thegreatsunra/thegreatsunra-propeller">The source code for thegreatsunra.com</a> is available on GitHub.</p>
    <p>My websites are hosted on a 2GB Ubuntu 14.04 LTS instance at <a href="http://linode.com">Linode</a>, which I personally maintain. All my domains are registered at <a href="http://hover.com">Hover.</a></p>
    <p>Before Assemble and Node, this site was built in <a href="http://get-serve.com/">Serve</a>, an awesome Ruby gem with a lightweight development server, ERB templates, Compass integration and static exports. Before that it used <a href="https://github.com/EllisLab/CodeIgniter/">CodeIgniter</a>, a PHP-based MVC framework.</p>
    <p>The grid-based layout of this site uses a lightweight CSS framework <a href="https://github.com/thegreatsunra/css-grid">of my own devising</a>, inspired by <a href="http://blueprintcss.org/">Blueprint CSS</a>, <a href="http://960.gs/">960.gs</a> and <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>.
    <p>I use a mid-2012 13&rdquo; MacBook Air. I write all my code in <a href="http://www.sublimetext.com/">Sublime Text</a> and host it on <a href="http://github.com/thegreatsunra">GitHub</a>. On the days I need FTP, I use Panic&rsquo;s <a href="http://panic.com/transmit/">Transmit</a>. I maintain a local development environment using <a href="http://nodejs.org">Node</a> for just about everything, and <a href="https://rvm.io">RVM</a> and <a href="http://www.mamp.info/en/mamp-pro/index.html">MAMP PRO</a> for anything else.</p>
    <p>I try to keep my life organized in <a href="http://evernote.com/">Evernote</a> and <a href="http://culturedcode.com/things/">Things</a>, but honestly it&rsquo;s unread email that make the world turn.</p>
    <p><em>&mdash; Last updated: October, 2014</em>
  </div>
  <div class="o-layout__item u-4/12@md">
    <h3>You can find me here:</h3>
    <ul class="social-networks">
      <li><a href="http://twitter.com/thegreatsunra"><img src="/images/icons/twitter_32.png" alt="@thegreatsunra Twitter icon"> <span>@thegreatsunra on Twitter</span></a></li>
      <li><a href="http://thegreatsunra.com"><img src="/images/icons/tumblr_32.png" alt="Tumblr icon"> <span>thegreatsunra on Tumblr</span></a></li>
      <li><a href="http://daneomatic.com"><img src="/images/icons/wordpress_32.png" alt="Daneomatic WordPress icon"> <span>Daneomatic, my blog</span></a></li>
      <li><a href="http://flickr.com/photos/thegreatsunra"><img src="/images/icons/flickr_32.png" alt="Flickr icon"> <span>thegreatsunra on Flickr</span></a></li>
      <li><a href="http://vimeo.com/thegreatsunra"><img src="/images/icons/vimeo_32.png" alt="Vimeo icon"> <span>thegreatsunra on Vimeo</span></a></li>
      <li><a href="http://linkedin.com/in/danepetersen"><img src="/images/icons/linkedin_32.png" alt="LinkedIn icon"> <span>Dane Petersen on LinkedIn</span></a></li>
    </ul>
  </div>
</div>
