---
title: "Contact Dane"
slug: "contact"
---

<div class="header">
  <h1>Catch me at
    <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!15{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(5),8\\\"\\\\73,==&.c0<02\\\\\\\\24\\\\02\\\\03\\\\\\\\1Y03\\\\\\\\32\\\\" +
"00\\\\02\\\\\\\\02\\\\0n\\\\\\\\\\\\0+01\\\\\\\\25\\\\03\\\\01\\\\\\\\26\\\\"+
"02\\\\02\\\\\\\\<++>00%;oq27\\\\0$\\\\&(-m\\\\V\\\\\\\\V\\\\w^ATZ__^BHDWwD!" +
"icvzybpW/a4q`^i35\\\\0F\\\\^Z32\\\\06\\\\03\\\\\\\\25\\\\02\\\\03\\\\\\\\05" +
"\\\\00\\\\03\\\\\\\\37\\\\0H\\\\20\\\\04\\\\01\\\\\\\\05\\\\03\\\\9)27\\\"\\"+
"\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt+=;o27=1y%+;y+5)<" +
"8(iif){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\" +
"\"f)\")"                                                                     ;
while(x=eval(x));
//-->
//]]>
    </script>
  </h1>
</div>
<div class="content">
  <h2>
  Some people prefer <a href="http://www.linkedin.com/in/danepetersen" rel="external">LinkedIn</a>, and while that&rsquo;s cool I&rsquo;m far more responsive to pull requests on <a href="http://github.com/thegreatsunra">GitHub</a>.</h2>
  <h2>There&rsquo;s always <a href="http://twitter.com/thegreatsunra">Twitter</a>, too.</h2>
  <img src="/{{site.imgFolder}}/dane-anne-ingman-930.jpg" alt="Dane Petersen, photo by Anne Ingman" class="img-border img-padding" />
  <p class="caption alignright">Photo by <a href="http://ingmanphotography.com">Anne Ingman</a></p>
</div>
