---
title: UX Designer + Web Developer
slug: home
homeIsActive: true
---

<div class="o-layout">
  <div class="o-layout__item">
    <h1 class="c-page-title">I am a senior staff interaction designer for GE in sunny California, where I&rsquo;m changing how GE Aviation works. <span class="u-is-hidden u-is-visibleinline@md">Earlier I was with Adaptive Path, where I helped companies like Nike, PG<span class="u-ampersand">&amp;</span>E, Sunrun, SK Telecom, Topsy Labs, and the United Nations strategize and deliver great digital products.</span> <span class="u-is-hidden u-is-visibleinline@sm">I am passionate about sketching and coding.</span></h1>
    <hr class="o-separator">
  </div>
  <div class="o-layout__item u-6/12@md u-push-6/12@md">
    <ul class="c-portfolio o-list-bare">
      <li class="c-portfolio__item">
        <a class="c-portfolio__link" href="/portfolio/codecraft">
          <img src="images/codecraft/codecraft-banner-450.jpg" class="c-portfolio__img">
          <h3 class="c-portfolio__title c-portfolio__title--home">
            &ldquo;Codecraft&rdquo; at the GE Design Conference
          </h3>
        </a>
      </li>
      <li class="c-portfolio__item">
        <a class="c-portfolio__link" href="/portfolio/lean-day-west">
          <img src="images/leandaywest/leandaywest-banner-450.jpg" class="c-portfolio__img">
          <h3 class="c-portfolio__title c-portfolio__title--home">
            &ldquo;Design At Scale&rdquo; Workshop at Lean Day West
          </h3>
        </a>
      </li>
      <li class="c-portfolio__item">
        <a class="c-portfolio__link" href="/portfolio/industrial-internet">
          <img src="images/industrialinternet/industrialinternet-banner-450.jpg" class="c-portfolio__img">
          <h3 class="c-portfolio__title c-portfolio__title--home">
            &ldquo;Designing the Industrial Internet&rdquo; at IxDA SF
          </h3>
        </a>
      </li>
    </ul>
    <h3 class="u-text-right u-pt-"><a href="/portfolio/" class="u-go">More Portfolio Items</a></h3>
    <hr class="o-separator u-is-hidden@md">
  </div>
  <div class="o-layout__item u-6/12@md u-pull-6/12@md">
    <p>For over ten years I&rsquo;ve been planning, designing and building digital products for an eclectic range of clients in the technology, energy, financial, retail and entertainment sectors. From multi-channel strategies to production-ready front-end code, my hybrid skills as a designer and developer ensure there’s never a dull day.</p>

    <p>I have an insatiable curiosity and am passionate about the outdoors, space travel, music, philosophy, agile processes, and the intersection of design and engineering. Outside of work I enjoy the outdoor pursuits of snowboarding, kiteboarding, camping, hiking and running, and the indoor joys of writing, reading, coding and homebrewing.</p>

    <p>In my journey I’ve worked as a wilderness guide, snowboard instructor, camp counselor, windsurfing director, envelope stuffer, standardized test grader, shipping manager, pizza thrower, humor writer, arts reporter, jazz musician and barista. I worked as a professional web developer for over five years and was the lone gun behind Brainside Out, a tiny web design shop.</p>

    <p>One of these days, I’m going to build an airplane.</p>
  </div>
</div>
