---
title: thegreatsunra bem
slug: home
homeIsActive: true
---

<div class="o-layout">
  <div class="o-layout__item">
    <h3>I am a senior staff interaction designer for GE in sunny California, where I’m changing how GE Aviation works. <span class="is-hidden is-visibleinline@md">Before this I was with Adaptive Path, where I helped companies like Nike, U.N. Global Pulse, PG&amp;E, Topsy Labs and Smart.fm strategize and deliver great digital products.</span> <span class="is-hidden is-visibleinline@sm">I am passionate about sketching and coding.</span></h3>
  </div>
  <div class="o-layout__item u-6/12@md u-push-6/12@md">
    <ul class="o-list-bare c-portfolio">
      <li class="c-portfolio__item">
        <a class="c-portfolio__link" href="/portfolio/codecraft.html">
          <img src="images/codecraft/codecraft-banner-450.jpg" class="c-portfolio__img">
          <h3 class="c-portfolio__title">
            &ldquo;Codecraft&rdquo; Talk at the GE Design Conference
          </h3>
        </a>
      </li>
      <li class="c-portfolio__item">
        <a class="c-portfolio__link" href="/portfolio/lean-day-west.html">
          <img src="images/leandaywest/leandaywest-banner-450.jpg" class="c-portfolio__img">
          <h3 class="c-portfolio__title">
            &ldquo;Design At Scale&rdquo; Workshop at Lean Day West
          </h3>
        </a>
      </li>
      <li class="c-portfolio__item">
        <a class="c-portfolio__link" href="/portfolio/industrial-internet.html">
          <img src="images/industrialinternet/industrialinternet-banner-450.jpg" class="c-portfolio__img">
          <h3 class="c-portfolio__title">
            &ldquo;Designing the Industrial Internet&rdquo; Talk at IxDA SF
          </h3>
        </a>
      </li>
    </ul>
    <h2 class="u-text-right"><a href="/portfolio/" class="u-go">More Portfolio Items</a>
  </div>
  <div class="o-layout__item u-6/12@md u-pull-6/12@md">
    <p>For over ten years I’ve been planning, designing and building digital products for an eclectic range of clients in the technology, energy, financial, retail and entertainment sectors. From multi-channel strategies to production-ready front-end code, my hybrid skills as a designer and developer ensure there’s never a dull day.</p>

    <p>I have an insatiable curiosity and am passionate about the outdoors, space travel, music, philosophy, agile processes, and the intersection of design and engineering. Outside of work I enjoy the outdoor pursuits of snowboarding, kiteboarding, camping, hiking and running, and the indoor joys of writing, reading, coding and homebrewing.</p>

    <p>In my journey I’ve worked as a wilderness guide, snowboard instructor, camp counselor, windsurfing director, envelope stuffer, standardized test grader, shipping manager, pizza thrower, humor writer, arts reporter, jazz musician and barista. I worked as a professional web developer for over five years and was the lone gun behind Brainside Out, a tiny web design shop.</p>

    <p>One of these days, I’m going to build an airplane.</p>
    <nav class="c-nav">
      <ul class="c-nav__list">
        <li class="c-nav__item">
          <a class="c-nav__link" href="index.html">index.html</a>
        </li>
        <li class="c-nav__item">
          <a class="c-nav__link" href="grid.html">grid.html</a>
        </li>
        <li class="c-nav__item">
          <a class="c-nav__link" href="styles.html">styles.html</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
