---
title: "R&eacute;sum&eacute;"
slug: "resume"
---

<div class="header">
  <h3>I am the product design lead for an advanced diagnostics and case management platform which GE Aviation uses to monitor their fleet of jet engines. Having worked at the intersection of design and engineering for more than a dozen years, I have extensive experience strategizing, planning and building digital products.</h3>
</div>
<div class="o-layout content">
  <div class="o-layout__item u-9/12@md">
    <h2>Relevant Experience</h2>
    <h3>Senior Staff Interaction Designer</h3>
    <p><a href="http://www.gesoftware.com/" rel="external">GE</a>, San Ramon, CA<br>
      April 2015 &#8211; Present</p>
    <p>Working closely with members of GE Aviation leadership to strategize, design and deliver platform capabilities that address critical business needs around user collaboration, remote diagnostics and industrial asset lifecycle management.</p>
    <p>Coaching development teams on advanced web application engineering practices that include Node.js tooling, Polymer elements and object-oriented Sass.</p>
    <h3>Lead Interaction Designer</h3>
    <p><a href="http://www.gesoftware.com/" rel="external">GE</a>, San Ramon, CA<br>
      April 2013 &#8211; March 2015</p>
    <p>Overseeing product strategy on multiple engagements with GE Aviation, where I have led the design, execution and launch of multiple web applications for monitoring and maintaining jet engines. As an embedded designer on agile development teams, I use AngularJS and a full-stack JavaScript environment to create rich prototypes that can be quickly integrated with our back-end systems. Created Propeller.js, a prototyping tool in Node.js that enables designers to build data-backed, sharable prototypes using the native code of the GE Design System.</p>
    <h3>Experience Designer</h3>
    <p><a href="http://www.adaptivepath.com/" rel="external">Adaptive Path</a>, San Francisco, CA<br>
      June 2010 &#8211; April 2013</p>
    <p>Worked with clients including SK Telecom, Topsy Labs, U.N. Global Pulse, PG<span class="amp">&amp;</span>E, Nike, Aol, Duke Energy, Corporate Executive Board and Capital Group to strategize, design and build compelling user experiences. Work involved research planning and preparation, field interviews, research analysis, sketching, concepting, wireframing, prototyping, and facilitating hands-on design workshops with clients. As a design technologist, took a leadership role on technology-focused client projects through planning, prototyping and delivering production-ready front-end code. Launched updated websites and content management systems for UX Week and MX Conference, and helped launch a fresh Adaptive Path website.</p>
    <h3>Experience Design Associate</h3>
    <p><a href="http://www.adaptivepath.com/" rel="external">Adaptive Path</a>, San Francisco, CA<br>
      June 2009 &#8211; August 2009</p>
    <p>Worked as an experience design intern on client projects, including concept generation and wireframing for the Cerego Smart.fm iPhone app. Published to the Adaptive Path weblog regarding sketching and concept work. Developed and launched a refreshed Adaptive Path website and home page.</p>
    <h3>Web Director</h3>
    <p><a href="http://www.bigwinds.com/" rel="external">Big Winds</a>, Hood River, OR<br>
      February 2007 &#8211; August 2008</p>
    <p>Directed the online presence for the largest windsurf and kiteboard shop in the United States, including company website, commerce engine, product catalog, and online advertising. Led the redevelopment and migration of the website and commerce engine to a Ruby on Rails architecture and a new hosting environment. Continually iterated on website design, layout and usability by referring to industry best practices. Efforts resulted in the strongest online and offline sales in business history.</p>
    <h3>Freelance Web Designer <span class="amp">&amp;</span> Developer</h3>
    <p>Brainside Out, Minneapolis, MN<br>
      September 2005 &#8211; February 2007</p>
    <p>Managed website strategy, creation and maintenance for over a dozen clients while working as an independent web designer and developer. Work included project management, standards-based website design, back-end and front-end development, copywriting, webhost migration, software customization, and content management. As a guest lecturer, presented to upper-division web design courses at the University of Minnesota Duluth, discussing design processes and client management.</p>
    <h3>Web Developer</h3>
    <p><a href="http://www.bigwinds.com/" rel="external">Big Winds</a>, Hood River, OR<br>
      January 2005 &#8211; May 2005</p>
    <p>Rebuilt the back-end and front-end of the Big Winds commerce engine using standards-based design practices, and launched a new website design. Updated back-end code and administrative sections to support new products and categories, greatly expanding flexibility and functionality of existing site.</p>
    <h3>Marketing Director, Web Designer, Web Support Specialist</h3>
    <p><a href="http://www.alpineinternet.com/" rel="external">Alpine Internet Solutions</a>, Bend, OR<br>
      January 2004 &#8211; January 2005</p>
    <p>As the Marketing Director at Alpine, launched an updated and redesigned version of the Alpine corporate website. As a web designer at Alpine, created and implemented a series of website design standards, resulting in a unified front-end development process that the company continued to use for more than five years. Involved in the design, creation and maintenance of more than 30 client websites, with work including project management, information architecture, website design and layout, copywriting and front-end development. Trained a growing team of three new web designers in semantic standards-based design practices.</p>
    <h2>Education</h2>
    <h3>Indiana University Bloomington</h3>
    <p>September 2008 &#8211; May 2010</p>
    <p>Master of Science in Human-Computer Interaction Design, May 2010<br>
      4.0 Cumulative GPA</p>
    <h3>University <span class="of">of</span> Minnesota Duluth</h3>
    <p>September 1999 &#8211; May 2003</p>
    <p>Bachelor of Arts, Summa Cum Laude, May 2003<br>
      Major: Interdisciplinary Studies, New Media Writing<br>
      Minors: Philosophy and Jazz Studies<br>
      3.9 Cumulative GPA</p>
    <h2>Design Skills</h2>
    <p>Familiar with human-centered design methods, including interviewing stakeholders, planning and preparing research plans, conducting field research, synthesizing and presenting research findings, creating personas, facilitating hands-on client workshops, sketching and generating concepts, wireframing interaction flows, prototyping interfaces, creating experience maps, articulating high-level design strategies, and crafting production-ready front-end code.</p>
    <h2>Technical Skills</h2>
    <p>CSS3, HTML5, JavaScript, Angular, jQuery, Node.js, Express, PHP, Laravel, Ruby, Zsh, Git, Sass, Compass, LESS, Arduino</p>
    <h2>Software Skills</h2>
    <p>Illustrator, Photoshop, InDesign, OmniGraffle, Sublime Text, Keynote</p>
    <h2>Awards <span class="amp">&amp;</span> Accolades</h2>

    <p>May 13, 2014<br>
    Gave a lightning talk &ldquo;Codecraft&rdquo; at the GE Design Conference, which discussed the rapid rate of change in development practices over the last ten years, and its implications for how we practice UX design.
    </p>
    <p>September 16, 2013<br>
      Conducted a half-day workshop with Karel Barnowski at <a href="http://www.leandaywest.com/">Lean Day West</a> in Portland, teaching more than 70 UX professionals how to achieve <a href="/portfolio/lean-day-west">better, faster UX in the enterprise</a> through design systems, sketching and prototyping.</p>
    <p>August 8, 2013<br>
      Spoke at IxDA San Francisco&rsquo;s &ldquo;Design Doing&rdquo; event with <a href="/portfolio/industrial-internet">&ldquo;Designing the Industrial Internet&rdquo;</a>, a talk about my process of using design systems at GE to design and build software directly in HTML, CSS and JavaScript.</p>
    <p>March 2, 2013<br>
      Revisited my <a href="/{{site.imgFolder}}/onaircraft/on-aircraft-slides-2013.pdf">&ldquo;On Aircraft And Craft&rdquo;</a> talk at the IxDA San Francisco redUX event.</p>
    <p>January 30, 2013<br>
      Gave a talk <a href="/{{site.imgFolder}}/onaircraft/on-aircraft-slides-2013.pdf">&ldquo;On Aircraft And Craft&rdquo;</a> at the <a href="http://interaction13.ixda.org/">Interaction 13 Conference</a> in Toronto, discussing the importance of design principles and their implications for our craft.</p>
    <p>November, 2012<br>
      Acted as an expert reviewer for manuscripts submitted to <a href="http://www.computer.org/portal/web/computingnow/pervasivecomputing">IEEE Pervasive Computing</a>.
    <p>October 17, 2012<br>
      Gave a keynote talk <a href="/portfolio/fastest-pivot">&ldquo;The Fastest Pivot You’ll Ever Make&rdquo;</a> at <a href="http://rocket-space.com">RocketSpace</a> in San Francisco, discussing how startups can use UX techniques to create more delightful products.</p>
    <p>September 23, 2011<br>
      Spoke with <a href="http://www.unglobalpulse.org/">U.N. Global Pulse</a> at the <a href="http://strataconf.com/stratany2011/public/schedule/detail/21575">2011 O&rsquo;Reilly Strata Conference</a> in New York City about our work on <a href="/portfolio/hunchworks">HunchWorks</a>, a crowdsourced system for identifying and mitigating emerging global crises.</p>
    <p>March 2011<br>
      Arduino-based refrigerator alarm <a href="http://www.adafruit.com/blog/2011/03/20/adaptive-path-fridge-alarm/">picked up by the Adafruit blog</a> and cited as &ldquo;Marvelous!&rdquo;</p>
    <p>November 2010<br>
      Guest lectured on sketching for Principles of Usability course at Academy of Art University, San Francisco.</p>
    <p>October 2010<br>
      Blog post <a href="http://www.adaptivepath.com/blog/2010/09/30/can-experience-be-designed/">&ldquo;Can Experience Be Designed?&rdquo;</a> for the Adaptive Path blog referenced by Adam Richardson, Creative Director at Frog Design, in his <a href="http://blogs.hbr.org/cs/2010/10/understanding_customer_experie.html">Understanding Customer Experience</a> article for Harvard Business Review.</p>
    <p>October 2010<br>
      Participated in the <a href="http://thinkin.frogdesign.com">Frog Design Energy ThinkIn</a>, an invitation-only collaboration with the Smart Grid Consumer Collaborative to better understand energy-conscious behavior.</p>
    <p>August <span class="amp">&amp;</span> November 2010<br>
      Concept sketches for Smart.fm published in Suzanne Ginsburg&rsquo;s <a href="http://www.amazon.com/Designing-iPhone-User-Experience-User-Centered/dp/0321699432">Designing the iPhone User Experience</a> book, and featured in Ginsburg&rsquo;s BayCHI talk <a href="http://www.slideshare.net/ginsburgdesign/wrangling-apps-in-the-smartphone-wild-west">Wrangling Apps in the Smartphone Wild West</a>.
    <p>July 2010<br>
      Blog post <a href="http://www.adaptivepath.com/ideas/constraints-opportunities-metaphor">&ldquo;The Constraints and Opportunities of Metaphor&rdquo;</a> for the Adaptive Path blog  <a href="http://uxi.org.il/pages/2741">translated into Hebrew</a> by UX Israel.</p>
    <p>April 2009<br>
      Published WattBot: A Residential Electricity Monitoring and Feedback System in the <em>Extended Abstracts of CHI 2009.</em> Boston, MA. ACM Press, New York, NY. <a href="/{{site.imgFolder}}/energymonitor/sdc128-petersen.pdf">PDF Download</a>, <a href="http://doi.acm.org/10.1145/1520340.1520413" rel="external">ACM Digital Library</a></p>
    <p>April 2009<br>
      Advanced to final round of the <em>CHI 2009 Student Design Competition</em> with <a href="/portfolio/energy-monitor">WattBot</a> and presented at CHI 2009.</p>
    <p>April 2009<br>
      Honorable Mention in the <em>Indiana University School of Informatics Graduate Student Poster Session</em> with <a href="/portfolio/energy-monitor-poster">poster for WattBot</a>.</p>
    <p>January 2009 &#8211; February 2010<br>
      Executive Chair of the Indiana University Graduate Informatics Student Association.</p>
    <h2>Other Experience</h2>
    <h3>Associate Instructor</h3>
    <p><a href="http://informatics.indiana.edu/" rel="external">Indiana University</a>, Bloomington, IN<br>
      September 2008 &#8211; May 2010</p>
    <h3>Wilderness Guide</h3>
    <p><a href="http://www.campmenogyn.org/" rel="external">YMCA Camp Menogyn</a>, Grand Marais, MN<br>
      June 2006 &#8211; August 2006<br>
      June 2005 &#8211; September 2005</p>
    <h3>Snowboard Instructor</h3>
    <p><a href="http://www.mtbachelor.com/" rel="external">Mount Bachelor</a>, Bend, OR<br>
      November 2003 &#8211; March 2004</p>
    <h3>Windsurfing Technician, Webmaster</h3>
    <p><a href="http://www.bigwinds.com/" rel="external">Big Winds</a>, Hood River, OR<br>
      May 2003 &#8211; November 2003</p>
    <h3>Senior Counselor, Windsurfing Director</h3>
    <p><a href="http://www.campihduhapi.org/" rel="external">YMCA Camp Ihduhapi</a>, Loretto, MN<br>
      June 2002 &#8211; August 2002</p>
  </div>
</div>
