<!doctype html>
<html lang="en-us">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
  <div class="c-content">
    <div class="o-layout o-layout--center">
      <div class="o-layout__item">
        <%- body %>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
  </body>
</html>
