/*------------------------------------*\
    #THEGREATSUNRA
\*------------------------------------*/

/**
 * #SETTINGS
 */
@import "inuit-defaults/settings.defaults";
@import "inuit-functions/tools.functions";
@import "inuit-mixins/tools.mixins";
@import "tools.mixins";
@import "tools.variables";
// 18em = 288px
// 23em = 368px
// 45em = 720px
// 60em = 960px
// 75em = 1200px
$mq-breakpoints: (
    xs:  18em,
    sm:  23em,
    md:  45em,
    lg:  60em,
    xl:  75em,
);
@import "sass-mq/mq";

/**
 * #GENERIC
 */
@import "inuit-normalize/generic.normalize";
@import "inuit-reset/generic.reset";
@import "inuit-box-sizing/generic.box-sizing";
@import "inuit-shared/generic.shared";

/**
 * #ELEMENTS
 */
@import "elements.page";
@import "elements.headings";
@import "elements.links";
@import "inuit-lists/base.lists";
@import "inuit-images/base.images";

/**
 * #OBJECTS
 */
$inuit-list-bare-namespace: "o-";
@import "inuit-list-bare/objects.list-bare";
$layout-max-width: 59em;
$enable-layout-max-width--sm: true;
$layout-max-width--sm: 29.625em;
$enable-layout--center: true;
@import "objects.layout";
@import "objects.separator";

 /**
 * #COMPONENTS
 */
@import "components.header";
@import "components.page-title";
@import "components.site-title";
@import "components.nav";
@import "components.content";
@import "components.portfolio";
@import "components.vimeo-player";
@import "components.images";
@import "components.footer";
@import "components.social";
@import "components.copyright";
@import "components.resume";
@import "components.project-metadata";
@import "components.browser-notice";

 /**
 * #TRUMPS
 */
@import "inuit-clearfix/trumps.clearfix";
$inuit-enable-paddings:         true;
$inuit-enable-paddings--small:  true;
$inuit-enable-paddings--large:  true;
$inuit-enable-margins:          true;
@import "inuit-spacing/trumps.spacing";
@import "utilities.responsive";
@import "utilities.helpers";
@import "utilities.typography";
@import "utilities.widths";
