---
title: "Alpine Copywriting Campaign"
slug: "alpine"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@lg">Alpine Copywriting Campaign</h1>
<h3 class="c-page-title">A web development company located in Bend, Oregon, Alpine offers content management and web marketing services to regional and national clients.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item">
    <h2>Writing is designing.</h2>
    <p>While running Brainside Out, my tiny web company, I worked directly with Alpine’s CEO to lead their marketing efforts. Over the course of a year I wrote numerous case studies and email newsletters, spreading the good word about how Alpine has helped clients successfully engage their customers on the web.</p>
  </div>

  <div class="o-layout__item">
    <h3>Mountain Link Splash Page, Case Study and&nbsp;Newsletter</h3>
  </div>
  <div class="o-layout__item">
    <img src="/images/alpinecopywriting/screenshot-01-800.jpg" alt="Screenshot of the Alpine Case Studies landing page" class="c-img c-img--padded c-img--bordered c-img--rounded">
    <img src="/images/alpinecopywriting/screenshot-03-800.jpg" alt="Screenshot of the Mountain Link case study" class="c-img c-img--padded c-img--bordered c-img--rounded">
    <img src="/images/alpinecopywriting/newsletter-01-800.jpg" alt="Email newsletter screenshot" class="c-img c-img--padded c-img--bordered c-img--rounded">
    <hr class="o-separator">
  </div>
  <div class="o-layout__item">
    <h3>Mill Quarter Splash Page, Case Study and&nbsp;Newsletter</h3>
  </div>
  <div class="o-layout__item">
    <img src="/images/alpinecopywriting/screenshot-06-800.jpg" alt="Screenshot of the Alpine Solutions landing page" class="c-img c-img--padded c-img--bordered c-img--rounded">
    <img src="/images/alpinecopywriting/screenshot-05-800.jpg" alt="Screenshot of the Mill Quarter case study" class="c-img c-img--padded c-img--bordered c-img--rounded">
    <img src="/images/alpinecopywriting/newsletter-02-800.jpg" alt="Email newsletter screenshot" class="c-img c-img--padded c-img--bordered c-img--rounded">
  </div>
  <div class="o-layout__item">
    <hr class="o-separator">
  </div>
  <div class="o-layout__item">
    <h3 class="c-project-metadata__title">Project Responsibilities</h3>
    <p>Interviewing, Copywriting, Design, Layout, Front-End Development</p>
    <h3 class="c-project-metadata__title">Project Team</h3>
    <p>Dane Petersen<br>
      Drew Child, Alpine CEO</p>
    <h3 class="c-project-metadata__title">Project Timeline</h3>
    <p>February 2006 &ndash; January 2007</p>
  </div>
</div>
