---
title: "Alpine Quickstart Templates"
slug: "alpinequickstart"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@lg">Alpine Quickstart Templates</h1>

<h3 class="c-page-title">At the dawn of the standards-based web design era, I created a series of “quickstart” HTML/CSS templates for Alpine, a web development shop in Bend,&nbsp;Oregon.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class=" o-layout__item">
    <h3>Standardizing our craft with web…&nbsp;standards.</h3>
    <p>Representing a pragmatic execution of the beautiful techniques demonstrated at <a href="http://csszengarden.com" rel="external">CSS Zen Garden</a>, these templates standardized Alpine’s standards-based web development practice, providing the team with a solid base of HTML markup and generic CSS layout styles for implementing an incredibly diverse range of website designs.</p>
    <h3>Five layouts, identical markup.</h3>
    <img src="/images/alpinequickstart/quickstart-sketches.png" alt="Sketches of the five Alpine Quickstart templates" class="c-img">
    <p>I created five unique layouts to use as starting points when slicing up static design comps and implementing them as pixel-perfect CSS. Using the exact same HTML markup, each layout option differs only in the CSS applied to it.</p>
  </div>
  <div class="o-layout__item u-8/12@md">
    <img src="/images/alpinequickstart/quickstart-left.png" alt="Screenshot of the Alpine Quickstart template with left navigation" class="c-img">
    <div class="c-img__caption">An Alpine Quickstart template with the left navigation CSS applied to it. Low-contrast designs were all the rage in 2004 and everyone was guilty. Trust me.</div>

    <h3>Making clients (and search engines) happy.&nbsp;Organically.</h3>

    <p>Dozens of client websites, including thirty I built during my year with Alpine, trace their front-end lineage to these templates. They offered a strong foundation that could handle just about any design we could throw at them, while still retaining semantic meaning and fantastic search engine visibility.</p>

    <p>In an era still dominated by table-based designs exported directly from Photoshop, semantic-based web markup turned out to be fantastic for organic search engine optimization, delighting our clients. Indeed, for more than five years after I created them, Alpine continued to use my templates as a starting point for their client projects.</p>
  </div>
  <div class="o-layout__item u-4/12@md">
    <img src="/images/alpinequickstart/quickstart-top.png" alt="Screenshot of the Alpine Quickstart template with top navigation" class="c-img">
    <div class="c-img__caption">Quickstart template with top navigation.</div>
    <img src="/images/alpinequickstart/quickstart-right.png" alt="Screenshot of the Alpine Quickstart template with right navigation" class="c-img">
    <div class="c-img__caption">Quickstart template with right navigation.</div>
    <img src="/images/alpinequickstart/quickstart-left-flyover.png" alt="Screenshot of the Alpine Quickstart template with right navigation" class="c-img">
    <div class="c-img__caption">Left layout with pure CSS flyover navigation.</div>
    <img src="/images/alpinequickstart/quickstart-top-flyover.png" alt="Screenshot of the Alpine Quickstart template with right navigation" class="c-img">
    <div class="c-img__caption">Top layout with pure CSS flyover navigation.</div>
  </div>
  <div class="o-layout__item">
    <hr class="o-separator">
  </div>
  <div class="o-layout__item u-8/12@md">
    <h3 class="c-project-metadata__title">Project Responsibilities</h3>
    <p>Design, Development, Documentation</p>
    <h3 class="c-project-metadata__title">Project Technologies</h3>
    <p>HTML, CSS</p>
    <h3 class="c-project-metadata__title">Project Team</h3>
    <p>
      Lance Hardy<br>
      Jody O’Donnell<br>
      Morgan O’Neal<br>
      Dane Petersen<br>
      Robin Welsh
    </p>
    <h3 class="c-project-metadata__title">Project Timeline</h3>
    <p>March – December 2004</p>
  </div>
  <div class="o-layout__item u-4/12@md">
    <img src="/images/alpinequickstart/quickstart-unstyled.png" alt="Screenshot of the Alpine Quickstart template with no styles applied to it" class="c-img c-img--bordered c-img--rounded">
    <div class="c-img__caption">Quickstart template without CSS, because why not?</div>
  </div>
</div>
