---
title: "Big Winds Commerce Rebuild"
slug: "bigwinds"
portfolioIsActive: true
---

<div class="o-layout">
  <div class="o-layout__item u-9/12@md header">
    <h1 class="c-page-title--large c-page-title@sm c-page-title--large@md c-page-title--huge@lg">Big Winds Commerce&nbsp;Rebuild</h1>
    <h3 class="c-page-title--small c-page-title@md">With the help of a talented local developer we rebuilt the Big Winds commerce engine in Ruby on Rails, to the tune of improved performance, easier maintenance, faster development, smarter product data, and a pixel-perfect grid design to&nbsp;boot.</h3>
  </div>
  <div class="o-layout__item u-is-hidden u-is-visibleblock@md u-3/12@md u-mt">
    <img src="/images/bigwinds/on-rails.png" alt="On Rails Badge">
  </div>
  <div class="o-layout__item">
    <hr class="o-separator">
  </div>
  <div class="o-layout__item u-6/12@md u-push-6/12@md u-clear-both">
    <img src="/images/bigwinds/dane-800.jpg" alt="Dane with his kite of choice in front of Big Winds." class="c-img c-img--rounded">
    <a href="/images/bigwinds/grid-01-800.jpg"><img src="/images/bigwinds/grid-01-800.jpg" alt="A demonstration of the grid-based layout of bigwinds.com" class="c-img c-img--bordered c-img--padded"></a>
    <ul class="o-layout">
      <li class="o-layout__item u-4/12@xs"><a href="/images/bigwinds/grid-02-800.jpg"><img src="/images/bigwinds/grid-02-450.jpg" alt="A demonstration of the grid-based layout of bigwinds.com" class="c-img c-img--bordered c-img--padded"></a></li>
      <li class="o-layout__item u-4/12@xs"><a href="/images/bigwinds/grid-04-800.jpg"><img src="/images/bigwinds/grid-04-450.jpg" alt="A demonstration of the grid-based layout of bigwinds.com" class="c-img c-img--bordered c-img--padded"></a></li>
      <li class="o-layout__item u-4/12@xs"><a href="/images/bigwinds/grid-06-800.jpg"><img src="/images/bigwinds/grid-06-450.jpg" alt="A demonstration of the grid-based layout of bigwinds.com" class="c-img c-img--bordered c-img--padded"></a></li>
    </ul>
    <div class="c-img__caption u-clear-both">A demonstration of the grid-based layout system that I implemented across the entire Big Winds website.</div>
    <a href="/images/bigwinds/cards-01-800.jpg"><img src="/images/bigwinds/cards-01-800.jpg" alt="A product attribute card-sorting activity" class="c-img c-img--rounded"></a>
    <ul class="o-layout">
      <li class="o-layout__item u-4/12@xs"><a href="/images/bigwinds/cards-02-800.jpg"><img src="/images/bigwinds/cards-02-450.jpg" alt="A product attribute card-sorting activity" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-4/12@xs"><a href="/images/bigwinds/cards-03-800.jpg"><img src="/images/bigwinds/cards-03-450.jpg" alt="A product attribute card-sorting activity" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-4/12@xs"><a href="/images/bigwinds/cards-04-800.jpg"><img src="/images/bigwinds/cards-04-450.jpg" alt="A product attribute card-sorting activity" class="c-img c-img--rounded"></a></li>
    </ul>
    <div class="c-img__caption">I conducted a card-sorting activity to inform the product attributes used in our database schema.</div>
  </div>

  <div class="o-layout__item u-6/12@md u-pull-6/12@md">
    <p>Located in the windsports mecca of Hood River, Oregon, Big Winds is the largest windsurfing and kiteboarding shop in the United States. Established in 1987, they have been teaching new windsurfers and offering expert advice on gear for more than twenty years. Everyone at Big Winds is a passionate windsurfer or kiteboarder, and they take great pride in offering the highest quality shopping experience in the industry.</p>
    <p>By the end of 2007, Big Winds had squeezed five years of incredible growth out of their original e-commerce engine, pushing it far beyond the limits of its intended capabilities. They realized that in order to sustain this upward vector they would need to seriously overhaul their commerce system, as its idiosyncrasies were increasingly becoming a threat unto itself. They wanted their web division to spend less time conducting mind-numbing, tedious maintenance and spend more time improving the site, and implementing new useful tools that would delight their customers.</p>
    <h3>We can rebuild him. Better. Stronger. Faster.</h3>
    <p>As the company's web director, I was set with the responsibility of migrating the entire web presence of Big Winds to a new hosting environment and codebase. With the help of Jason Ives, a talented local Rails developer, we migrated Big Winds from an aging, proprietary ASP/Access platform on a shared FTP host, to a sleek Ruby on Rails architecture on a virtual private host. Choosing Rails, rather than an off-the-shelf commerce system, gave us the incredible flexibility necessary to continue realizing our unique vision, while still adhering to a set of strict coding conventions that future developers would be able understand without needing to learn a specialized system.</p>
    <div class="u-text-right u-float-right u-pl u-pb">
      <!-- <img src="/images/bigwinds/ruby.png" alt="Ruby Language Logo"> --> 
      <img src="/images/bigwinds/rails.png" alt="Ruby on Rails Framework Logo">
      <!-- <img src="/images/bigwinds/railsmachine.png" alt="Rails Machine Web Hosting Logo"> -->
    </div>
    <p>In rebuilding the site we completely overhauled our database configuration, introducing a sophisticated product schema that allowed us to describe the detailed specifications for complex, technical products like windsurf boards, but not at the expense of cluttering up simple products like backpacks and t-shirts. As we migrated our products from our old system to our new one, we wrote a series of dynamic conversion scripts that normalized the detailed information associated with each product and product category. With this rigorous data standard in place we could slice across products in new ways, offering our customers detailed product comparison charts that would have been impossible in our previous system.</p>
    <h3>Sweating every pixel.</h3>
    <div class="u-text-right u-float-right u-pl u-pb">
      <img src="/images/bigwinds/blueprintcss.png" alt="Blueprint CSS Design Framework Logo">
    </div>
    <p>While we were satisfied with the existing look and feel of the Big Winds website, we took this project as an opportunity to do ourselves one better. We completely rebuilt the design using Blueprint CSS, which gave us the power to implement a pixel-perfect grid-based layout throughout the entire site. While the results are subtle, this demonstrates the high degree of quality and attention to detail that pervades our every interaction with our customers, no matter if they are online, on the phone, or visiting us at our retail store.</p>
    <p>From a maintenance perspective, the new commerce engine allowed our content managers to add and update products faster than ever before. Tools for cloning products eliminated repetitive and laborious tasks, and other schematic decisions allowed us to arrange and categorize products far more effectively on the public side, making it easier for customers to locate desired items. Soon after launch, the strengths of our rebuild became apparent. The buzz surrounding the sport of stand up paddling became a roar during the summer of 2008, and the new website architecture made it easy for us to quickly expand our web presence into this exploding market.</p>
  </div>
  <div class="o-layout__item u-6/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Responsibilities</h2>
    <ul>
      <li>Responsible for managing entire project, including scope, timeline and budget.</li>
      <li>Refined and rebuilt codebase for entire site in Ruby on Rails.</li>
      <li>Improved database schema, and normalized all product data.</li>
      <li>Rebuilt website design in Blueprint CSS for pixel-perfect grid-based layouts.</li>
      <li>Migrated website to a virtual private server with RAID-10 redundancy and automated backups.</li>
      <li>Migrated company-wide communications to Google Apps.</li>
      <li>Implemented version control to record and manage all site changes.</li>
    </ul>
  </div>
  <div class="o-layout__item u-6/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Team</h2>
    <ul>
      <li>Dane Petersen - Strategy, Project Management, Grid-Based Layout Design, Front-End Development, XHTML/CSS/JavaScript Coding</li>
      <li><a href="https://www.jasonives.com/" rel="external">Jason Ives</a> - Programming, Server Migration and Configuration, Back-End Development, Ruby on Rails Development</li>
    </ul>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>November 2007 – February 2008<br>
      Launched February 2008</p>
    <h2 class="c-project-metadata__title">Project Website</h2>
    <p><a href="https://www.bigwinds.com/wind" rel="external">www.bigwinds.com</a></p>
  </div>
</div>
