---
title: "Brainside Out"
slug: "brainsideout"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@sm">Brainside Out</h1>
<h3 class="c-page-title--small c-page-title@lg">Brainside Out was my freelance web design and development shop, which I ran full-time for 1 &frac12; years. Before that it was my personal weblog and haven for experimentation, with memoirs and ramblings dating back to 2001.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-8/12@md">
    <img src="/images/brainsideout/09-portfolio-late-2010.png" alt="Screenshot of Brainside Out in Late 2010"  class="c-img c-img--bordered c-img--rounded">
    <div class="c-img__caption">Brainside Out, Late 2010 Edition<br>
      Late 2010</div>
    <img src="/images/brainsideout/07-portfolio-blue-02.png" alt="Screenshot of Brainside Out, Blue Edition, in Late 2009" class="c-img c-img--rounded">
    <div class="c-img__caption">Brainside Out, Blue 2.0 Edition<br>
      Early 2010</div>
    <img src="/images/brainsideout/06-portfolio-blue-01.png" alt="Screenshot of Brainside Out, Blue Edition, in Late 2009" class="c-img c-img--rounded">
    <div class="c-img__caption">Brainside Out, Blue Edition<br>
      Late 2009</div>
    <img src="/images/brainsideout/05-portfolio-pink.png" alt="Screenshot of Brainside Out, Pink Edition, in Early 2009" class="c-img c-img--bordered c-img--rounded">
    <div class="c-img__caption">Brainside Out, Pink Edition<br>
      Early 2009</div>
    <a href="https://terra.brainsideout.com/" rel="external"><img src="/images/brainsideout/04-terra.png" alt="Screenshot of Brainside Out, Terra Edition" class="c-img c-img--rounded"></a>
    <div class="c-img__caption">Brainside Out, Terra Edition<br>
      Circa 2008</div>
    <a href="https://rosco.brainsideout.com" rel="external"><img src="/images/brainsideout/03-rosco.png" alt="Screenshot of Brainside Out, Rosco D. Disco Edition" class="c-img c-img--rounded"></a>
    <div class="c-img__caption">Brainside Out, Rosco Edition<br>
      Circa 2007</div>
    <a href="https://siskiwit.brainsideout.com" rel="external"><img src="/images/brainsideout/02-siskiwit.png" alt="Screenshot of Brainside Out, Siskiwit Edition" class="c-img c-img--rounded"></a>
    <div class="c-img__caption">Brainside Out, Siskiwit Edition<br>
      Circa 2006</div>
    <img src="/images/brainsideout/01-wounded-knee.png" alt="Screenshot of Brainside Out, Wounded Knee Edition" class="c-img c-img--rounded">
    <div class="c-img__caption">Brainside Out, Wounded Knee Edition<br>
      Circa 2005</div>
  </div>
  <div class="o-layout__item u-4/12@md">
    <p>Brainside Out has undergone innumerable redesigns, revisions, realignments and reconceptualizations. Themes have included everything from disco to 8-bit, mountains to maps, grunge to country western to everything else in between.</p>
    <div class="c-project-metadata">
      <h2 class="c-project-metadata__title">Project Responsibilities</h2>
      <p>Writing a weblog, designing websites, running a business. In that order.</p>
      <h2 class="c-project-metadata__title">Project Technologies</h2>
      <p>XHTML/CSS, JavaScript, Movable Type, PHP, MySQL, CodeIgniter, Blueprint CSS</p>
      <h2 class="c-project-metadata__title">Project Timeline</h2>
      <p>2001 – 2010</p>
      <h2 class="c-project-metadata__title">Project Websites</h2>
      <p>brainsideout.com<br>
        <a href="https://terra.brainsideout.com/" rel="external">terra.brainsideout.com</a><br>
        <a href="https://rosco.brainsideout.com/" rel="external">rosco.brainsideout.com</a><br>
        <a href="https://siskiwit.brainsideout.com/" rel="external">siskiwit.brainsideout.com</a></p>
    </div>
  </div>
</div>
