---
title: "“Codecraft” Talk"
slug: "codecraft"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@lg">“Codecraft” Talk</h1>
<h3 class="c-page-title--small c-page-title@lg">I gave this talk at GE’s first-annual Design Conference, discussing the rapid pace of change in development practices over the last ten years and its implications for how we practice design.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-8/12@md">
    <script async class="speakerdeck-embed" data-id="fdcef5b02c1b013276785e8b00816f33" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
    <p>You can <a href="https://speakerd.s3.amazonaws.com/presentations/fdcef5b02c1b013276785e8b00816f33/DanePetersen_CodeCraft_12May2014_FINAL.pdf">download the slides</a> from my talk, or <a href="https://speakerdeck.com/thegreatsunra/codecraft">browse the slides</a> at Speaker Deck.</p>
    <h3>About The Talk</h3>
    <p>I gave this talk at the first-annual GE Design Conference in San Francisco on <br>May 12, 2014.</p>
  </div>
  <div class="o-layout__item u-4/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Responsibilities</h2>
    <p>Speaking</p>
    <h2 class="c-project-metadata__title">Project Team</h2>
    <p>Dane Petersen</p>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>May 2014</p>
    <h2 class="c-project-metadata__title">And Furthermore…</h2>
    <p>
      <a href="https://speakerd.s3.amazonaws.com/presentations/fdcef5b02c1b013276785e8b00816f33/DanePetersen_CodeCraft_12May2014_FINAL.pdf">Talk Slides</a> (3.4MB PDF)<br>
      <a href="https://speakerdeck.com/thegreatsunra/codecraft">Slides at Speaker Deck</a>
    </p>
  </div>
</div>
