---
title: "Daneomatic"
slug: "daneomatic"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@sm">Daneomatic</h1>
<h3 class="c-page-title--small c-page-title@lg">This site has been my personal weblog since 2006, where I rant and rave and speak in strong terms. Sometimes it&rsquo;s reflective, sometimes it&rsquo;s technical, while other times I simply discuss the latest in cultural bric-a-brac. <a href="https://daneomatic.com/" rel="external" class="u-go">Visit the site</a></h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-8/12@md">
    <a href="https://daneomatic.com/" rel="external"><img src="/images/daneomatic/screenshot-01-610.jpg" alt="A screenshot of Daneomatic" class="c-img c-img--padded c-img--bordered"></a>
  </div>
  <div class="o-layout__item u-4/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Responsibilities</h2>
    <p>Writing, Design and Layout, Design Implementation, Front-End Development, WordPress Customization</p>
    <h2 class="c-project-metadata__title">Project Technologies</h2>
    <p>XHTML/CSS, WordPress, Sandbox, Blueprint CSS, PHP, MySQL, Subversion</p>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>September 2006 &ndash; Present</p>
    <h2 class="c-project-metadata__title">Project Website</h2>
    <p><a href="https://daneomatic.com/" rel="external">daneomatic.com</a></p>
  </div>
</div>
