---
title: "Erratik Productions Website Redesign"
slug: "erratik"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@lg">Erratik Productions Website&nbsp;Redesign</h1>
<h3 class="c-page-title">Erratik Productions is a video production company based in Minnesota that creates eclectic films and documentaries, influenced strongly by jazz, rock, electronica and hip-hop&nbsp;music.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item">
    <img src="/images/erratik/screenshot-01-800.jpg" alt="Screenshot of the redesigned Erratik Productions website" class="c-img--bordered c-img--padded">
    <div class="c-img__caption"></div>
  </div>
  <div class="o-layout__item">
    <hr class="o-separator">
      <h3 class="c-project-metadata__title">Project Responsibilities</h3>
      <p>Website Design, Design Implementation, Front-End Development, WordPress Customization, Webhost Migration, Video Compression</p>
      <h3 class="c-project-metadata__title">Project Team</h3>
      <p>Dane Petersen<br>
        Ryan Rapsys, Erratik Productions</p>
      <h3 class="c-project-metadata__title">Project Technologies</h3>
      <p>XHTML/CSS, JavaScript, PHP, MySQL, WordPress, QuickTime</p>
      <h3 class="c-project-metadata__title">Project Timeline</h3>
      <p>April &ndash; May 2006<br>
        Launched May 2006</p>
  </div>
</div>
