---
title: "“The Fastest Pivot You’ll Ever Make” Talk"
slug: "fastestpivot"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@lg">“The Fastest Pivot You’ll Ever Make”&nbsp;Talk</h1>
<h3 class="c-page-title--small c-page-title@lg">I delivered a 30-minute talk at RocketSpace in San Francisco, speaking to a packed house of startups about how they can use UX principles and tools to craft more desirable products more&nbsp;quickly.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-8/12@md">
    <script async class="speakerdeck-embed" data-id="dcd2da90e39201300cea3afe56f987b4" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
    <p>You can <a href="/images/fastestpivot/fastest-pivot-slides-2012.pdf">download the slides</a> from my talk, or <a href="https://speakerdeck.com/thegreatsunra/the-fastest-pivot-youll-ever-make">browse the slides</a> at Speaker Deck.</p>
  </div>
  <div class="o-layout__item u-4/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Responsibilities</h2>
    <p>Sketching <span class="u-ampersand">&amp;</span> Speaking</p>
    <h2 class="c-project-metadata__title">Project Team</h2>
    <p>
      Dane Petersen<br>
      <a href="http://www.kicklabs.com/">KickLabs</a><br>
      <a href="http://rocket-space.com/">RocketSpace</a>
    </p>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>October 2012</p>
    <h2 class="c-project-metadata__title">And Furthermore…</h2>
    <p>
      <a href="/images/fastestpivot/fastest-pivot-slides-2012.pdf">Presentation Slides</a> (27MB PDF)<br>
      <a href="https://speakerdeck.com/thegreatsunra/the-fastest-pivot-youll-ever-make">Slides at Speaker Deck</a><br>
    </p>
  </div>
</div>
