---
title: "Weight Watchers Fast Food Advisor"
slug: "foodadvisor"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@lg">Weight Watchers Fast Food Advisor</h1>
<h3 class="c-page-title--small c-page-title@lg">We aim to help our users make good, healthy eating choices when they are at their most vulnerable, and when they are most likely to give into temptation: when they are eating out.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-6/12@md">
    <p><img src="/images/foodadvisor/concept-07.png" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></p>
    <ul class="o-layout">
      <li class="o-layout__item u-2/12@md u-4/12@xs"><a href="/images/foodadvisor/concept-02.png"><img src="/images/foodadvisor/concept-02-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></a></li>
      <li class="o-layout__item u-2/12@md u-4/12@xs"><a href="/images/foodadvisor/concept-03.png"><img src="/images/foodadvisor/concept-03-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></a></li>
      <li class="o-layout__item u-2/12@md u-4/12@xs"><a href="/images/foodadvisor/concept-04.png"><img src="/images/foodadvisor/concept-04-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></a></li>
      <li class="o-layout__item u-2/12@md u-4/12@xs"><a href="/images/foodadvisor/concept-05.png"><img src="/images/foodadvisor/concept-05-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></a></li>
      <li class="o-layout__item u-2/12@md u-4/12@xs"><a href="/images/foodadvisor/concept-06.png"><img src="/images/foodadvisor/concept-06-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></a></li>
      <li class="o-layout__item u-2/12@md u-4/12@xs"><a href="/images/foodadvisor/concept-07.png"><img src="/images/foodadvisor/concept-07-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></a></li>
      <li class="o-layout__item u-2/12@md u-4/12@xs"><a href="/images/foodadvisor/concept-08.png"><img src="/images/foodadvisor/concept-08-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></a></li>
      <li class="o-layout__item u-2/12@md u-4/12@xs"><a href="/images/foodadvisor/concept-09.png"><img src="/images/foodadvisor/concept-09-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></a></li>
      <li class="o-layout__item u-2/12@md u-4/12@xs"><a href="/images/foodadvisor/concept-10.png"><img src="/images/foodadvisor/concept-10-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></a></li>
      <li class="o-layout__item u-2/12@md u-4/12@xs"><a href="/images/foodadvisor/concept-11.png"><img src="/images/foodadvisor/concept-11-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></a></li>
      <li class="o-layout__item u-2/12@md u-4/12@xs"><a href="/images/foodadvisor/concept-12.png"><img src="/images/foodadvisor/concept-12-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></a></li>
      <li class="o-layout__item u-2/12@md u-4/12@xs"><a href="/images/foodadvisor/concept-13.png"><img src="/images/foodadvisor/concept-13-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application" class="c-img"></a></li>
      <!-- <li><a href="/images/foodadvisor/concept-14.png"><img src="/images/foodadvisor/concept-14-450.jpg" alt="High-fidelity concept of our proposed Fast Food Advisor application"></a></li> -->
    </ul>
    <div class="c-img__caption">I created this series of high-fidelity concepts of our Fast Food Advisor application, that walk through a typical user scenario.</div>
    <a href="/images/foodadvisor/sketch-06-800.jpg"><img src="/images/foodadvisor/sketch-06-800.jpg" alt="Sketches from our design process" class="c-img c-img--rounded"></a>
    <ul class="o-layout">
      <li class="o-layout__item u-4/12@xs"><a href="/images/foodadvisor/sketch-01-800.jpg"><img src="/images/foodadvisor/sketch-01-450.jpg" alt="Sketches from our design process" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-4/12@xs"><a href="/images/foodadvisor/sketch-02-800.jpg"><img src="/images/foodadvisor/sketch-02-450.jpg" alt="Sketches from our design process" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-4/12@xs"><a href="/images/foodadvisor/sketch-03-800.jpg"><img src="/images/foodadvisor/sketch-03-450.jpg" alt="Sketches from our design process" class="c-img c-img--rounded"></a></li>
    </ul>
    <div class="c-img__caption">I generated numerous sketches during our design process.</div>
    <a href="/images/foodadvisor/prototype-two-01-800.jpg"><img src="/images/foodadvisor/prototype-two-01-800.jpg" class="c-img c-img--rounded" alt="Low-fidelity paper prototype for usability testing"></a>
    <ul class="o-layout">
      <li class="o-layout__item u-4/12@xs"><a href="/images/foodadvisor/prototype-one-01-800.jpg"><img src="/images/foodadvisor/prototype-one-01-450.jpg" alt="Low-fidelity paper prototype for usability testing" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-4/12@xs"><a href="/images/foodadvisor/prototype-one-02-800.jpg"><img src="/images/foodadvisor/prototype-one-02-450.jpg" alt="Low-fidelity paper prototype for usability testing" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-4/12@xs"><a href="/images/foodadvisor/prototype-one-05-800.jpg"><img src="/images/foodadvisor/prototype-one-05-450.jpg" alt="Low-fidelity paper prototype for usability testing" class="c-img c-img--rounded"></a></li>
    </ul>
    <div class="c-img__caption">I created a series of low-fidelity paper prototypes, which we used for usability testing.</div>
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@xs"><a href="/images/foodadvisor/frame-01-800.jpg"><img src="/images/foodadvisor/frame-01-450.jpg" alt="Building the cardboard iPhone frame" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-6/12@xs"><a href="/images/foodadvisor/frame-02-800.jpg"><img src="/images/foodadvisor/frame-02-450.jpg" alt="Building the cardboard iPhone frame" class="c-img c-img--rounded"></a></li>
    </ul>
    <div class="c-img__caption">Building the cardboard iPhone frame for usability testing.</div>
  </div>
  <div class="o-layout__item u-6/12@md">
    <p>The iPhone is the best-selling mobile phone in the United States. Weight Watchers Online has more than 600,000 subscribers, and is experiencing rapid growth. Our team was asked to develop an iPhone application for Weight Watchers that their members would find delightfully useful, and would encourage more people to become Weight Watchers members and iPhone owners alike.</p>
    <h3>Our visit to Weight Watchers.</h3>
    <p>As part of our primary research to inform our design argument, we attended the weekly meeting of a local Weight Watchers chapter. The issue of temptation was a big topic throughout this meeting, and the members shared a number of creative ideas that they used to encourage healthy eating and snacking at the home. However, one of the members brought up the issue of eating out for lunch, and shared how difficult it was for her to resist the big glossy pictures on the menu board at her favorite fast food restaurant. With no nutritional information, she felt it was very difficult to resist temptation and make a healthy choice.</p>
    <p>One of the other members suggested a website called Dottie's Weight Loss Zone, which has compiled the nutritional information and Weight Watchers Points values for a dizzying variety of chain restaurants and fast food joints. Upon hearing about this website, a number of members scrambled to take out notebooks and scraps of paper so they could write it down. It was obvious that the information provided by this website was perceived as a veritable gold mine to inform healthy eating!</p>
    <p>While conducting secondary research, we came across a number of studies showing that over the last 25 years Americans have been eating out more often, and eating fewer meals at home. Americans spent 26% of their food dollars on meals prepared outside the home in 1970, but by 2002 that number had increased to 46%. Almost half of American adults eat out on any given day, and most restaurants do not make nutritional information readily available to their customers.</p>
    <h3>Helping you stick to the program.</h3>
    <p>As a team, we proposed an iPhone application that would help Weight Watchers members stick to their weight loss plan no matter where they are. We aimed to help our users make good, healthy choices when they are at their most vulnerable, and when they are most likely to give into temptation: when they are eating out. We realized that with the iPhone we would be able able to provide this information in context, such as when the user is waiting in line at a fast food restaurant, and that we could free them from the effort normally required to plan a healthy meal choice.</p>
    <p>Based on our research at the Weight Watchers meeting, we created three personas that we felt would be pretty compelling Weight Watchers members. We began by sketching ideas, which eventually coalesced into a low-fidelity paper prototype of our application. We created a large cardboard cutout of an iPhone to simulate the device, and to only display one screen at a time and avoid overwhelming the user.</p>
    <p>We conducted a series of formal usability studies with our paper prototype, iterating and refining the design after each test in response to user feedback. Finally, we created a series of high-fidelity Photoshop mockups that represented a common scenario, which we printed out to use with our screen for another round of usability testing.</p>
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@xs"><a href="/images/foodadvisor/team-01-800.jpg"><img src="/images/foodadvisor/team-01-450.jpg" alt="Jay, Joe and Dane, hard at work" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-6/12@xs"><a href="/images/foodadvisor/team-04-800.jpg"><img src="/images/foodadvisor/team-04-450.jpg" alt="Jay, Joe and Dane, hard at work" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-6/12@xs"><a href="/images/foodadvisor/team-07-800.jpg"><img src="/images/foodadvisor/team-07-450.jpg" alt="Jay, Joe and Dane, hard at work" class="c-img c-img--rounded"/></a></li>
      <li class="o-layout__item u-6/12@xs"><a href="/images/foodadvisor/team-03-800.jpg"><img src="/images/foodadvisor/team-03-450.jpg" alt="Jay, Joe and Dane, hard at work" class="c-img c-img--rounded"></a></li>
    </ul>
    <div class="c-project-metadata">
      <h2 class="c-project-metadata__title">Project Responsibilities</h2>
      <p>Primary and Secondary Research, Ethnographic Observation, Sketching, Concept Creation, Low-Fidelity and High-Fidelity Prototyping, Paper Prototyping, Usability Testing, Photoshop Concepts</p>
      <h2 class="c-project-metadata__title">Project Team</h2>
      <p>Dane Petersen<br>
        <a href="https://www.linkedin.com/in/jaysteele" title="Jay Steele's profile at LinkedIn" rel="external">Jay Steele</a><br>
        <a href="https://www.linkedin.com/in/joewilkerson" title="Joe Wilkerson's profile at LinkedIn" rel="external">Joe Wilkerson</a></p>
      <h2 class="c-project-metadata__title">Project Timeline</h2>
      <p>October 2008</p>
    </div>
  </div>
</div>
