---
title: portfolio
slug: portfolio
portfolioIsActive: true
---

<h1 class="c-page-title">As a designer I make great big messes, and as a developer I bring those messes to life. <span class="u-is-hidden u-is-visibleinline@md">I&rsquo;ve created release-worthy code, rich interactive prototypes, digital ecosystem road maps, multi-channel service strategies, and terrible concept sketches.</span> I&rsquo;m passionate about sharing my love for sketching and code through talks and workshops.</h1>

<hr class="o-separator">

<ul class="c-portfolio o-list-bare">
  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/filament-infrastructure">
      <h3 class="c-portfolio__title">
        <!-- [CODE] -->Filament Cloud&nbsp;Infrastructure
      </h3>
      <img src="/images/filamentinfrastructure/filamentinfrastructure-banner-900.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
      While working remotely at Filament, I built an end-to-end cloud infrastructure to help us test, validate and deploy our industrial-strength GPS tracking hardware.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/adaptive-events">
      <h3 class="c-portfolio__title">
        <!-- [CODE] -->Adaptive Path Events&nbsp;Development
      </h3>
      <img src="/images/adaptiveevents/adaptiveevents-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    I revamped the technology platform of Adaptive Path&rsquo;s Events websites, preserving their rich history of content while creating a strong foundation for launching new sites year after year.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/adaptive-home">
      <h3 class="c-portfolio__title">
        <!-- [CODE] -->Adaptive Path Home&nbsp;Page
      </h3>
      <img src="/images/adaptivehome/adaptivehome-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    While working as an experience design intern at Adaptive Path, I dared to rewrite some of Douglas Bowman&rsquo;s own code and implemented a newly designed home page.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/bigwinds">
      <h3 class="c-portfolio__title">
        <!-- [CODE] -->Big Winds Commerce&nbsp;Rebuild
      </h3>
      <img src="/images/bigwinds/bigwinds-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    With the help of a local developer we rebuilt the Big Winds commerce engine in Ruby on Rails, to the tune of improved performance, easier maintenance, faster development, smarter product data, and a pixel-perfect grid design.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/codecraft">
      <h3 class="c-portfolio__title">
        <!-- [TALK] -->&ldquo;Codecraft&rdquo;&nbsp;Talk
      </h3>
      <img src="/images/codecraft/codecraft-banner-450.jpg" class="c-portfolio__img" alt="Codecraft Talk">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
      I gave a talk at GE&rsquo;s first-annual Design Conference, discussing the rapid pace of change in development practices over the last ten years and its implications for how we practice design.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/lean-day-west">
      <h3 class="c-portfolio__title">
        <!-- [TALK] -->&ldquo;Design at Scale&rdquo;&nbsp;Workshop
      </h3>
      <img src="/images/leandaywest/leandaywest-banner-450.jpg" class="c-portfolio__img" alt="Lean Day West Workshop">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
      At Lean Day West, Karel Barnoski and I conducted a half-day workshop where we taught UX professionals how to achieve better, faster UX in the enterprise by using design systems, sketching, and prototyping techniques.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/industrial-internet">
      <h3 class="c-portfolio__title">
        <!-- [TALK] -->&ldquo;Designing the Industrial Internet&rdquo;&nbsp;Talk
      </h3>
      <img src="/images/industrialinternet/industrialinternet-banner-450.jpg" class="c-portfolio__img" alt="Designing The Industrial Internet">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
      At IxDA San Francisco&rsquo;s &ldquo;Design Doing&rdquo; event, I gave a talk about my experience working as an interaction designer at GE, where I use an HTML/CSS/JS framework to design in code on an agile development team.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/on-aircraft">
      <h3 class="c-portfolio__title">
        <!-- [TALK] -->&ldquo;On Aircraft and Craft&rdquo; Interaction13&nbsp;Talk
      </h3>
      <img src="/images/onaircraft/onaircraft-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
      I gave a talk at GE&rsquo;s first-annual Design Conference, discussing the rapid pace of change in development practices over the last ten years and its implications for how we practice design.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/fastest-pivot">
      <h3 class="c-portfolio__title">
        <!-- [TALK] -->&ldquo;The Fastest Pivot You&rsquo;ll Ever Make&rdquo;&nbsp;Talk
      </h3>
      <img src="/images/fastestpivot/fastestpivot-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
      I gave a talk at RocketSpace in San Francisco to a packed house of startups on how they can use user experience principles to craft more desirable products more quickly.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/hunchworks">
      <h3 class="c-portfolio__title">
        <!-- [TALK] -->U.N. Global Pulse HunchWorks&nbsp;Talk
      </h3>
      <img src="/images/hunchworks/hunchworks-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
      Adaptive Path helped Global Pulse work through the messy human challenges of HunchWorks, a system designed to detect and mitigate emerging global crises before they occur.
    </div>
  </li>





  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/smartfm-app">
      <h3 class="c-portfolio__title">
        <!-- [DESIGN] -->Smart.fm iPhone App&nbsp;Concepts
      </h3>
      <img src="/images/smartfmapp/smartfmapp-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    As an experience design intern at Adaptive Path I worked with the Smart.fm team, engaging in extensive concept generation and ideation to inform the design direction of a new iPhone app.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/outside-in">
      <h3 class="c-portfolio__title">
        <!-- [DESIGN] -->Outside In: Bringing the Outdoors&nbsp;Indoors
      </h3>
      <img src="/images/outsidein/outsidein-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    I propose a series of principles to guide the design of systems that evoke a sense of the outdoors in indoor spaces. This eight-month project was my final capstone project in completing my master&rsquo;s degree in interaction design.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/energy-monitor">
      <h3 class="c-portfolio__title">
        <!-- [DESIGN] -->Home Energy Monitoring&nbsp;System
      </h3>
      <img src="/images/energymonitor/energymonitor-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    We propose a residential electricity monitoring and feedback system for the iPhone that allows users to track their home energy usage, and encourages them to reduce consumption. We presented this project at CHI 2009 and placed fourth overall in the Student Design Competition.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/food-advisor">
      <h3 class="c-portfolio__title">
        <!-- [DESIGN] -->Weight Watchers Fast Food&nbsp;Advisor
      </h3>
      <img src="/images/foodadvisor/foodadvisor-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    With this conceptual iPhone application, we aim to help users make good, healthy eating choices when they are at their most vulnerable, and when they are most likely to give into temptation: when they are eating out.
    </div>
  </li>




  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/fridge-alarm">
      <h3 class="c-portfolio__title">
        <!-- [FUN] -->Adaptive Path Fridge&nbsp;Alarm
      </h3>
      <img src="/images/fridgealarm/fridgealarm-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
      Adaptive Path had a meddlesome refrigerator with a door that wouldn&rsquo;t always shut, spoiling our food and wasting precious resources. I wired it up so it would play hit 80s music if it got left open too long.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/wiichuck-pong">
      <h3 class="c-portfolio__title">
        <!-- [FUN] -->Wiichuck&nbsp;Pong
      </h3>
      <img src="/images/wiichuckpong/wiichuckpong-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    I used an Arduino to connect a Nintendo Wii Nunchuk to my computer, and modified a game of Pong so I could control the paddles using the accelerometers in the controller.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/bixby-heart">
      <h3 class="c-portfolio__title">
        <!-- [FUN] -->Bixby Heart Dot&nbsp;Com
      </h3>
      <img src="/images/bixbyheart/bixbyheart-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    We built a web-based iPhone application to help our dear friend Mark Bixby keep an eye on his ticker during SXSW 2008. By choosing to feed him bacon or juice, the crowd had control over Mark&rsquo;s delicious fate.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/akzidenz-book">
      <h3 class="c-portfolio__title">
        <!-- [FUN] -->&ldquo;See Akzidenz First!&rdquo; Type Specimen&nbsp;Book
      </h3>
      <img src="/images/akzidenzbook/akzidenzbook-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    Inspired by the turn-of-the-century American railway lodges of the Glacier National Park region, I designed a specimen book for the Akzidenz-Grotesk type family.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/type-cliche">
      <h3 class="c-portfolio__title">
        <!-- [FUN] -->Typography Clich&eacute; Letterpress&nbsp;Book
      </h3>
      <img src="/images/typecliche/typecliche-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    As part of a project to familiarize ourselves with traditional letterpress machinery, we printed a book of typography clichés in the type shop at Indiana University.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/mx-recording">
      <h3 class="c-portfolio__title">
        <!-- [FUN] -->MX Conference Graphic&nbsp;Recording
      </h3>
      <img src="/images/mxrecording/mxrecording-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    At Adaptive Path&rsquo;s 2011 MX Conference I created enormous sketches as our speakers gave their talks, responding to their ideas and recording them in real time.
    </div>
  </li>


  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/light-sandbox">
      <h3 class="c-portfolio__title">
        <!-- [FUN] -->&ldquo;Light Sandbox&rdquo; Experience&nbsp;Prototype
      </h3>
      <img src="/images/lightsandbox/lightsandbox-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    The Light Sandbox allows people to use mirrors and prisms to manipulate light, projecting their creations onto a shared light column. We created experience prototypes to inform our design for this conceptual museum exhibit.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/professor-books">
      <h3 class="c-portfolio__title">
        <!-- [FUN] -->Super Secret Professor&nbsp;Books
      </h3>
      <img src="/images/professorbooks/professorbooks-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    A small team of design students banded together in secrecy to create a series of personalized hardcover books that share how much our HCI/d cohort appreciates our professors.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/lost-dreams">
      <h3 class="c-portfolio__title">
        <!-- [FUN] -->Dane and James&rsquo; Lost&nbsp;Dreams
      </h3>
      <img src="/images/lostdreams/lostdreams-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    We propose a cruise ship that uniquely caters to the people who typically go on cruises; namely, those who have faded Harley Davidson t-shirts, wear fanny packs, and have a favorite monster truck driver.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/bigwinds-photo">
      <h3 class="c-portfolio__title">
        <!-- [FUN] -->Big Winds Action&nbsp;Photography
      </h3>
      <img src="/images/bigwindsphoto/bigwindsphoto-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    As their resident photographer, I bulked up the Big Winds library with more than 3,500 local photographs that document their unique Columbia Gorge lifestyle.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/pirate-video">
      <h3 class="c-portfolio__title">
        <!-- [FUN] -->Captain Quicksilver&rsquo;s Pirate&nbsp;Video
      </h3>
      <img src="/images/piratevideo/piratevideo-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
      Working against a tight deadline, we put together an entry video for Captain Morrigan Quicksilver, firing off his first salvo in his quest to star in Mark Burnett&rsquo;s <em>Pirate Master</em> reality show.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/recipe-prototype">
      <h3 class="c-portfolio__title">
        <!-- [FUN] -->Recipe Application&nbsp;Prototype
      </h3>
      <img src="/images/recipeprototype/recipeprototype-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
    I took the wireframes and requirements for a proposed web form, and built an interactive high-fidelity XHTML/CSS/Javascript prototype for a fictional recipe application.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/brainsideout">
      <h3 class="c-portfolio__title">
        <!-- [CODE/DESIGN] -->Brainside&nbsp;Out
      </h3>
      <img src="/images/brainsideout/brainsideout-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
      Brainside Out has been my online haven for experimentation since 2001, taking form over the years as a website, weblog, portfolio, and even a freelance design business.
    </div>
  </li>

  <li class="c-portfolio__item o-layout">
    <a class="c-portfolio__link o-layout__item u-6/12@md" href="/portfolio/daneomatic">
      <h3 class="c-portfolio__title">
        <!-- [CODE/DESIGN] -->Daneomatic
      </h3>
      <img src="/images/daneomatic/daneomatic-banner-450.jpg" class="c-portfolio__img">
    </a>
    <div class="c-portfolio__description o-layout__item u-6/12@md">
      While I have been blogging for over seven years, Daneomatic has been my personal weblog since 2006.
    </div>
  </li>
</ul>
