---
title: "Designing the Industrial Internet"
slug: "industrialinternet"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@lg">&ldquo;Designing the Industrial Internet&rdquo; Talk</h1>
<h3 class="c-page-title--small c-page-title@lg">At GE I am an interaction designer embedded on an agile development team, where I use a robust HTML/CSS/JavaScript framework to design and build software for jet engines. This talk explores my experience working as a designer who codes.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-8/12@md">
    <div class="c-vimeo-player">
      <iframe src="http://player.vimeo.com/video/72421500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <p>You can also <a href="/images/industrialinternet/industrial-internet-slides-2013.pdf">download the slides</a> from my talk, or <a href="https://speakerdeck.com/thegreatsunra/designing-the-industrial-internet">browse the slides</a> at Speaker Deck.</p>
    <h3>About The Talk</h3>
    <p>I gave this talk at IxDA San Francisco&rsquo;s &ldquo;Design Doing&rdquo; event on August 8, 2013.</p>
  </div>
  <div class="o-layout__item u-4/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Responsibilities</h2>
    <p>Speaking</p>
    <h2 class="c-project-metadata__title">Project Team</h2>
    <p>Dane Petersen<br>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>August 2013</p>
    <h2 class="c-project-metadata__title">And Furthermore&hellip;</h2>
    <p>
      <a href="http://vimeo.com/72421500">Talk Video at Vimeo</a><br>
      <a href="/images/industrialinternet/industrial-internet-slides-2013.pdf">Presentation Slides</a> (6.9MB PDF)<br>
      <a href="https://speakerdeck.com/thegreatsunra/designing-the-industrial-internet">Slides at Speaker Deck</a>
    </p>
  </div>
</div>
