---
title: "Letterform Combinations"
slug: "letterforms"
portfolioIsActive: true
---

<h1>Letterform Combinations</h1>
<h3>In my typography course we explored figure/ground relationships by combining two letterforms into a single visual unit. This project helped fine-tune my appreciation for the variety of subtle differences that can be found in various typefaces.</h3>
<div class="o-layout">
  <div class="o-layout__item">
    <p class="shame-letterform-hero"><img src="/images/letterforms/dp-final-letterform-940.jpg" alt="Final Letterform Combination"></p>
    <h2>The Process</h2>
    <img src="/images/letterforms/dp-process-01-930.jpg" alt="Preliminary one-inch letterform sketches" class="c-img--rounded">
    <p>I started the exercise by generating numerous one-inch sketches of different letterform combinations. Limiting myself to the letters ‘d’ and ‘p’ forced me to work within tight constraints, while offering the promise of a personalized logotype should I generate a successful design.</p>
    <img src="/images/letterforms/dp-process-02-930.jpg" alt="Three-inch letterform sketches" class="c-img--rounded">
    <p>I chose three letterforms to expand into three-inch sketches, which were critiqued by the professor as well as other members of the class.</p>
    <img src="/images/letterforms/dp-process-03-930.jpg" alt="Three-inch sketches translated into Photoshop" class="c-img--rounded">
    <p>In an effort to evaluate the precision of my previous sketches, I began interacting with the letterforms in Photoshop. Despite their accuracy, I came away largely dissatisfied with their compositional qualities.</p>
    <img src="/images/letterforms/dp-process-04-930.jpg" alt="Further letterform explorations in Illustrator" class="c-img--rounded">
    <p>My designs received fairly scathing critiques in class. My fellow designers urged me to be more adventurous in my designs, and to experiment with rotation and canvas boundaries. I fired up Illustrator and began reworking a few sketches that I had generated all the way back at step one. By pushing scale and intersecting the canvas I was able to generate more interesting designs.</p>
  </div>
  <div class="o-layout__item u-4/12@md c-project-metadata">
    <h2>Project Responsibilities</h2>
    <p>Sketching, Visual Design</p>
    <h2>Project Technologies</h2>
    <p>Photoshop, Illustrator</p>
    <h2>Project Team</h2>
    <p>Dane Petersen<br>
    <h2>Project Timeline</h2>
    <p>January 2009</p>
  </div>
  <div class="o-layout__item u-8/12@md">
    <img src="/images/letterforms/dp-final-letterform-610.jpg" alt="Final Letterform Combination" class="c-img--rounded">
    The final letterform combination features a lowercase ‘p’ in Century Schoolbook inscribed inside a lowercase ‘d’ in Futura. The descender of the ‘p’ and the counter of the ‘d’ incidentally form a second lowercase ‘d’ that is inscribed inside the Futura letterform.</p>
  </div>
</div>
