---
title: "“Light Sandbox” Experience Prototype"
slug: "lightsandbox"
portfolioIsActive: true
---

<h1 class="c-page-title c-page-title--large@sm c-page-title--huge@lg">“Light Sandbox” Experience Prototype</h1>
<h3 class="c-page-title--small c-page-title@lg">We created a series of experience prototypes to inform our design for a conceptual museum exhibit. The Light Sandbox allows people to use mirrors and prisms to manipulate light, projecting their creations onto a shared light column.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-8/12@md">
    <div class="c-vimeo-player">
      <iframe src="https://player.vimeo.com/video/4721669" width="640" height="432" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
  <div class="o-layout__item u-4/12@md">
    <div class="c-project-metadata">
      <h2 class="c-project-metadata__title">Project Responsibilities</h2>
      <p>Concept Generation, Research, Sketching, Prototype Construction, Prototype Evaluation, Video Editing</p>
      <h2 class="c-project-metadata__title">Project Team</h2>
      <p><a href="http://www.lynndombrowski.com/">Lynn Dombrowski</a><br>
      Robert Kariuki<br>
      Dane Petersen</p>
      <h2 class="c-project-metadata__title">Project Timeline</h2>
      <p>April – May 2009</p>
    </div>
  </div>
  <div class="o-layout__item u-6/12@md">
    <a href="/images/lightsandbox/concepts-04.jpg"><img src="/images/lightsandbox/concepts-04-450.jpg" alt="Concepts 04" class="c-img c-img--rounded"></a>
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@md"><a href="/images/lightsandbox/concepts-01.jpg"><img src="/images/lightsandbox/concepts-01-450.jpg" alt="Concepts 01" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-6/12@md"><a href="/images/lightsandbox/concepts-02.jpg"><img src="/images/lightsandbox/concepts-02-450.jpg" alt="Concepts 02" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-6/12@md"><a href="/images/lightsandbox/concepts-03.jpg"><img src="/images/lightsandbox/concepts-03-450.jpg" alt="Concepts 03" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-6/12@md"><a href="/images/lightsandbox/concepts-05.jpg"><img src="/images/lightsandbox/concepts-05-450.jpg" alt="Concepts 05" class="c-img c-img--rounded"></a></li>
    </ul>
  </div>
  <div class="o-layout__item u-6/12@md">
    <h3>Teaching people about light<br>in a fun and engaging way.</h3>
    <p>After a brief research phase, our team knew that we wanted to create an immersive interactive museum exhibit that would teach people about the qualities of light. We considered ways to explain the different colors that comprise white light, the wave-like nature of light, and even the wave/particle duality, in fun and experiential ways.</p>
    <p>We generated numerous concepts, exploring ways to communicate these abstract concepts in a manner that would be accessible for a wide range of people, from children to seniors, and those who might have disabilities that affect their hearing, seeing or mobility.</p>
    <p>Some concepts included a rainbow room, where people could create their own rainbows; a prism tour, where people would “become” a particle of light passing through a prism; or a light music concept, where people could play instruments and create music based on the different colors of light.</p>
  </div>
  <div class="o-layout__item u-6/12@md u-push-6/12@md u-clear-both">
    <a href="/images/lightsandbox/prototype-sketches-03.jpg"><img src="/images/lightsandbox/prototype-sketches-03-450.jpg" alt="Prototype Sketches 03" class="c-img c-img--rounded"></a>
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@md"><a href="/images/lightsandbox/prototype-sketches-01.jpg"><img src="/images/lightsandbox/prototype-sketches-01-450.jpg" alt="Prototype Sketches 01" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-6/12@md"><a href="/images/lightsandbox/prototype-sketches-02.jpg"><img src="/images/lightsandbox/prototype-sketches-02-450.jpg" alt="Prototype Sketches 02" class="c-img c-img--rounded"></a></li>
    </ul>
  </div>
  <div class="o-layout__item u-6/12@md u-pull-6/12@md">
    <h3>Designing the Light Sandbox</h3>
    <p>The Light Sandbox consists of two main components. First, a series of “sandboxes“ surround a primary column. Each sandbox is an open space where visitors can use prisms and mirrors to manipulate their own beam of light. With the prism, visitors can split their white light into different colors, and can isolate particular colors by manipulating the mirrors in different ways. The sandbox gives visitors a personal space where they can experiment with light in a private setting.</p>
    <p>Second, a shared “light column“ is located inside the ring of individual sandboxes. When a visitor is satisfied with the light creation in her sandbox, she can use mirrors to direct it at the column. Her light creation will climb the column and project itself on the ceiling, bouncing around and interacting with any creations that other visitors have shared.</p>
    <p>The light column gives visitors a purposeful goal to work towards, and the shared aspect can help encourage social engagement. What’s more, since increasingly complex creations will interact with the light column and ceiling in different ways, experienced and inexperienced visitors alike can find themselves engaged with the light sandbox over prolonged periods.</p>
  </div>

  <div class="o-layout__item u-6/12@md u-clear-both">
    <a href="/images/lightsandbox/column-01.jpg"><img src="/images/lightsandbox/column-01-450.jpg" alt="Column 01" class="c-img c-img--rounded"></a>
    <div class="c-img__caption">Constructing our experience prototype, including the light column, light sandbox, mirrors, prisms, and beams of light.</div>
  </div>
  <div class="o-layout__item u-6/12@md">
    <h3>Testing the Light Sandbox</h3>
    <p>In an effort to gain insight into the museum experience we hope to provide with the Light Sandbox exhibit, we built a series of experience prototypes to engage users with a simulated version of our design. We constructed a prototype of the light sandbox, allowing our participants to use mirrors and prisms to manipulate beams of light, simulated with pieces of foam core and colored popsicle sticks.</p>
    <p>With a series of colored Christmas lights and a white sheet we approximated the light column, using the Wizard Of Oz technique to respond to the users’ input during testing. We wanted our users to properly take on the meditative, experimental mindset of the exhibit, and so we dimmed the lights and put on a trance-like drum loop as they were interacting with our prototypes. This turned out to be quite effective, and even the children who tested our design took on a calm, playful demeanor as they built their light creations.</p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <a href="/images/lightsandbox/sandbox-02.jpg"><img src="/images/lightsandbox/sandbox-02-450.jpg" alt="Sandbox 02" class="c-img c-img--rounded"></a>
  </div>
  <div class="o-layout__item u-6/12@md">
    <a href="/images/lightsandbox/objects-01.jpg"><img src="/images/lightsandbox/objects-01-450.jpg" alt="Objects 01" class="c-img c-img--rounded"></a> 
    <div class="c-img__caption">The simulated beams of spectral light for our experience prototype.</div>
  </div>
  <div class="o-layout__item u-6/12@md u-clear-both">
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@md"><a href="/images/lightsandbox/column-02.jpg"><img src="/images/lightsandbox/column-02-450.jpg" alt="Column 02" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-6/12@md"><a href="/images/lightsandbox/column-03.jpg"><img src="/images/lightsandbox/column-03-450.jpg" alt="Column 03" class="c-img c-img--rounded"></a></li>
    </ul>
  </div>
  <div class="o-layout__item u-6/12@md">
    <ul class="o-layout">
      <li class="o-layout__item u-4/12@md"><a href="/images/lightsandbox/objects-02.jpg"><img src="/images/lightsandbox/objects-02-450.jpg" alt="Objects 02" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-4/12@md"><a href="/images/lightsandbox/objects-03.jpg"><img src="/images/lightsandbox/objects-03-450.jpg" alt="Objects 03" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-4/12@md"><a href="/images/lightsandbox/objects-04.jpg"><img src="/images/lightsandbox/objects-04-450.jpg" alt="Objects 04" class="c-img c-img--rounded"></a></li>
    </ul>
    <!-- <img src="/images/lightsandbox/sandbox-01.jpg" alt="Sandbox 01" width="460" class="c-img c-img--rounded"> -->
  </div>
</div>
