---
title: "Lost Mountain Website Redesign"
slug: "lostmountain"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@lg">Lost Mountain Website&nbsp;Redesign</h1>
<h3 class="c-page-title">Lost Mountain Clayworks is the eclectic pottery studio of Mark Heimann, an adventuresome fellow whose resumé includes riding elephants, starring in Kevin Costner’s <em>The Postman</em>, and acting under the pirate alias Captain Morrigan&nbsp;Quicksilver.</h3>
<h3 class="c-page-title--small">While running Brainside Out I designed and launched the new Lost Mountain website, creating a rugged look and bringing online shopping to Quicksilver’s sturdy line of pirate&nbsp;stoneware.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item">
    <img src="/images/lostmountain/screenshot-01-800.jpg" alt="Screenshot of the redesigned Lost Mountain Clayworks website" class="c-img c-img--rounded">
    <div class="c-img__caption">
      The redesigned Lost Mountain Clayworks&nbsp;website.
    </div>
    <img src="/images/lostmountain/quicksilver-mackay-800.jpg" alt="Captain Morrigan Quicksilver, with his good pirate mate The MacKay" class="c-img c-img--rounded">
    <div class="c-img__caption">
      Captain Morrigan Quicksilver, with his good pirate mate The&nbsp;MacKay.
    </div>
  </div>
  <div class="o-layout__item u-6/12@md">
    <img src="/images/lostmountain/multiplicitea.jpg" alt="Multiplicitea, a canonical example of Mark Heimann's work" class="c-img c-img--rounded">
    <div class="c-img__caption">
      Multiplicitea, a canonical example of Mark Heimann’s&nbsp;work.
    </div>
  </div>
  <div class="o-layout__item u-6/12@md">
    <img src="/images/lostmountain/pirate-pots-610.jpg" alt="A fine collection of Captain Morrigan Quicksilver's Pirate Pots" class="c-img c-img--rounded">
    <div class="c-img__caption">
      A fine collection of Captain Morrigan Quicksilver’s Pirate&nbsp;Pots.
    </div>
  </div>
  <div class="o-layout__item">
    <hr class="o-separator">
    <div class="c-project-metadata">
      <h2 class="c-project-metadata__title">Project Responsibilities</h2>
      <p>Website Architecture, Design and Layout, Project Management, Design Implementation, Front-End Development, WordPress Customization, PayPal Integration, Copywriting, Webhost Migration</p>
      <h2 class="c-project-metadata__title">Project Team</h2>
      <p>Dane Petersen<br>
        Mark Heimann, Lost Mountain</p>
      <h2 class="c-project-metadata__title">Project Technologies</h2>
      <p>XHTML/CSS, JavaScript, PHP, MySQL, WordPress, PayPal</p>
      <h2 class="c-project-metadata__title">Project Timeline</h2>
      <p>January – May 2006<br>
        Launched May 2006</p>
    </div>
  </div>
</div>
