---
title: "MX Conference Graphic Recording"
slug: "mxrecording"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@lg">MX Conference Graphic Recording</h1>
<h3 class="c-page-title--small c-page-title@lg">At Adaptive Path’s 2011 MX Conference I conducted live graphic recording sessions during our speakers’ talks, furiously sketching their key ideas on enormous 4' x 8' sheets of paper.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item">
    <img src="/images/mxrecording/cindy-chastain-graphic-930.jpg" class="c-img--rounded">
    <p><a href="http://mxconference.com/2011/videos/cindy-chastain-video">Lessons From The Front Lines of Cross-Channel Customer Experience</a>, a presentation by Cindy Chastain of R/GA.</p>
    <img src="/images/mxrecording/tomer-sharon-graphic-930.jpg" class="c-img--rounded">
    <p><a href="http://mxconference.com/2011/videos/tomer-sharon-2">Winning That Elusive Buy-In For UX Research Projects</a>, a presentation by Tomer Sharon of Google.</p>
  </div>
  <div class="o-layout__item u-8/12@md">
    <p>The whole experience was absolutely thrilling, channeling those creative aspects of performance and improvisation that I had honed in all my days of studying jazz music. It all turned out great and everyone loved my sketches, most of all the speakers themselves!</p>
  </div>
  <div class="o-layout__item u-4/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Responsibilities</h2>
    <p>Sketching</p>
    <h2 class="c-project-metadata__title">Project Team</h2>
    <p>Dane Petersen</p>
    <h2 class="c-project-metadata__title">Project Technologies</h2>
    <p>Paper, Markers, Dry Pastels</p>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>March 2011</p>
    <h2 class="c-project-metadata__title">And Furthermore…</h2>
    <p>
      <a href="https://www.flickr.com/photos/thegreatsunra/sets/72157627181543099/detail/">Sketches at Flickr<br>
      <a href="https://vimeo.com/21172747">Cindy Chastain’s Talk at Vimeo</a><br>
      <a href="https://vimeo.com/21124363">Tomer Sharon’s Talk at Vimeo</a><br>
      <a href="http://mxconference.com/2011/">MX Conference 2011</a>
    </p>
  </div>
</div>
