---
title: "Outside In: Bringing the Outdoors Indoors"
slug: "outsidein"
portfolioIsActive: true
---

<h1 class="c-page-title c-page-title--large@sm c-page-title--huge@lg">Outside In: Bringing the Outdoors&nbsp;Indoors</h1>
<h3 class="c-page-title--small c-page-title@lg">In my final capstone project for completing my master’s degree in interaction design, I spent eight months discovering how to evoke a sense of the natural world in indoor environments. My work resulted in a series of design principles that refine our understanding of the outside and inside worlds, and identified five lenses to help structure how the natural world is meaningful to&nbsp;us.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-8/12@md">
    <h3>The Presentation</h3>
    <div class="c-vimeo-player">
      <iframe src="https://player.vimeo.com/video/11286394" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <a href="/images/outsidein/dane-petersen-outside-in-presentation-slides.pdf"><img src="/images/outsidein/dane-petersen-outside-in-presentation-slides-cover-610.jpg" alt="The cover slide of my capstone presentation about bringing the outdoors indoors." class="c-img c-img--rounded"></a>
    <p class="c-img__caption"><a href="/images/outsidein/dane-petersen-outside-in-presentation-slides.pdf">Download my presentation slides.</a> (35MB PDF)</p>
    <h3>The Paper</h3>
    <a href="/images/outsidein/dane-petersen-outside-in-paper.pdf"><img src="/images/outsidein/dane-petersen-outside-in-paper-cover-610.jpg" alt="The cover of my capstone paper about bringing the outdoors indoors." class="c-img c-img--rounded"></a>
    <p class="c-img__caption"><a href="/images/outsidein/dane-petersen-outside-in-paper.pdf">Download my complete capstone paper.</a> (25MB PDF)</p>
    <h3>The Sketches</h3>
    <a href="/images/outsidein/dane-petersen-outside-in-sketches.pdf"><img src="/images/outsidein/dane-petersen-outside-in-sketches-cover-610.jpg" alt="A single page of the numerous sketches I produced while pursuing this project." class="c-img c-img--rounded"></a>
    <p class="c-img__caption"><a href="/images/outsidein/dane-petersen-outside-in-sketches.pdf">Download my capstone sketches.</a> (139MB PDF)</p>
    <h3>The Poster</h3>
    <a href="/images/outsidein/dane-petersen-outside-in-poster.jpg" rel="nozoom"><img src="/images/outsidein/dane-petersen-outside-in-poster-610.jpg" alt="A poster explaining my proposed design principles for evoking a sense of the outdoors indoors." class="c-img c-img--rounded"></a>
  </div>
  <div class="o-layout__item u-4/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Responsibilities</h2>
    <p>Primary Research, Secondary Research, Concept Generation, Sketching, Prototyping, Writing, Designing, Presenting, Reflecting</p>
    <h2 class="c-project-metadata__title">Project Team</h2>
    <p>Dane Petersen</p>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>September 2009 – May 2010</p>
    <h2 class="c-project-metadata__title">And Furthermore…</h2>
    <p><a href="https://www.flickr.com/photos/thegreatsunra/sets/72157622558573568/">Sketch Gallery at Flickr</a><br>
    <a href="https://www.flickr.com/photos/thegreatsunra/sets/72157623355444833/">Prototype Gallery at Flickr</a><br>
    <a href="https://vimeo.com/11286394">Presentation at Vimeo</a><br>
    </p>
  </div>
</div>
