---
title: "Captain Quicksilver&rsquo;s Pirate Video"
slug: "piratevideo"
portfolioIsActive: true
---

<h1 class="c-page-title--huge c-page-title--large@sm c-page-title--huge@lg">Captain Quicksilver&rsquo;s Pirate Video</h1>
<h3 class="c-page-title--small c-page-title@lg">Working against an extremely tight deadline, we put together an entry video for Captain Morrigan Quicksilver, firing off his first salvo in his quest to star in Mark Burnett&rsquo;s <em>Pirate Master</em> reality show.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-9/12@md content">
    <div class="c-vimeo-player">
      <iframe src="http://player.vimeo.com/video/2505755" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <p>Captain Morrigan Quicksilver is the pirate alias of Mark Heimann, who runs a small pottery studio in Oregon known as <a href="/portfolio/lost-mountain">Lost Mountain Clayworks</a>. Mark was interested in starring in Mark Burnett's <em>Pirate Master</em> reality show, so we put together a short audition film that details a few facets of his eclectic personality. Indeed, his video includes flintlock pistol-firing, axe-throwing, and even a bit of pottery. We shot the film in a day, edited it that evening, and overnighted the DVD the following morning.</p>
  </div>
  <div class="o-layout__item u-3/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Team</h2>
    <p>Dane Petersen<br>
      <a href="http://www.lostmtnclay.com/" rel="external">Mark Heimann</a><br>
      <a href="http://www.captjackspiratehats.com/" rel="external">Jeff MacKay</a></p>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>Filmed, Edited and Delivered, December 2006</p>
  </div>
</div>
