---
title: "Recipe Application Prototype"
slug: "recipeprototype"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title@sm c-page-title--large@md c-page-title--huge@lg">Recipe Application&nbsp;Prototype</h1>
<h3 class="c-page-title--small c-page-title@lg">In responding to a design challenge issued by a leading web development firm, I took the wireframes and requirements for a proposed web form, and built an interactive high-fidelity XHTML/CSS/JavaScript prototype for a fictional recipe&nbsp;application.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-6/12@md">
    <h3>The Challenge:<br>
    Design a Recipe Application Form</h3>
    <img src="/images/recipeprototype/resources-01-460.jpg" alt="Recipe application resources and constraints" class="c-img">
    <p>In this scenario, I was asked to design a form for a recipe application. My constraints included a wireframe for the web form, the site’s color palette, and a sign up button that the client adored. My challenge was to interpret these resources, and create a web form that users would find easy to use and aesthetically pleasing.</p>
    <h3>The Process:<br>
    From Sketches to Photoshop to HTML</h3>
    <ul class="o-layout">
      <li class="o-layout__item u-6/12@md"><a href="/images/recipeprototype/sketches-01.jpg"><img src="/images/recipeprototype/sketches-01-460.jpg" alt="Process sketches for recipe form" class="c-img c-img--rounded"></a></li>
      <li class="o-layout__item u-6/12@md"><a href="/images/recipeprototype/sketches-02.jpg"><img src="/images/recipeprototype/sketches-02-460.jpg" alt="Process sketches for recipe form" class="c-img c-img--rounded"></a></li>
    </ul>
    <p>Before even starting up my computer, I began sketching my interpretations of the wireframe, visualizing the meaning behind this recipe form. I identified cooking aficionados as my target user group, and imagined that this form would be used in the context of transcribing an existing physical recipe card into the web application.</p>
    <p>To that end, I unpacked a number of layout issues with the wireframe, and identified a need to rewrite the language of the wireframe with users in mind. The act of sketching helped me quickly identify these design problems, which included confusing instructions, ambiguous input labels, and counter-intuitive field placements.</p>
    <p>The ‘Ingredients’ section was especially complex, as ‘Quantity’ is a confusing label that doesn’t consider non-integer amounts. I renamed this field to ‘Amount’ and swapped it with the ‘Ingredient’ field to better match the common vernacular of recipes, where the amount comes before the ingredient (i.e. one 14 oz. can of black beans, 1/4 cup milk, 1 teaspoon salt or 4 large tomatoes). I also relocated the ‘Add Ingredient’ tool to the bottom of the fieldset, so it would be closer to where the application would add new ingredients.</p>
  </div>
  <div class="o-layout__item u-6/12@md">
    <h3>The Solution:<br>
    An Interactive Web Prototype</h3>
    <a href="https://labs.thegreatsunra.com/recipe" rel="external"><img src="/images/recipeprototype/screenshot-01-460.jpg" alt="Screenshot of high-fidelity recipe web form prototype"></a></p>
    <h3><a href="https://labs.thegreatsunra.com/recipe" class="u-go">Visit the Interactive Prototype</a></h3>
    <p>After sketching, I fired up Photoshop to begin translating my sketches into a reasonable design comp. As I refined the design at this higher fidelity, I started constructing a skeleton of the web form in standards-based XHTML and CSS, using definition lists to structure the labels and input fields.</p>
    <p>Upon finalizing my Photoshop comps, I began integrating my visual assets with the HTML web form, building an interactive high-fidelity prototype.</p>
    <p>Using jQuery I added some lightweight JavaScript functionality, to demonstrate how the form should behave in use. I added notices to indicate required fields that had been skipped, included a helper flag for the ingredient’s ‘Amount’ field, and built the functions for adding and deleting ingredients and steps.</p>
    <div class="c-project-metadata">
      <h2 class="c-project-metadata__title">Project Responsibilities</h2>
      <p>Sketching, Prototyping, Visual Design, Front-End Development</p>
      <h2 class="c-project-metadata__title">Project Technologies</h2>
      <p>Photoshop, XHTML/CSS, JavaScript, jQuery</p>
      <h2 class="c-project-metadata__title">Project Team</h2>
      <p>Dane Petersen<br>
      <h2 class="c-project-metadata__title">Project Timeline</h2>
      <p>September 2009</p>
    </div>
  </div>
</div>
