---
title: "Tuesdays Robot Website Redesign"
slug: "tuesdaysrobot"
portfolioIsActive: true
---

<h1 class="c-page-title c-page-title--large@md c-page-title--huge@lg">Tuesdays Robot Website Redesign</h1>
<h3 class="c-page-title--small c-page-title@lg">Heavily influenced by Bob Dylan and The Band, Tuesdays Robot is a country rock band hailing from Minneapolis. While running Brainside Out I designed and launched a new website to correspond with the release of their first official album.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-8/12@md">
    <img src="/images/tuesdaysrobot/screenshot-01-800.jpg" alt="Screenshot of the redesigned Tuesdays Robot website" class="c-img c-img--rounded">
  </div>
  <div class="o-layout__item u-4/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Responsibilities</h2>
    <p>Website Design, Design Implementation, Front-End Development, Movable Type Customization, Flash Music Player</p>
    <h2 class="c-project-metadata__title">Project Team</h2>
    <p>Dane Petersen<br>
      Rick Widen, Tuesdays Robot</p>
    <h2 class="c-project-metadata__title">Project Technologies</h2>
    <p>XHTML/CSS, JavaScript, PHP, MySQL, Flash, Movable Type</p>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>February – April 2006</p>
  </div>
</div>
