---
title: "Tuesdays Robot Website Redesign"
slug: "tuesdaysrobot"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@lg">Tuesdays Robot Website&nbsp;Redesign</h1>
<h3 class="c-page-title">Heavily influenced by Bob Dylan and The Band, Tuesdays Robot is a country rock band hailing from Minneapolis. While running Brainside Out I designed and launched a new website to correspond with the release of their first official&nbsp;album.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item">
    <img src="/images/tuesdaysrobot/screenshot-01-800.jpg" alt="Screenshot of the redesigned Tuesdays Robot website" class="c-img c-img--rounded">
    <div class="c-img__caption">
      The redesigned Tuesdays Robot&nbsp;website.
    </div>
    <hr class="o-separator">
  </div>
  <div class="o-layout__item c-project-metadata">
    <h2 class="c-project-metadata__title">Project Responsibilities</h2>
    <p>Website Design, Design Implementation, Front-End Development, Movable Type Customization, Flash Music Player</p>
    <h2 class="c-project-metadata__title">Project Team</h2>
    <p>Dane Petersen<br>
      Rick Widen, Tuesdays Robot</p>
    <h2 class="c-project-metadata__title">Project Technologies</h2>
    <p>XHTML/CSS, JavaScript, PHP, MySQL, Flash, Movable Type</p>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>February – April 2006</p>
  </div>
</div>
