---
title: "WiiChuck Pong"
slug: "wiichuckpong"
portfolioIsActive: true
---

<h1 class="c-page-title--large c-page-title--huge@lg">WiiChuck Pong</h1>
<h3 class="c-page-title--small c-page-title@lg">Connecting a Nintendo Wii Nunchuk to my computer through an Arduino board, I modified the Processing code for a game of Pong so I could control the paddles using the Nunchuk&rsquo;s built-in accelerometers.</h3>
<hr class="o-separator">
<div class="o-layout">
  <div class="o-layout__item u-8/12@md">
    <div class="c-vimeo-player">
      <iframe src="https://player.vimeo.com/video/9786349" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <p>If you&rsquo;re interested in building your own, you can <a href="https://github.com/thegreatsunra/WiiChuck-Pong">download all the Arduino and Processing code</a> at GitHub.</p>
  </div>
  <div class="o-layout__item u-4/12@md c-project-metadata">
    <h2 class="c-project-metadata__title">Project Responsibilities</h2>
    <p>Wii Nunchuk Hacking, Arduino <span class="u-ampersand">&amp;</span> Processing Development</p>
    <h2 class="c-project-metadata__title">Project Technologies</h2>
    <p>Arduino, Processing</p>
    <h2 class="c-project-metadata__title">Project Team</h2>
    <p>Dane Petersen</p>
    <h2 class="c-project-metadata__title">Project Timeline</h2>
    <p>February 2010</p>
  </div>
</div>
